@model  COAD.CORPORATIVO.Model.Dto.ProdutosDTO
@using Coad.GenericCrud.Extensions
@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        $(":input").inputmask();
    });
</script>

@Scripts.Render("~/Scripts/appScripts/comercial.js")

@section breadcrumbs {

    <ol class="breadcrumb breadcrumb-dashboard">
        <li><i class="fa fa-home"></i><a href="/Home/index">Home </a></li>
        <li class="active">Oferta</li>
    </ol>
}

<style type="text/css">
    .body {
        background-color: #e8e8e8 !important;
    }
</style>



<div ng-app="appModule">
    <div ng-controller="ComercialController" class="padding content" data-ng-init="carregarTela();canPrint=true" ng-cloak>
        <div id="page-wrapper">
            <div class="panel panel-corp">
                <div app-message></div>
                <div class="panel-heading bold head-panel">
                    <span class="glyphicon glyphicon-filter"></span>Filtros
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Opções<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="javascript:void(0)" app-post="@Url.Action("Editar")?clienteId=" title="Editar" class="blue">Novo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row hidden-print">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="GRUPO_ID">Grupo</label>
                                @Html.DropDownList("GRUPO_ID", new SelectList(ViewBag.grupos, "GRUPO_ID", "GRU_DESCRICAO"), "Selecione", new { @class = "form-control", ng_model = "filtro.grupo_id" })
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="sigla">Vigência</label>
                            <select ng-model="filtro.vigencia" class="form-control">
                                <option value="0"></option>
                                <option value="1">Janeiro</option>
                                <option value="2">Fevereiro</option>
                                <option value="3">Março</option>
                                <option value="4">Abril</option>
                                <option value="5">Maio</option>
                                <option value="6">Junho</option>
                                <option value="7">Julho</option>
                                <option value="8">Agosto</option>
                                <option value="9">Setembro</option>
                                <option value="10">Outubro</option>
                                <option value="11">Novembro</option>
                                <option value="12">Dezembro</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-1">
                            <label for="sigla">UF</label>
                            <input type="text" id="contrato" ng-model="filtro.uf" class="form-control" />
                        </div>
                        <div class="form-group col-lg-1">
                            <label for="sigla">Atraso</label>
                            <input type="text" id="contrato" ng-model="filtro.diasatraso" class="form-control" />
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="sigla">Ano Contrato</label>
                            <input type="text" id="Contratos" ng-model="filtro.qtdecontratos" class="form-control" />
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="sigla">Ano Coad</label>
                            <input type="text" id="contrato" ng-model="filtro.anocoad" class="form-control" />
                        </div>
                        <div class="form-group col-lg-2">
                            <label>Contrato Quitado</label>
                            <label class="switch switch switch-round" style="padding-top: 5px;">
                                <input type="checkbox" id="quitado" ng_model="filtro.quitado" class="form-control" value="false">
                                <span class="switch-label" data-on="SIM" data-off="NÃO"></span>
                            </label>
                        </div>

                        
                    </div>
                    <div class="col-lg-12" ng-if="export.lnkPath!=null&&export.lnkPath!=''">
                        <div class="form-group">
                            <a href="{{export.lnkPath}}" ng-click="export.lnkPath=null"><i class="glyphicon glyphicon-cloud-download"></i> Donwload do arquivo ( {{export.lnkPath}} ) </a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-default" ng-click="buscarClientesAtivos()"><span class="glyphicon glyphicon-search"></span>&nbspPesquisar</button>
                    <a class="btn btn-default" href="javascript:void(0)" ng-click="expPlanilha()" title="Exportar a tabela para o excel">
                        <i class="fa fa-file-excel-o blue"></i>&nbspExportar
                    </a>
                </div>
            </div>


            <div class="panel panel-default" ng-show="listaClientesAtivos">
                <!-- Default panel contents -->
                <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-book"></span>&nbspClientes</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <!-- <input type="text" ng-model="dataTest" app-date/>  -->
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr class="info">
                                    <th style="text-align: center;"><span style="font-size:smaller;">Assinatura</span></th>
                                    <th><span style="font-size:smaller;">UF</span></th>
                                    <th><span style="font-size:smaller;">CNPJ/CPF</span></th>
                                    <th><span style="font-size:smaller;">Nome</span></th>
                                    <th><span style="font-size:smaller;">EMAIL</span></th>
                                    <th style="text-align: center;"><span style="font-size:smaller;">Ano Vigência</span></th>
                                    <th style="text-align: center;"><span style="font-size:smaller;">Inicio</span></th>
                                    <th style="text-align: center;"><span style="font-size:smaller;">Final</span></th>
                                    <th style="text-align: center;"><span style="font-size:smaller;">Faturamento</span></th>
                                    <th style="text-align: center;"><span style="font-size:smaller;">Em Aberto</span></th>
                                    <th style="text-align: center;"><span style="font-size:smaller;">Ano Contrato</span></th>
                                    <th style="text-align: center;"><span style="font-size:smaller;">Qtde Renov.</span></th>
                                    @*<th style="text-align: center;">Ano COAD</th>*@
                                    <th style="text-align: center;"><span style="font-size:smaller;">Valor</span></th>
                                </tr>
                            </thead>
                            <tr ng-repeat="item in listaClientesAtivos">
                                <td style="text-align: center;"><span style="font-size:smaller;">{{item.ASN_NUM_ASSINATURA}}</span> </td>
                                <td style="text-align: center;"><span style="font-size:smaller;">{{item.END_UF}}</span> </td>
                                <td><span style="font-size:smaller;">{{item.CLI_CPF_CNPJ}}</span> </td>
                                <td><span style="font-size:smaller;">{{item.CLI_NOME}}</span> </td>
                                <td><span style="font-size:smaller;">{{item.AEM_EMAIL}}</span></td>
                                <td style="text-align: center;"><span style="font-size:smaller;"> {{item.CTR_ANO_VIGENCIA}}</span></td>
                                <td style="text-align: center;"><span style="font-size:smaller;" app-show-date="item.CTR_DATA_INI_VIGENCIA"></span></td>
                                <td style="text-align: center;"><span style="font-size:smaller;" app-show-date="item.CTR_DATA_FIM_VIGENCIA"></span></td>
                                <td style="text-align: center;"><span style="font-size:smaller;" app-show-date="item.CTR_DATA_FAT"></span></td>
                                <td style="text-align: center;"><span style="font-size:smaller;">{{item.PAR_QTDE_ABERTO}}</span> </td>
                                <td style="text-align: center;"><span style="font-size:smaller;">{{item.QTDE_CONTRATOS}}</span> </td>
                                <td style="text-align: center;"><span style="font-size:smaller;">{{item.QTDE_RENOVACAO}}</span> </td>
                                @*<td style="text-align: center;"><span style="font-size:smaller;">{{item.ASN_ANO_COAD}}</span> </td>*@
                                <td style="text-align: center;"><span style="font-size:smaller;"  app-show-dinheiro="item.CTR_VLR_BRUTO"></span></td>
                            </tr>
                        </table>
                    </div>
                    <app-pagination request-page="paginaReq" load-function="buscarClientesAtivos(paginaReq)"></app-pagination>
                </div>
            </div>
        </div>

    </div>
</div>
