<div app-modal="Modal-CPF" header="Validar CPF">
    <div class="panel panel-default">
        <div class="panel-body">
            <iframe src="http://cpf.receita.fazenda.gov.br/situacao/"  height="400" width="100%"></iframe>
        </div>
    </div>
</div>