<div app-modal="Modal-CNPJ" header="Validar CNPJ">
    <div class="panel panel-default">
        <div class="panel-body">
            <iframe src="http://www.receita.fazenda.gov.br/pessoajuridica/cnpj/cnpjreva/Cnpjreva_Solicitacao.asp" height="400" width="100%"></iframe>
        </div>
    </div>
</div>

