
<div class="panel panel-default" @*ng-class="{
                                            'panel-info': notify.URG_NTF_ID == 'INFO',
                                            'panel-warning': notify.URG_NTF_ID == 'WARN',
                                            'panel-danger': notify.URG_NTF_ID == 'ERROR',
                                            'panel-primary': notify.URG_NTF_ID == 'PRIORITY',
                                            'panel-success': notify.URG_NTF_ID == 'SUCCESS',
                                            'panel-default': !notify.URG_NTF_ID
                                        }"*@>    
                <div class="panel-body limit-modal-height">
                                <div class="row">
                                    <div class="form-group col-sm-12 text">
                                            @Html.Label("Urgência"): 
                                            
                                       <span class="label font-11" ng-class="{'label-info': notify.URG_NTF_ID == 'INFO',
                                            'label-warning': notify.URG_NTF_ID == 'WARN',
                                            'label-danger': notify.URG_NTF_ID == 'ERROR',
                                            'label-primary': notify.URG_NTF_ID == 'PRIORITY',
                                            'label-success': notify.URG_NTF_ID == 'SUCCESS',
                                            'label-default': !notify.URG_NTF_ID}">
                                           {{$parent.notify.URGENCIA_NOTIFICACAO.URG_NTF_DESCRICAO}}
                                       </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12 text">
                                            @Html.Label("Tipo"):
                                            {{$parent.notify.TIPO_NOTIFICACAO.TP_NTF_DESCRICAO}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                            @Html.Label("Descrição"):
                                        <figure class="highlight">
                                            <pre style="white-space:initial;">{{$parent.notify.NTF_DESCRICAO}}</pre>
                                        </figure>
                                            @*<textarea class="form-control" disabled="disabled" ng-model=""></textarea>*@                                          
                                    </div> 
                                </div>
                                <span ng-if="notify.TP_NTF_ID == 1">
                                    @Html.Partial("Partials/_NotificacaoAgendaPartial")
                                </span>
                           </div>
                            <div class="panel-footer">
                                 <button class="btn btn-default" data-dismiss="modal">OK</button>
                                <button ng-if="notify.TP_NTF_ID == 1 || notify.TP_NTF_ID == 2 || notify.TP_NTF_ID == 4" 
                                    class="btn btn-default"  data-placement="right" 
                                    title="Abre a tela de edição do cliente." ng-click="IrParaCliente()">Ir Para Cliente</button>
                             </div>
                    <div>                         
                  </div>
                </div>  
