    
@using COAD.SEGURANCA.Repositorios.Base

<div app-modal="modal-cliente" header="Dados do Cliente" submodal>
    @Html.Partial("partials/_ModalClientePartialInterno")

</div>
    <div app-modal="modalImportacao" header="Importação de Cliente" submodal> 
                            
        @Html.Partial("Partials/Modais/_ModalImportarClientePartial")
    </div>   