@model  COAD.CORPORATIVO.Model.Dto.ClienteDto                   
@using COAD.SEGURANCA.Repositorios.Base
   <div app-modal="modal-remover-regiao" header="Remover Região" size="small">
         
            <div>
                <div class="panel panel-corp">
                    <div class="panel panel-body">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="selectRegiao">Região</label> 
                            <select ng-options="reg.RG_ID as reg.RG_DESCRICAO for reg in lstRegioesDoCliente"
                                    ng-model="$parent.modalCarteiramento.RG_ID" id="selectRegiao1" class="form-control">
                                    <option value="">Selecione</option>
                            </select>
                        </div>
                    </div> 
                   </div>
                
                 <!-- Default panel contents -->
      
                <div class="panel-footer">
                    <button class="btn btn-danger" 
                        app-switch-button="removerRegiao()"
                        switch-conf="[{label : 'Remover Região', state : 'remove'}, {label : 'Removendo...', state : 'removing', disabled : true}]"
                        switch-var="$parent.buttonRemoveRegiao"></button>       
                </div>
               </div>
            </div>
        </div>
   