<div class="row">
    <div class="col-md-3 offset-md-1">
        <a class="btn btn-primary" href="#!/HomeTrabalhista" role="button">Voltar</a>
    </div>
</div>

<div>
    <div class="container">
        <div class="row justify-content-c">
            <div class="col-md-12 col-sm-12 col-12" style="background-color: #fbfbfb;">
                <iframe src="http://corp.coad.com.br/TabelaDinamica/Simulador/5f4957bf-f6e7-4afc-9fc6-45e6e918b36f" class="col-md-12 col-sm-12 col-12 embed-responsive embed-responsive-16by9" style="height: 2500px;" ></iframe>
            </div>
        </div>
    </div>
</div>