
@model  COAD.CORPORATIVO.Model.Dto.ClienteDto
@using COAD.SEGURANCA.Repositorios.Base
@using Coad.GenericCrud.Extensions
@using COAD.CORPORATIVO.SessionUtils
@using GenericCrud.ActionResultTools
@{
    ViewBag.Title = "Importações";
    bool gerente = (SessionContext.IsGerenteDepartamento("franquiado", true) || SessionContext.IsGerenteDepartamento("franquiador", true));
    bool franquiador = SessionContext.IsGerenteDepartamento("franquiador", true);

    bool podeFaturar = SessionUtil.PossuiPermissaoParaFaturar();
    string podePagar = (podeFaturar) ? "1 == 1" : "1 == 2";
    ViewBag.defer = @"defer='defer'";  

}

@section breadcrumbs {

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Gerenciar Agendamentos de Importação</li>         
        
    </ol>
}

<style type="text/css">
    .body {
        background-color: #e8e8e8 !important;
    }
</style>
<script src="@UrlCorp.Content("~/Scripts{path}negocio/franquia.js")" defer="defer"></script>
<div ng-app="appModule">    
    <div ng-controller="FranquiaController" class="padding content" ng-cloak 
        data-ng-init="initList();">

        <div app-message></div>
        <!-- Collapse -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel bg-grey no-border">
                <div role="tab" id="headingOne" class="padding-bottom-10">
                    <a role="button" class="btn btn-info text-20" style="width: 100%;" aria-expanded="true" aria-controls="panelImportacaoSuspect" data-toggle="collapse" data-parent="#accordion" href="#panelImportacaoSuspect"><span class="glyphicon glyphicon-import"></span> Suspects Que Fazem Parte da Importação</a>
                </div>
                <div id="panelImportacaoSuspect" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div>

                        <section id="suspects-importacao">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div app-filtro-topo="filters" model="filtro" list="lstFiltrosUtilizados" flag-abrir="abrirFiltro" acao-pesquisar="pesquisar()" watch-pesquisa="dispararPesquisa">
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-corp">
                                <!-- Default panel contents -->
                                <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-shopping-cart"></span>Listagem de Importação de Suspects</div>

                                <div class="panel-body">

                                    <div class="table-responsive">

                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>
                                                        Nome
                                                    </th>
                                                    <th>Regiao</th>
                                                    <th colspan="2" class="center">Ações</th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="item in lstFranquias" class="animate-repeat">
                                                <td>
                                                    {{item.FRA_ID}}
                                                </td>
                                                <td>
                                                    {{item.FRA_NOME}}
                                                </td>
                                                <td>
                                                    {{item.REGIAO.RG_DESCRICAO}}
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0);" ng-click="abrirClienteCurso(item.IPS_ID)"
                                                       title="Abrir Cliente" class="text-primary" ng-show="item.IMS_ID == 4">
                                                        <span class="fa fa-user-circle font-15"></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0);" ng-click="abrirHistoricoImportacao(item.IMP_ID, item.IPS_ID)"
                                                       title="Ver historicos" class="text-primary">
                                                        <span class="fa fa-history font-15"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="15" ng-hide="lstFranquias.length > 0">Nenhum registro foi encontrado.</td>
                                            </tr>

                                        </table>
                                    </div>
                                    <div app-pagination="pagina" request-page="paginaReq" load-function="pesquisar(paginaReq)"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
         
        </div>
        <!-- Fim do Collapse -->
    <div>
        <div app-filtro-lateral="filters" model="filtro" list="lstFiltrosUtilizados" acao-pesquisar="pesquisar()" flag-abrir="abrirFiltro">

        </div>

 
        </div>
        <div app-modal="nome-arquivo" header="Arquivo">
            <div>{{NomeDoArquivo}}</div>
        </div>
        @Html.Partial("Partials/Modais/_HistoricoImportacaoPartial")
        @Html.Partial("Partials/Modais/_ModalResultadoImportacaoPartial")

        <div app-modal="modal-upload-planilha" header="Reeimportar Planilha" submodal>
            <div class="row">
                <div class="form-group col-lg-12 limit-modal-height">
                    <form>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="exampleInputFile">Arquivo de Carga</label> <!-- https://github.com/danialfarid/ng-file-upload -->
                                    <input type="file" id="exampleInputFile" class="button button-default"
                                           ngf-select="uploadPlanilha($file, $invalidFiles)" ngf-max-size="1MB" accept=".xls, .xlsx, .ods" ng-disabled="$parent.buttonUpload == 'updating'">
                                    <div app-validation-msg="erros" for="NFe"></div>
                                </div>
                                <div class="progress" ng-show="f.progress >= 0 && !uploaded">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                                         aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{f.progress}}%">
                                        <span class="sr-only">f.progress% Complete</span>
                                    </div>
                                </div>
                                {{errorMsg}}
                            </div>
                        </div>
                        <div>
                            <div class="row" ng-show="batchResp.ListErros.length > 0">
                                <div class="col-md-12 limit-div-4">
                                    <div class="table-responsive table-war">
                                        <table class="table table-hover table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="min-width: 75px" id="erroBatch">
                                                        Referência
                                                    </th>
                                                    <th>Mensagem</th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="item in batchResp.ListErros" class="animate-repeat">
                                                <td class="text-danger"><strong>{{item.Contexto}}</strong></td>
                                                <td class="text-danger">
                                                    <strong>{{item.Mensagem}}</strong>
                                                    <ul class="lista-sem-estilo padding-left" ng-show="item.ValidationErrors">
                                                        <li ng-repeat-start="(key, value) in item.ValidationErrors" ng-show="$index == 0">
                                                            <em class="text-danger">Mensagens de Validação</em>
                                                        </li>
                                                        <li ng-repeat-end>
                                                            <ul class="lista-sem-estilo">
                                                                <li ng-repeat="(key, subValue) in value">
                                                                    <span class="text-danger">{{$parent.$parent.$index + 1}}.{{$parent.$index + 1}} {{subValue}}</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="uploaded === true">
                            <button app-switch-button="atualizarSuspectsIncorretos()"
                                    switch-conf="[{label : 'Atualizar', state : 'update'}, {label : 'Atualizando...', state : 'updating', disabled : true}]"
                                    switch-var="$parent.buttonUpload"
                                    class="btn btn-success">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
   
</div>  
</div>