<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="COADSYSEntities" connectionString="metadata=res://*/Repositorios.Contexto.COADSYS.csdl|res://*/Repositorios.Contexto.COADSYS.ssdl|res://*/Repositorios.Contexto.COADSYS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=COADSYS;user id=satelite;password=C04dC0nsult0r14!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="COADCORPEntities" connectionString="metadata=res://*/Repositorios.Contexto.COADCORP.csdl|res://*/Repositorios.Contexto.COADCORP.ssdl|res://*/Repositorios.Contexto.COADCORP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=COADCORP;user id=SATELITE;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="COADGEDEntities" connectionString="metadata=res://*/Repositorios.Contexto.COADGED.csdl|res://*/Repositorios.Contexto.COADGED.ssdl|res://*/Repositorios.Contexto.COADGED.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=COADGED;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="corporativo2Entities" connectionString="metadata=res://*/Repositorios.Contexto.Corporativo2.csdl|res://*/Repositorios.Contexto.Corporativo2.ssdl|res://*/Repositorios.Contexto.Corporativo2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=corporativo2;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="prospectadosEntities" connectionString="metadata=res://*/Repositorios.Contexto.Base.Prospectados.csdl|res://*/Repositorios.Contexto.Base.Prospectados.ssdl|res://*/Repositorios.Contexto.Base.Prospectados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=prospectados;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="666000" />
    <add key="COADCORP.ADQUIRENTE" value="1" />
    <add key="COADCORP.AMBIENTE" value="PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COADCORP.SERVER.HOST-NAME" value="http://corp.coad.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COADCORP.TEST.MAIL" value="dasilva@coad.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COADCORP.TEST.MAIL.ATIVAR" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COADCORP.NFe.XML.UploadPath" value="Nfe" />
    <add key="COADCORP.NFse.DETALHE.URL" value="https://notacarioca.rio.gov.br/nfse.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COADCORP.NFe.DANFE.URL" value="http://www.nfe.fazenda.gov.br/portal/consultaRecaptcha.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COADPAG.CHECKOUT.PATH" value="http://corp.coad.com.br:7800/Checkout/Pagamento/" />
    <!-- ALT: 21/07/2015 - EDITOR DE TEXTOS PARA EDIÇÃO DE MATÉRIAS DA REDAÇÃO -->
    <add key="RichTextEditorLicense" value="/richtexteditor/richtexteditor.lic" />
    <!--<add key="GatewayService.MerchantKey" value="85328786-8BA6-420F-9948-5352F5A183EB" />
    <add key="GatewayService.HostUri" value="https://sandbox.mundipaggone.com" />
    <add key="MundiPagg.MerchantKey" value="00000000-0000-0000-0000-000000000000" />-->

    <add key="Mundipagg.CoadPag.MerchantKey" value="a950ebd1-49f2-4f7b-9a6d-5e221eb2c1f1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Mundipagg.CoadPag.PublicMerchantKey" value="fab53433-a46c-466a-8a59-0e30f6395a91" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Mundipagg.SecretKey" value="sk_fbt5cahT3BbHAXZy" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Mundipagg.PublicKey" value="pk_ghc3waxT4BaCZXAb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NfeDownloadNFSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="NfeAutorizacaoSoap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest"/>
          </security>
        </binding>
        <binding name="NfeRetAutorizacaoSoap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest"/>
          </security>
        </binding>
        <binding name="NfeRetAutorizacaoSoap1"/>
        <binding name="NfeInutilizacao2Soap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest"/>
          </security>
        </binding>
        <binding name="NfeInutilizacao2Soap1"/>
        <!--<binding name="RecepcaoEventoSoap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest"/>
          </security>
        </binding>-->
        <binding name="RecepcaoEventoSoap1"/>
        <binding name="NFeAutorizacao4Soap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest" />
          </security>
        </binding>
        <binding name="NFeAutorizacao4Soap1" />
        <binding name="NFeRetAutorizacao4Soap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest" />
          </security>
        </binding>
        <binding name="NFeRetAutorizacao4Soap1" />
        <binding name="NFeInutilizacao4Soap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest" />
          </security>
        </binding>
        <binding name="NFeInutilizacao4Soap1" />

        <binding name="NFeRecepcaoEvento4Soap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest" />
          </security>
        </binding>
        <binding name="NFeRecepcaoEvento4Soap1" />
        <binding name="NfseSoap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest"></transport>
          </security>
        </binding>
        <binding name="NfseSoap1" />
      </basicHttpBinding>

      <customBinding>
        <binding name="NfeRecepcao2SoapBinding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
        <binding name="CadConsultaCadastro4Soap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport requireClientCertificate="true" proxyAuthenticationScheme="Digest"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfeAutorizacaoSoap" contract="NfeAutorizacao.NfeAutorizacaoSoap" name="NfeAutorizacaoSoap"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfeRetAutorizacaoSoap" contract="NfeRetAutorizacao.NfeRetAutorizacaoSoap" name="NfeRetAutorizacaoSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfeInutilizacao2Soap" contract="NfeInutilizacao.NfeInutilizacao2Soap" name="NfeInutilizacao2Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx"
               binding="basicHttpBinding" bindingConfiguration="NFeAutorizacao4Soap"
               contract="NFeAutorizacao4.NFeAutorizacao4Soap" name="NFeAutorizacao4Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao4.asmx"
          binding="basicHttpBinding" bindingConfiguration="NFeRetAutorizacao4Soap"
          contract="NFeRetAutorizacao4.NFeRetAutorizacao4Soap" name="NFeRetAutorizacao4Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx"
                binding="basicHttpBinding" bindingConfiguration="NFeInutilizacao4Soap"
                contract="NFeInutilizacao4.NFeInutilizacao4Soap" name="NFeInutilizacao4Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx"
                  binding="basicHttpBinding" bindingConfiguration="NFeRecepcaoEvento4Soap"
                  contract="NFeRecepcaoEvento4.NFeRecepcaoEvento4Soap" name="NFeRecepcaoEvento4Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://cad.svrs.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro4.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
              binding="customBinding" bindingConfiguration="CadConsultaCadastro4Soap12"
              contract="CadConsultaCadastro4.CadConsultaCadastro4Soap12"
              name="CadConsultaCadastro4Soap12" />
      <endpoint address="https://notacarioca.rio.gov.br/WSNacional/nfse.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
                 binding="basicHttpBinding" bindingConfiguration="NfseSoap"
                 contract="Nfse.NfseSoap" name="NfseSoap" />
    </client>
  </system.serviceModel>
</configuration>