@using Coad.GenericCrud.Extensions

@{
    ViewBag.print = true;
    int ano = (DateTime.Now != null) ? DateTime.Now.Year : 2015;
    if (ViewBag.print == true)
    {
        ViewBag.printableClass = "hidden-print";
    }

    ViewBag.Title = "Index";
    
}

<script>
    $(document).ready(function () {
        $(":input").inputmask();
    });
</script>

@Scripts.Render("~/Scripts/appScripts/Manualdp.js")

@section breadcrumbs {

    <ol class="breadcrumb breadcrumb-dashboard">
        <li><i class="fa fa-home"></i><a href="/Home/index">Home </a></li>
        <li class="active">&nbspTemas Manual DP</li>
    </ol>
}

<style type="text/css">
    .body {
        background-color: #e8e8e8 !important;
    }
</style>



<div ng-app="appModule">
    <div ng-controller="ManualdpController" class="padding content" ng-init="listarModulos();canPrint=true">
        <div id="page-wrapper">
            <div app-message></div>
            <div class="panel panel-corp" ng-show="listamodulo" id="baseContent">
                <div app-message></div>
                <div class="panel-heading bold head-panel">
                    <span class="glyphicon glyphicon-filter"></span>&nbspTema Manual DP
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn  btn-xs dropdown-toggle" data-toggle="dropdown">Opções<span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="/Manualdp/Configurar">Configurar Assunto</a></li>
                                <li><a href="/Modulo/Editar?_mod_id">Novo Tema</a></li>
                                <li><a href="/Manualdp/Index">Novo Item</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive" style="padding-left: 12px; padding-right: 12px;">
                            <table class="table table-hover table-bordered" style="padding-left: 12px;">
                                <thead>
                                    <tr class="info">
                                        <th>ID </th>
                                        <th>Descrição</th>
                                        <th colspan="2" style="text-align: center;">Opções</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="item in listamodulo">
                                    <td>{{item.MOD_ID}}</td>
                                    <td>{{item.MOD_DESCRICAO}} </td>
                                    <td style="text-align: center;">
                                        <a href="javascript:void(0)" ng-click="excluirModulo(item)" title="Exluir" class="red">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="javascript:void(0)" app-post="@Url.Action("Editar")?_mod_id={{item.MOD_ID}}" title="Editar" class="blue">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="hidden-print panel-footer">
                    <a class="btn btn-success" href="javascript:void(0)" app-print="#baseContent" print-flag="canPrint"><i class="fa fa-print"></i>&nbspImprimir</a>
                </div>
            </div>
        </div>
    </div>
</div>


