<!-- SLIDE TOP -->
<div id="slidetop">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h6><i class="icon-heart"></i> WHY SMARTY?</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. </p>
      </div>

      <div class="col-md-4">
        <h6><i class="fa-facheck"></i> RECENTLY VISITED</h6>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> This is a very long text, very very very very very very very very very very very very </a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Dolor sit amet,consectetur adipiscing elit amet</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet,consectetur adipiscing elit</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h6><i class="icon-envelope"></i> CONTACT INFO</h6>
        <ul class="list-unstyled">
          <li><b>Address:</b> PO Box 21132, Here Weare St, <br /> Melbourne, Vivas 2355 Australia</li>
          <li><b>Phone:</b> 1-800-565-2390</li>
          <li><b>Email:</b> <a href="mailto:support@yourname.com">support@yourname.com</a></li>
        </ul>
      </div>
    </div>
  </div>

  <a class="slidetop-toggle" href="#"><!-- toggle button --></a>

</div>


<!-- /SLIDE TOP -->
<!-- wrapper -->
<div id="wrapper">
  <app-horizontal-menu></app-horizontal-menu>
  <!--
    PAGE HEADER

    CLASSES:
      .page-header-xs	= 20px margins
      .page-header-md	= 50px margins
      .page-header-lg	= 80px margins
      .page-header-xlg= 130px margins
      .dark			= dark page header

      .shadow-before-1 	= shadow 1 header top
      .shadow-after-1 	= shadow 1 header bottom
      .shadow-before-2 	= shadow 2 header top
      .shadow-after-2 	= shadow 2 header bottom
      .shadow-before-3 	= shadow 3 header top
      .shadow-after-3 	= shadow 3 header bottom
  -->
  <section class="page-header page-header-xs">
    <div class="container">

      <h1>This is the product title</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li class="active">Single</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->
  <!-- -->
  <section>
    <div class="container" id="container-body" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <app-message></app-message>
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </section>
  <!-- / -->
  <!-- FOOTER -->
  <footer id="footer">
    <div class="container">

      <div class="row mt-60 mb-40 fs-13">

        <!-- col #1 -->
        <div class="col-md-4 col-sm-4">

          <!-- Footer Logo -->
          <img class="footer-logo" src="assets/images/_smarty/logo-footer.png" alt="" />

          <p>
            Incredibly beautiful responsive Bootstrap Template for Corporate and Creative Professionals.
          </p>

          <h2>(800) 123-4567</h2>

          <!-- Social Icons -->
          <div class="clearfix">

            <a href="#" class="social-icon social-icon-sm social-icon-border social-facebook float-left" data-toggle="tooltip" data-placement="top" title="Facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-icon-border social-twitter float-left" data-toggle="tooltip" data-placement="top" title="Twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-icon-border social-gplus float-left" data-toggle="tooltip" data-placement="top" title="Google plus">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-icon-border social-linkedin float-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-icon-border social-rss float-left" data-toggle="tooltip" data-placement="top" title="Rss">
              <i class="icon-rss"></i>
              <i class="icon-rss"></i>
            </a>

          </div>
          <!-- /Social Icons -->

        </div>
        <!-- /col #1 -->
        <!-- col #2 -->
        <div class="col-md-8 col-sm-8">

          <div class="row">

            <div class="col-md-5 hidden-sm hidden-xs-down">
              <h4 class="letter-spacing-1">RECENT NEWS</h4>
              <ul class="list-unstyled footer-list half-paddings">
                <li>
                  <a class="block" href="#">New CSS3 Transitions this Year</a>
                  <small>June 29, 2017</small>
                </li>
                <li>
                  <a class="block" href="#">Inteligent Transitions In UX Design</a>
                  <small>June 29, 2017</small>
                </li>
                <li>
                  <a class="block" href="#">Lorem Ipsum Dolor</a>
                  <small>June 29, 2017</small>
                </li>
                <li>
                  <a class="block" href="#">New CSS3 Transitions this Year</a>
                  <small>June 29, 2017</small>
                </li>
              </ul>
            </div>

            <div class="col-md-3 hidden-sm hidden-xs-down">
              <h4 class="letter-spacing-1">EXPLORE US</h4>
              <ul class="list-unstyled footer-list half-paddings b-0">
                <li><a class="block" href="#"><i class="fa fa-angle-right"></i> About Us</a></li>
                <li><a class="block" href="#"><i class="fa fa-angle-right"></i> About Me</a></li>
                <li><a class="block" href="#"><i class="fa fa-angle-right"></i> About Our Team</a></li>
                <li><a class="block" href="#"><i class="fa fa-angle-right"></i> Services</a></li>
                <li><a class="block" href="#"><i class="fa fa-angle-right"></i> Careers</a></li>
                <li><a class="block" href="#"><i class="fa fa-angle-right"></i> Gallery</a></li>
                <li><a class="block" href="#"><i class="fa fa-angle-right"></i> FAQ</a></li>
              </ul>
            </div>

            <div class="col-md-4">
              <h4 class="letter-spacing-1">SECURE PAYMENT</h4>
              <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet.</p>
              <p>
                <!-- see assets/images/_smarty/cc/ for more icons -->
                <img src="assets/images/_smarty/cc/Visa.png" alt="" />
                <img src="assets/images/_smarty/cc/Mastercard.png" alt="" />
                <img src="assets/images/_smarty/cc/Maestro.png" alt="" />
                <img src="assets/images/_smarty/cc/PayPal.png" alt="" />
              </p>
            </div>

          </div>

        </div>
        <!-- /col #2 -->

      </div>

    </div>

    <div class="copyright">
      <div class="container">
        <ul class="float-right m-0 list-inline mobile-block">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li>&bull;</li>
          <li><a href="#">Privacy</a></li>
        </ul>

        &copy; All Rights Reserved, Company LTD
      </div>
    </div>

  </footer>
  <!-- /FOOTER -->

</div>
<!-- /wrapper -->
<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>

<!-- PRELOADER -->
<div id="preloader">
  <div class="inner">
    <span class="loader"></span>
  </div>
</div><!-- /PRELOADER -->

<div *ngIf="showAjaxLoader">
  <img [src]="ajaxLoaderUrl" id="ajaxLoader" class="ajax-loader"/>
</div>

