@using Coad.GenericCrud.Extensions
@{
    ViewBag.Title = "Index";     
}

@Scripts.Render("~/Scripts/appScripts/TabelaDinamica.js")


<div ng-app="appModule">
    <div ng-controller="TabelaDinamicaController" class="padding content">
        <div id="page-wrapper">

            <div class="panel panel-default">

            </div>
        </div>
    </div>
</div>
