<div class="container">

    <div class="row">
        <div class="col-md-3 offset-md-1">
            <a class="btn btn-primary" href="#!/Home" role="button">Voltar</a>
        </div>
    </div>

    <div class="row justify-content-around">
        <section class="b-0 pt-0 pb-0" style="background-color: #fbfbfb;">
            <div class="container text-center">
                <div class="clearfix pt-80 pb-80">
                    <h3 class="fs-12 text-dark">
                        Área especial de simuladores desenvolvida pensando em facilitar o seu dia a dia.
                        <br />
                        Escolha, abaixo, o assunto que deseja fazer a simulação.
                    </h3>
                    <div class="alert alert-mini alert-default mb-30">
                        <h3 class="fs-12 text-dark">
                            <i class="fa fa-warning" aria-hidden="true"></i>
                            Caso algumas das novas funcionalidades não estejam aparecendo,
                            <br />
                            exclua o cache do seu navegador ou pressione CTRL + F5.
                        </h3>
                    </div>
                </div>
            </div>
        </section>

        <div class="row justify-content-around">
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/FiscalPis">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/fiscal/PIS_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">PIS/COFINS</h5>
                            <p class="text-center">Identifique os produtos com alíquotas diferenciadas</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/FiscalRet">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/fiscal/RETENCAO_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">RETENÇÃO NA FONTE</h5>
                            <p class="text-center">Identifique os serviços com retenção de INSS/IR/PIS/COFINS/CSLL</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/FiscalCest">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/fiscal/CEST_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">CEST/NCM</h5>
                            <p class="text-center">Identifique o CEST através da NCM ou descrição da sua mercadoria</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/FiscalCefop">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/fiscal/CEFOP_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">CFOP</h5>
                            <p class="text-center">Identifique o código CFOP de acordo com a sua operação</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/FiscalCst">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/fiscal/CST_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">CST/CSOSN</h5>
                            <p class="text-center">Identifique o código CST ou CSOSN de acordo com a sua operação</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/FiscalIcmsAliqInt">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/fiscal/ICMS_Alíquota-Interestadual_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">ICMS - Alíquota Interestadual</h5>
                            <p class="text-center">Identifique as alíquotas de acordo com a UF de origem e destino da mercadoria</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/FiscalIcmsDif">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/fiscal/ICMS_DIFAL-_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">ICMS / DIFAL (EC 87/2015)</h5>
                            <p class="text-center">Calcule o ICMS nas vendas interestaduais para consumidor final</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/FiscalEnq">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/fiscal/ENQUADRAMENTO_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Enquadramento do Simples Nacional</h5>
                            <p class="text-center">Enquadramento do CNAE nos anexos de tributação</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/FiscalFatR">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/fiscal/FATOR_R_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Fator "r"</h5>
                            <p class="text-center">Defina se a tributação será feita com base no Anexo III ou V do Simples Nacional</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/FiscalSimlRep">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/fiscal/SIMPLES_REPAR_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Simples Nacional - Repartição</h5>
                            <p class="text-center">Apuração do Simples Nacional</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">

            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">

            </div>
        </div>
    </div>
</div>
<link href="../../../Assets/css/header-fiscal.css"  rel="stylesheet" type="text/css" />
