<div class="alert alert-danger margin-bottom-30" style="padding-top:20px;">

    <a href="javascript:window.history.go(-1)" class="close">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span></a>

        <h4><strong>ERRO AO GERAR BOLETOS</strong></h4>

        <p>
            @ViewBag.erro
    </p>


    <a href="javascript:window.history.go(-1)">Voltar</a>

</div>