/* You can add global styles to this file, and also import other style files */

div.toggle div.toggle-content-custom {
  border: rgba(0,0,0,0.03) 1px solid;
  display: none;
  background: rgba(0,0,0,0.03);
  margin-top: -5px;
  padding: 15px 20px;
  border-radius: 0;
  border: 0 !important;
}
