<div class="container">

    <div class="row">
        <div class="col-md-3 offset-md-1">
            <a class="btn btn-primary" href="#!/Home" role="button">Voltar</a>
        </div>
    </div>

    <div class="row justify-content-around">
        <section class="b-0 pt-0 pb-0" style="background-color: #fbfbfb;">
            <div class="container text-center">
                <div class="clearfix pt-80 pb-80">
                    <h3 class="fs-12 text-dark">
                        Área especial de simuladores desenvolvida pensando em facilitar o seu dia a dia.
                        <br />
                        Escolha, abaixo, o assunto que deseja fazer a simulação.
                    </h3>
                    <div class="alert alert-mini alert-default mb-30">
                        <h3 class="fs-12 text-dark">
                            <i class="fa fa-warning" aria-hidden="true"></i>
                            Caso algumas das novas funcionalidades não estejam aparecendo,
                            <br />
                            exclua o cache do seu navegador ou pressione CTRL + F5.
                        </h3>
                    </div>
                </div>
            </div>
        </section>

        <div class="row justify-content-around">
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabPatroEmp">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/PATRONALEMPREGADORES_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Contribuição Sindical em Atraso</h5>
                            <p class="text-center">Patronal / Empregadores</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabProfLib">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/PROFISSIONAIS_LIBERAIS_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Contribuição Sindical em Atraso</h5>
                            <p class="text-center">Profissionais Liberais</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabEmpRur">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/Empregadores-Rurais_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Contribuição Sindical em Atraso</h5>
                            <p class="text-center">Empregadores Rurais</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabEmpreg">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/Empregados_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Contribuição Sindical em Atraso</h5>
                            <p class="text-center">Empregados</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabCalcContrReco">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/PATRONAL_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Contribuição Sindical Patronal</h5>
                            <p class="text-center">Calcule o valor da contribuição a recolher</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabAliqContrPatrPrev">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/CPP_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">CPP/FPAS</h5>
                            <p class="text-center">Alíquotas das contribuições: Patronal Previdenciária, para Terceiros e RAT</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabCronDetEsoc">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/ESOCIAL_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Cronograma e-Social</h5>
                            <p class="text-center">Cronograma detalhado do e-Social</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabCalcQuantMaxEstag">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/ESTAGIO_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Estagiário</h5>
                            <p class="text-center">Calcule a quantidade máxima de estagiários permitidos na sua empresa</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabIdentAliqAcordoCnae">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/RAT_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">RAT - Alíquotas</h5>
                            <p class="text-center">Identifique a alíquota de acordo com a sua CNAE</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabRetPrevInss">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/ISS_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">RETENÇÃO DO INSS</h5>
                            <p class="text-center">Identifique os serviços sujeitos à retenção de Contribuição Previdenciária</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabSalAprend">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/APRENDIZ_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Salário do Aprendiz</h5>
                            <p class="text-center">Calcule o valor do salário do aprendiz</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabSalFamil">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/FAMILIA_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Salário-Família</h5>
                            <p class="text-center">Calcule o valor do Salário-Família</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/TrabSegDesemp">
                    <figure class="figure">
                        <img src="../../../Assets/img/simulador/Trabalhista/DESEN_400.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Seguro-Desemprego</h5>
                            <p class="text-center">Calcule o valor do Seguro-Desemprego</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">

            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">

            </div>
        </div>
    </div>
</div>
<link href="../../../Assets/css/header-trabalhista.css"  rel="stylesheet" type="text/css" />