@model  COAD.CORPORATIVO.Model.Dto.ClienteDto
@using Coad.GenericCrud.Extensions
@using COAD.CORPORATIVO.SessionUtils
@using COAD.SEGURANCA.Repositorios.Base
@{
    ViewBag.Title = "Gerador de Consulta";
    
}

@section breadcrumbs {

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "Home")</li>
        <li class="active">Importação de Suspects</li>

    </ol>
}

@Scripts.Render("~/Scripts/negocio/sql_dinamico.js")

<div ng-app="appModule">
    <div ng-controller="SqlDinamicoController" class="padding content" ng-cloak data-ng-init="init('@ViewBag.relId')" ng-click="fecharPopOvers()">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading bold head-panel">
                <span class="glyphicon glyphicon-transfer"></span> Gerador de Consultas
             
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Descrição do Relatório</label>
                        <input type="text" class="form-control" ng-model="relPersonalizado.REL_DESCRICAO"/>                    
                    </div>
                    <div class="form-group col-sm-4">
                                <label for="selectRegiao">Relatório Base</label> 
                                <span ng-show="relPersonalizado.RelatorioPai">
                                    <a href="javascript:void(0);" ng-click="abrirModalRelatorioBase()" title="Alterar" class="clear-link">
                                        <span class="glyphicon glyphicon-refresh"></span></a>
                                    <a href="javascript:void(0);" ng-click="removerRelatorioBase()" title="Remover" class="text-danger clear-link">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </span>
                                <span ng-hide="relPersonalizado.RelatorioPai">
                                    <a href="javascript:void(0);" ng-click="abrirModalRelatorioBase()" title="Adicionar" class="text-info">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </span>
                                <div class="text">
                                    <span class="label label-primary font-14">{{relPersonalizado.RelatorioPai.REL_DESCRICAO}}</span>
                                </div>
                            </div>  
                 </div>
            </div>

            <div class="panel-footer">
                <span>
                      <button  
                          app-switch-button="salvarRelatorioPersonalizadoDerivado()" 
                          switch-conf="[{label : 'Salvar', state : 'save'}, {label : 'Salvando...', state : 'saved', disabled : true}]" 
                          switch-var="button"
                          class="btn btn-primary">
                          <span class="glyphicon glyphicon-floppy-save"></span>
                      </button>
                     @*<button ng-click="listarTabelas()"
                        class="btn btn-primary">
                        <span class="glyphicon glyphicon-import"></span> Listar Tabelas
                    </button>*@
               </span>
            </div>
        </div>
        <div app-message></div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-circle-arrow-down"></span> Campos Para Consulta</div>
                        <div class="panel-body limit-div-3">
                                     
                            <div class="panel-body overflow"> 
                                <ul>
                                    <li class="animate-repeat" ng-repeat="item in lstColunasFormatada">
                                            <a href="javascript:void(0)" app-draggable id-drag="drag_consulta_coluna" model="item">                                                                                                     <span class="label label-warning">
                                                    {{item.COR_DESCRICAO}}                                                                    
                                                  </span>                                                
                                            </a>                                 
                                    </li>     
                                </ul>
                            </div>
                    
                        </div>
             </div>
            </div>
            <div class="col-md-8" app-droppable="adicionarItemConsulta(idDrag, idDrop, objUfMunicipio)" transfer-model="objUfMunicipio" id-drop="drop_consulta">
                <div class="panel panel-default" ng-class="{crosshair: joinMarkDTO.Passo == 0}">
                    <!-- Default panel contents -->
                    <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-circle-arrow-down"></span> Estrutura da consulta

                        <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" title="Visualizar Query" ng-click="abrirModalPreviewQuery()">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </div>
                    </div>

                    <div class="panel-body">
                        <label>Campos:</label>
                        <span ng-repeat="item in relPersonalizado.RELATORIO_TABELA_COLUNAS">

                            <span app-html-var="popOverHTML">
                                <span class="text-info" ng-click="evitarProgacao($event)">
                                    <span>
                                        <label>Alias da Tabela</label>
                                        <input type="text" class="form-control" ng-model="$parent.$parent.aliasColuna"/>
                                        
                                    </span>
                                    <br />
                                    <button type="button" class="btn btn-default btn-sm" ng-click="confirmarEdicaoAliasColuna(item, aliasColuna)">Ok</button>                                    
                                </span>
                            </span>
                            <a href="javascript:void(0)" class="clear-link" id="{{item.COR_DESCRICAO}}_{{$index}}"
                                ng-init="obj = {$index : $index, item : item}"
                                    app-draggable model="obj" id-drag="drag_colunas"
                                app-popover
                                data-html-var="popOverHTML"
                                data-popover-title="Alias"
                                title="Alias" 
                                data-trigger="manual" 
                                data-direction="top"
                                ng-click="abrirPopOverAlias(item.COR_DESCRICAO + '_' + $index, item, $event)">                                
                                <span class="label label-warning">{{item.COR_DESCRICAO}}</span>
                            </a>
                            <a href="javascript:void(0);" class="remove-link" ng-click="removerColunas($index);"> <span class="glyphicon glyphicon-remove red"></span></a>
                          </span>
                        <br />
                        <div style="padding-bottom: 15px;"></div>
                        <div app-droppable="adicionarCondicaoConsulta(idDrag, idDrop, objCondicao)" transfer-model="objCondicao" id-drop="drop-condicao">
                        
                            <div class="panel panel-default" ng-class="{crosshair: joinMarkDTO.Passo == 0}">
                                    <!-- Default panel contents -->
                                <div class="panel-heading bold head-panel pointer" data-toggle="collapse" data-target="#tabela-condicoes">
                                    <span class="glyphicon glyphicon-circle-arrow-down"></span> Condições <span class="caret"></span>
                                </div>
                                <div class="panel-body collapse in" aria-expanded="true" id="tabela-condicoes">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                                <!-- <input type="text" ng-model="dataTest" app-date/>  -->

                                                <table class="table table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Operador Lógico</th>
                                                            <th>
                                                                Utilizar Como Filtro
                                                            </th>
                                                            <th>Label</th>
                                                            <th>
                                                                Campo
                                                            </th>
                                                            <th>Operador Condicional</th>
                                                            <th>Valor</th>
                                                            <th>Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tr ng-repeat="item in relPersonalizado.RELATORIO_CONDICAO" class="animate-repeat">
                                                            
                                                        <td>        
                                                            <select ng-options="op.ROL_ID as op.ROL_DESCRICAO for op in lstOperadoresLogicos"
                                                                    ng-model="item.ROL_ID" class="form-control">
                                                                    <option value="">Selecione</option>
                                                            </select>
                                                        </td>
                                                            
                                                        <td>
                                                            <label class="switch switch-success switch-round">
                                                                <input type="checkbox" ng-model="item.REC_FILTRO"  id="ehFiltro" 
                                                                    ng-checked="item.REC_FILTRO == true">
	                                                            <span class="switch-label" data-on="Sim" data-off="Não"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <div ng-show="item.REC_FILTRO == true">
                                                                <input type="text" ng-model="item.REC_LABEL_FILTRO" class="form-control"/>
                                                            </div>
                                                            <span ng-hide="item.REC_FILTRO == true" class="label label-default">Não se Aplica</span>
                                                        </td>
                                                        <td>{{item.REC_CAMPO}}</td>
                                                        <td>
                                                            <a href="javascript:void(0);" 
                                                                        ng-click="abrirModalOperadorCondicional(item)" 
                                                                            title="AdicionarOperador">
                                                                        <span class="glyphicon glyphicon-plus"></span></a>
                                                            <span ng-repeat="op in item.RELATORIO_CONDICAO_RELATORIO_OPERADOR_CONDICIONAL">
                                                                {{op.RELATORIO_OPERADOR_CONDICIONAL.ROC_DESCRICAO}}
                                                            </span>
                                                        </td>
                                                        <td>
                                                             <div ng-hide="item.REC_FILTRO == true">                                                                
                                                                <input type="text" ng-model="item.REC_VALOR" class="form-control"/>
                                                            </div>
                                                            <span ng-show="item.REC_FILTRO == true" class="label label-default">Não se Aplica</span>
                                                        </td>
                                                        <td>
                                                            <a href="javascript:void(0);" class="red" ng-click="removerRelatorioCondicao($index)" 
                                                                            title="remover">
                                                                        <span class="glyphicon glyphicon-remove"></span></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="10" ng-show="!relPersonalizado.RELATORIO_CONDICAO">Adicione uma condição.</td>
                                                    </tr>

                                                </table>
                                            </div>

                                    </div>
                            
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div data-app-modal="modal-preview-query" data-header="Preview">
             <div class="row">

                <div class="form-group col-lg-12">
                    
                    <div class="panel panel-info" ng-class="{crosshair: joinMarkDTO.Passo == 0}">
                            <!-- Default panel contents -->
                        <div class="panel-heading bold head-panel pointer" data-toggle="collapse" data-target="#preview-query">
                            <span class="glyphicon glyphicon-th-list"></span> Preview da Query <span class="caret"></span>
                        </div>
                        <div class="panel-body collapse in" aria-expanded="true" id="preview-query">
                            <div class="panel-body">
                                <figure class="highlight">
                                    <pre>
                                        {{montagemQuery}}    
                                    </pre>
                                </figure>                 
                             </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default btn-sm" ng-click="mostrarPreviewResultado()">
                                <span class="glyphicon glyphicon-eye-open"></span> Preview Resultado
                            </button>    
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    
                    <div class="table-responsive">
                        <div ng-show="resultado"><label>Exibindo os 5 primeiros registros</label></div>
                        <table class="table table-hover table-bordered table-stripped">
                            <thead>
                                <tr>
                                    <th ng-repeat="col in resultado.Colunas">{{limparColuna(col)}}</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="item in resultado.Dados" class="animate-repeat">
                                <td ng-repeat="col in resultado.Colunas">{{item[col]}}</td>
                            </tr>
                            <tr>
                                <td colspan="10" ng-show="!resultado">Clique no botão para visualizar a preview.</td>
                                <td colspan="10" ng-show="resultado.Dados.length == 0 && listado">Nenhum resultado retornado.</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
           </div>

            <div data-app-modal="modal-operadores-condicionais" data-header="Operadores Condicionais" data-size="small">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="combo-operador-condicional">Operadores Condicionais</label>
                        <select ng-options="op as op.ROC_DESCRICAO for op in lstOperadoresCondicionais track by op.ROC_ID"
                                ng-model="modalOperadorCondicional.OPERADOR_CONDICIONAL" class="form-control" id="combo-operador-logico">
                                <option value="">Selecione</option>
                        </select>                   
                    </div>
                    <div class="form-group col-md-6  padding-button">
                        <button class="btn btn-default btn-sm" ng-click="adicionarOperadorCondicional()"> <span class="glyphicon glyphicon-plus-sign"></span> Adicionar</button>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">                        
                            <div class="table-responsive">

                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Operador</th>
                                            <th>Deletar</th>                                        
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="item in modalOperadorCondicional.lstCondicionais" class="animate-repeat">
                                        <td>{{item.RELATORIO_OPERADOR_CONDICIONAL.ROC_DESCRICAO}}</td>
                                        <td>
                                            <a href="javascript:void(0);" class="red" ng-click="removerOperadorCondicional($index)" 
                                                                                title="remover">
                                                                            <span class="glyphicon glyphicon-remove"></span></a>
                                        </td>    
                                        <tr>
                                            <td colspan="10" ng-show="!modalOperadorCondicional.lstCondicionais">Clique em pesquisar para listar.</td>
                                        </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="confirmarOperadoresCondicionais()"> <span class="glyphicon glyphicon-ok"></span> Confirmar</button>
                </div>            
            </div>

            <div data-app-modal="modal-dados-relatorio" data-header="Dados do Relatório" data-size="small">
            <div class="row">
                <div class="form-group col-md-12">
                        <div class="table-responsive">

                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Nome Relatório</th>
                                    <th>Selecionar</th>                                        
                                </tr>
                            </thead>
                            <tr ng-repeat="item in lstRelatorios" class="animate-repeat">
                                <td>{{item.REL_DESCRICAO}}</td>
                                <td>
                                    <a href="javascript:void(0);" ng-click="adicionarRelatorioBase(item)" 
                                                                        title="remover">
                                                                    <span class="glyphicon glyphicon-ok"></span></a>
                                </td>    
                                <tr>
                                    <td colspan="10" ng-show="!lstDadosRelatorio">Nenhum dado retornado.</td>
                                </tr>

                        </table>
                    </div>
                    <div app-pagination request-page="paginaReq" load-function="listarRelatorioPersonalizadoBase(paginaReq)"></div>
                </div>
            </div>
       
        </div>
            
        <div class="row">
            <div class="col-md-4">
                <button type="button" onclick="window.location = '@Url.Action("index","SqlDinamico")'" class="btn btn-default" ng-disabled="button == 'saved'">
                <span class="glyphicon glyphicon-chevron-left blue"></span> Voltar</button>
                <span ng-show="relPersonalizado.REL_ID">           
                    <button  
                        app-switch-button="excluirRelatorioPersonalizado()" 
                        switch-conf="[{label : 'Excluir', state : 'del'}, {label : 'Excluindo...', state : 'excluded', disabled : true}]" 
                        switch-var="buttonDel"
                        class="btn btn-danger">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                </span>
            </div>   
        </div>
    </div>
    
    </div>
    </div>
