@model  COAD.CORPORATIVO.Model.Dto.RepresentanteDTO
@using Coad.GenericCrud.Extensions
@using COAD.SEGURANCA.Repositorios.Base
@{
    ViewBag.Title = "Index";     
}

@section breadcrumbs {

    <ol class="breadcrumb breadcrumb-dashboard">
        <li>@Html.ActionLink("Home","index","Home")</li>
        <li class="active">Gerenciar Representates</li>         
        
    </ol>
}

@*<style type="text/css">

    .body {
        background-color: #e8e8e8 !important;

    }
</style>*@


@Scripts.Render("~/Scripts/negocio/sql_dinamico.js")
<div ng-app="appModule">
    <div ng-controller="SqlDinamicoController" class="padding content" ng-cloak data-ng-init="listarRelatorioPersonalizadoBase()">
        <div app-message></div>
        <div class="row">
            <div class="col-md-12">
                
        <div class="panel panel-default">
                    <!-- Default panel contents -->
      
                    <div class="panel-heading bold pointer" data-toggle="collapse" data-target="#resultado-query">
                        <span class="glyphicon glyphicon-user"></span> Relatório Personalizado
                           <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Opções
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="@Url.Action("NovoBase")" class="blue">Novo</a>
                                    </li>                                                                           
                                </ul>
                            </div>
                        </div>
                    </div>
          
                    <div class="panel-body collapse in" aria-expanded="true" id="resultado-query">   
                    
                                <div class="table-responsive">
                                    
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Nome Relatório</th>
                                                <th>Usuário</th>
                                                <th colspan="2">Ações</th>                                        
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="item in lstRelatorios" class="animate-repeat">
                                            <td>{{item.REL_DESCRICAO}}</td>
                                            <td>{{item.USU_LOGIN}}</td>
                                            <td>
                                                <a href="javascript:void(0)" app-post="@Url.Action("Editar")?relId={{item.REL_ID}}" 
                                                    title="Editar" class="blue">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" ng-click="utilizarRelatorio(item.REL_ID)" 
                                                    title="Rodar Relatório" class="text-success">
                                                    <span class="glyphicon glyphicon-play-circle"></span>
                                                </a>
                                            </td>
                                            <tr>
                                                <td colspan="10" ng-show="!lstRelatorios">Nenhum dado retornado.</td>
                                            </tr>

                                    </table>
                                </div>          
                            <div app-pagination request-page="paginaReq" load-function="listarRelatorioPersonalizadoBase(paginaReq)"></div>     

                        </div>         
                    </div> 

            </div>
        </div> 
         <div class="row" ng-show="resultado">
                <div class="form-group col-lg-12">
                    
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-stripped">
                            <thead>
                                <tr>
                                    <th ng-repeat="col in resultado.Colunas">{{limparColuna(col)}}</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="item in resultado.Dados" class="animate-repeat">
                                <td ng-repeat="col in resultado.Colunas">{{item[col]}}</td>
                            </tr>
                            <tr>
                                <td colspan="10" ng-show="!resultado">Clique no botão para visualizar a preview.</td>
                                <td colspan="10" ng-show="resultado.Dados.length == 0 && listado">Nenhum resultado retornado.</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
    </div>   
</div>