<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <connectionStrings>
    <add name="COADSYSEntities" connectionString="metadata=res://*/Repositorios.Contexto.COADSYS.csdl|res://*/Repositorios.Contexto.COADSYS.ssdl|res://*/Repositorios.Contexto.COADSYS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.58;initial catalog=COADSYS;user id=satelite;password=C04dC0nsult0r14!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COADCORPEntities" connectionString="metadata=res://*/Repositorios.Contexto.COADCORP.csdl|res://*/Repositorios.Contexto.COADCORP.ssdl|res://*/Repositorios.Contexto.COADCORP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.58;initial catalog=COADCORP;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="corporativo2Entities" connectionString="metadata=res://*/Repositorios.Contexto.Corporativo2.csdl|res://*/Repositorios.Contexto.Corporativo2.ssdl|res://*/Repositorios.Contexto.Corporativo2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.58;initial catalog=corporativo2;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="prospectadosEntities" connectionString="metadata=res://*/Repositorios.Contexto.Base.Prospectados.csdl|res://*/Repositorios.Contexto.Base.Prospectados.ssdl|res://*/Repositorios.Contexto.Base.Prospectados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.58;initial catalog=prospectados;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="coadEntities" connectionString="metadata=res://*/Repositorios.Contexto.PortalCoad.csdl|res://*/Repositorios.Contexto.PortalCoad.ssdl|res://*/Repositorios.Contexto.PortalCoad.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.228.5.6;user id=asilva;password=Q1w2e3r4t5;Allow Zero Datetime=true;Convert Zero Datetime=true;persistsecurityinfo=True;database=coad&quot;" providerName="System.Data.EntityClient" />
    <add name="buscaEntities" connectionString="metadata=res://*/Repositorios.Contexto.PortalBusca.csdl|res://*/Repositorios.Contexto.PortalBusca.ssdl|res://*/Repositorios.Contexto.PortalBusca.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.228.5.6;user id=asilva;password=Q1w2e3r4t5;persistsecurityinfo=True;database=busca&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NReco.PdfGenerator" publicKeyToken="231663d50a41b451" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.15.0" newVersion="1.1.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>