<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>net461</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
    <ProjectGuid>231f09b3-33cf-4553-bd12-0c0fe7c94906</ProjectGuid>
    <MSDeployServiceURL>https://RJ-PRODNET-SRV:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>COADRESTSERVICE_PROD</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>APC\COADCORP</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="COAD.PROSPECTADOS.Repositorios.Contexto.Base.prospectadosEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.PROSPECTADOS.Repositorios.Contexto.Base.prospectadosEntities, COAD.PROSPECTADOS" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.RM.Repositorios.Contexto.CorporeRMEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.RM.Repositorios.Contexto.CorporeRMEntities, COAD.RM" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.RM.Repositorios.Base.RMContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.RM.Repositorios.Base.RMContext, COAD.RM" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.COADGED.Repositorios.Contexto.COADGEDEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.COADGED.Repositorios.Contexto.COADGEDEntities, COAD.COADGED" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.PORTAL.Repositorios.Contexto.asteriskcdrdbEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.PORTAL.Repositorios.Contexto.asteriskcdrdbEntities, COAD.PORTAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.PORTAL.Repositorios.Contexto.COADIARIOEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.PORTAL.Repositorios.Contexto.COADIARIOEntities, COAD.PORTAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.PORTAL.Repositorios.Contexto.buscaEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.PORTAL.Repositorios.Contexto.buscaEntities, COAD.PORTAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.PORTAL.Repositorios.Contexto.coadEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.PORTAL.Repositorios.Contexto.coadEntities, COAD.PORTAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.PORTAL.Repositorios.Contexto.consultoriaEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.PORTAL.Repositorios.Contexto.consultoriaEntities, COAD.PORTAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.CORPORATIVO.LEGADO.Repositorios.Contexto.corporativo2Entities" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.CORPORATIVO.LEGADO.Repositorios.Contexto.corporativo2Entities, COAD.CORPORATIVO.LEGADO" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.SEGURANCA.Repositorios.Contexto.COADSYSEntities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.SEGURANCA.Repositorios.Contexto.COADSYSEntities, COAD.SEGURANCA" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.SEGURANCA.Repositorios.Base.SEGURANCAContext" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.SEGURANCA.Repositorios.Base.SEGURANCAContext, COAD.SEGURANCA" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.CORPORATIVO.Repositorios.Base.COADCORPContext" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.CORPORATIVO.Repositorios.Base.COADCORPContext, COAD.CORPORATIVO" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.CORPORATIVO.Repositorios.Contexto.COADCORPEntities" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.CORPORATIVO.Repositorios.Contexto.COADCORPEntities, COAD.CORPORATIVO" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="COAD.CORPORATIVO.Repository.Base.CORPORATIVOContext" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.CORPORATIVO.Repository.Base.CORPORATIVOContext, COAD.CORPORATIVO" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.COADGED.Repositorios.Contexto.COADGEDEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.CORPORATIVO.LEGADO.Repositorios.Contexto.corporativo2Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.CORPORATIVO.Repositorios.Base.COADCORPContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.CORPORATIVO.Repositorios.Contexto.COADCORPEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.CORPORATIVO.Repository.Base.CORPORATIVOContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.PORTAL.Repositorios.Contexto.asteriskcdrdbEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.PORTAL.Repositorios.Contexto.buscaEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.PORTAL.Repositorios.Contexto.coadEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.PORTAL.Repositorios.Contexto.COADIARIOEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.PORTAL.Repositorios.Contexto.consultoriaEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.PROSPECTADOS.Repositorios.Contexto.Base.prospectadosEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.RM.Repositorios.Base.RMContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.RM.Repositorios.Contexto.CorporeRMEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.SEGURANCA.Repositorios.Base.SEGURANCAContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COAD.SEGURANCA.Repositorios.Contexto.COADSYSEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="COAD.COADGED.Repositorios.Contexto.COADGEDEntities" />
    <_ConnectionStringsToInsert Include="COAD.CORPORATIVO.LEGADO.Repositorios.Contexto.corporativo2Entities" />
    <_ConnectionStringsToInsert Include="COAD.CORPORATIVO.Repositorios.Base.COADCORPContext" />
    <_ConnectionStringsToInsert Include="COAD.CORPORATIVO.Repositorios.Contexto.COADCORPEntities" />
    <_ConnectionStringsToInsert Include="COAD.CORPORATIVO.Repository.Base.CORPORATIVOContext" />
    <_ConnectionStringsToInsert Include="COAD.PORTAL.Repositorios.Contexto.asteriskcdrdbEntities" />
    <_ConnectionStringsToInsert Include="COAD.PORTAL.Repositorios.Contexto.buscaEntities" />
    <_ConnectionStringsToInsert Include="COAD.PORTAL.Repositorios.Contexto.coadEntities" />
    <_ConnectionStringsToInsert Include="COAD.PORTAL.Repositorios.Contexto.COADIARIOEntities" />
    <_ConnectionStringsToInsert Include="COAD.PORTAL.Repositorios.Contexto.consultoriaEntities" />
    <_ConnectionStringsToInsert Include="COAD.PROSPECTADOS.Repositorios.Contexto.Base.prospectadosEntities" />
    <_ConnectionStringsToInsert Include="COAD.RM.Repositorios.Base.RMContext" />
    <_ConnectionStringsToInsert Include="COAD.RM.Repositorios.Contexto.CorporeRMEntities" />
    <_ConnectionStringsToInsert Include="COAD.SEGURANCA.Repositorios.Base.SEGURANCAContext" />
    <_ConnectionStringsToInsert Include="COAD.SEGURANCA.Repositorios.Contexto.COADSYSEntities" />
  </ItemGroup>
</Project>