@{
    ViewBag.Title = "Cadastro";
}
<section class="page-header">
    <div class="container">

        <h1>CADASTRO</h1>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-6 col-sm-6">
                <form action="#" method="post" class="sky-form boxed">
                    <header class="size-16 margin-bottom-20">
                        <i class="fa fa-users"></i>&nbsp Informe os dados abaixo. Nós entraremos em contato com voce!
                    </header>
                    <fieldset class="nomargin">
                        <div class="col-md-12">
                            <label class="input">
                                <input type="text" placeholder="Nome">
                            </label>
                        </div>
                    </fieldset>
                    <fieldset class="nomargin">
                        <div class="col-md-12">
                            <label class="input margin-bottom-10">
                                <i class="ico-append fa fa-envelope"></i>
                                <input type="text" placeholder="Email">
                                <b class="tooltip tooltip-bottom-right">Informe um email válido</b>
                            </label>
                        </div>
                    </fieldset>

                    <fieldset class="nomargin">
                        <div class="col-md-2">
                            <label class="input">
                                <input type="text" placeholder="DDD">
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="input">
                                <input type="text" placeholder="Telefone">
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="input">
                                <input type="text" placeholder="DDD">
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="input">
                                <input type="text" placeholder="Telefone">
                            </label>
                        </div>
                    </fieldset>
                    <fieldset class="nomargin">
                        <div class="col-md-12">
                            <i class="fa fa-clock-o"></i>&nbsp Informe o horario de preferência para contato!
                        </div>
                    </fieldset>
                    <fieldset class="nomargin">

                        <div class="col-md-3">
                            <label class="checkbox nomargin">
                                <input type="radio" name="radio01" class="checked-agree"><i></i>Manhã
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox nomargin">
                                <input type="radio" name="radio01"><i></i>Tarde</label>
                        </div>
                        <div class="col-md-5">
                            <label class="checkbox nomargin">
                                <input type="radio" name="radio01"><i></i>Qualquer horário</label>
                        </div>
                    </fieldset>


                    <div class="row margin-bottom-20">
                        <div class="col-md-11 text-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>ENVIAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
