@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="utf-8" />
    <title>COADPAG</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    OK
</body>
</html>
