<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://RJ-PRODNET-SRV:3535/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://RJ-PRODNET-SRV:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>SCHEDULER_PROD</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>APC\COADCORP</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="COADGEDEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.COADGED.Repositorios.Contexto.COADGEDEntities, COAD.COADGED" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="corporativo2Entities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.CORPORATIVO.LEGADO.Repositorios.Contexto.corporativo2Entities, COAD.CORPORATIVO.LEGADO" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="prospectadosEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COAD.PROSPECTADOS.Repositorios.Contexto.Base.prospectadosEntities, COAD.PROSPECTADOS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="asteriskcdrdbEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=10.228.5.21;user id=jpereira;password=Tr0p4T1;database=asteriskcdrdb;persistsecurityinfo=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\asteriskcdrdbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Repositorios.Contexto.asteriskcdrdb.csdl|res://*/Repositorios.Contexto.asteriskcdrdb.ssdl|res://*/Repositorios.Contexto.asteriskcdrdb.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.228.5.21;user id=jpereira;password=Tr0p4T1;database=asteriskcdrdb;persistsecurityinfo=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="buscaEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=10.228.5.6;user id=asilva;password=Q1w2e3r4t5;persistsecurityinfo=True;database=busca" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\buscaEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Repositorios.Contexto.PortalBusca.csdl|res://*/Repositorios.Contexto.PortalBusca.ssdl|res://*/Repositorios.Contexto.PortalBusca.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.228.5.6;user id=asilva;password=Q1w2e3r4t5;persistsecurityinfo=True;database=busca&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="coadEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=10.228.5.6;user id=asilva;password=Q1w2e3r4t5;allowzerodatetime=True;convertzerodatetime=True;persistsecurityinfo=True;database=coad" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\coadEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Repositorios.Contexto.PortalCoad.csdl|res://*/Repositorios.Contexto.PortalCoad.ssdl|res://*/Repositorios.Contexto.PortalCoad.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.228.5.6;user id=asilva;password=Q1w2e3r4t5;Allow Zero Datetime=true;Convert Zero Datetime=true;persistsecurityinfo=True;database=coad&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="COADCORPEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.228.5.10;Initial Catalog=COADCORP;User ID=SATELITE;Password=C04dC0nsult0r14!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\COADCORPEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Repositorios.Contexto.COADCORP.csdl|res://*/Repositorios.Contexto.COADCORP.ssdl|res://*/Repositorios.Contexto.COADCORP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=COADCORP;user id=SATELITE;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="COADSYSEntities" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.228.5.10;Initial Catalog=COADSYS;User ID=satelite;Password=C04dC0nsult0r14!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\COADSYSEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Repositorios.Contexto.COADSYS.csdl|res://*/Repositorios.Contexto.COADSYS.ssdl|res://*/Repositorios.Contexto.COADSYS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=COADSYS;user id=satelite;password=C04dC0nsult0r14!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)asteriskcdrdbEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)buscaEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COADCORPEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)coadEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COADGEDEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COADSYSEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)corporativo2Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)prospectadosEntities-Web.config Connection String" />
  </ItemGroup>
</Project>