@{
    ViewBag.Title = "Notificação";
}

<h2>Notificação</h2>

<div>
    <div class="panel panel-danger">
                  <!-- Default panel contents -->
        <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-remove-sign icon-panel"></span> 
           Notificação 
        </div>
        <div class="panel-body">
            <div>@TempData["message"]</div>
        </div>
    </div>

</div>
