
SET IDENTITY_INSERT [COADCORP_TEST].[dbo].[ORIGEM_CADASTRO] ON
INSERT [COADCORP_TEST].[dbo].[ORIGEM_CADASTRO] ([O_CAD_ID], [O_CAD_DESCRICAO]) VALUES (1, N'ASSINATURA')
INSERT [COADCORP_TEST].[dbo].[ORIGEM_CADASTRO] ([O_CAD_ID], [O_CAD_DESCRICAO]) VALUES (3, N'E-MAIL MARKETING')
INSERT [COADCORP_TEST].[dbo].[ORIGEM_CADASTRO] ([O_CAD_ID], [O_CAD_DESCRICAO]) VALUES (4, N'GOOGLE')

SET IDENTITY_INSERT [COADCORP_TEST].[dbo].[ORIGEM_CADASTRO] OFF
GO

-- PRODUTO COMPOSIÇÃO -------------------------------
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_PRODUTO_COMPOSTO
BEGIN TRY

	SET IDENTITY_INSERT [COADCORP_TEST].[dbo].[PRODUTO_COMPOSICAO] ON
	INSERT [COADCORP_TEST].[dbo].[PRODUTO_COMPOSICAO] ([CMP_ID], [PRO_ID], [CMP_DESCRICAO], [CMP_NOME_ESTRANGEIRO], [UEN_ID], [AREA_ID], [TIPO_PRO_ID], [TIPO_ENVIO_ID], [CMP_VLR_VENDA], [DATA_EXCLUSAO], [USU_LOGIN_EXCLUSAO], [CMP_PRO_INTERESSE]) VALUES (279, 40, N'CONTABILIDADE GERAL', N'CG', N'PB', 3, 3, 2, CAST(0.00 AS Numeric(10, 2)), NULL, NULL, 1)
	INSERT [COADCORP_TEST].[dbo].[PRODUTO_COMPOSICAO] ([CMP_ID], [PRO_ID], [CMP_DESCRICAO], [CMP_NOME_ESTRANGEIRO], [UEN_ID], [AREA_ID], [TIPO_PRO_ID], [TIPO_ENVIO_ID], [CMP_VLR_VENDA], [DATA_EXCLUSAO], [USU_LOGIN_EXCLUSAO], [CMP_PRO_INTERESSE]) VALUES (280, 40, N'ALTERAÇÕES CONTÁBEIS - LEIS 11.638 E 11.941', N'AC', N'PB', 3, 3, 2, CAST(0.00 AS Numeric(10, 2)), NULL, NULL, 1)
	INSERT [COADCORP_TEST].[dbo].[PRODUTO_COMPOSICAO] ([CMP_ID], [PRO_ID], [CMP_DESCRICAO], [CMP_NOME_ESTRANGEIRO], [UEN_ID], [AREA_ID], [TIPO_PRO_ID], [TIPO_ENVIO_ID], [CMP_VLR_VENDA], [DATA_EXCLUSAO], [USU_LOGIN_EXCLUSAO], [CMP_PRO_INTERESSE]) VALUES (281, 40, N'GESTÃO DE RECURSOS HUMANOS', N'GRH', N'PB', 3, 3, 2, CAST(0.00 AS Numeric(10, 2)), NULL, NULL, 1)
	SET IDENTITY_INSERT [COADCORP_TEST].[dbo].[PRODUTO_COMPOSICAO] OFF
  
  COMMIT TRANSACTION TX_PRODUTO_COMPOSTO
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_PRODUTO_COMPOSTO
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH

---------------- PRODUTO COMPOSIÇÃO ITEM

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_PRODUTO_COMPOSICAO_ITEM
BEGIN TRY

  INSERT INTO [COADCORP_TEST].[dbo].[PRODUTO_COMPOSICAO_ITEM] (CMP_ID, PRO_ID, CMI_QTDE, CMI_PRECO_UNIT, CMI_PRECO_TOTAL, CMI_QTDE_PERIODO)
  SELECT 
	CMP.CMP_ID 
	,40 AS PRO_ID
	,0 AS CMI_QTDE
	,0.00 AS CMI_PRECO_UNIT
	, 0 AS CMI_PRECO_TOTAL
	, 0 AS CMI_QTDE_PERIODO
  FROM [COADCORP_TEST].[dbo].[PRODUTO_COMPOSICAO] CMP
  WHERE CMP.CMP_PRO_INTERESSE = 1
  AND NOT EXISTS 
  
  (	SELECT 1 FROM
	[COADCORP_TEST].[dbo].[PRODUTO_COMPOSICAO_ITEM] ITEM2 
	WHERE ITEM2.CMP_ID = CMP.CMP_ID AND ITEM2.PRO_ID = 40
  )
  
  	  COMMIT TRANSACTION TX_PRODUTO_COMPOSICAO_ITEM
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_PRODUTO_COMPOSICAO_ITEM
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH

USE [COADCORP_TEST]
GO

/****** Object:  View [dbo].[CLIENTES_VW]    Script Date: 04/05/2016 10:12:03 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



ALTER VIEW [dbo].[CLIENTES_VW]
AS 
SELECT 
	*
FROM 
	[dbo].[CLIENTES] CLI0
WHERE
	CLI0.CLI_ID IN (
			SELECT 
				MAX(CLI1.CLI_ID) 
			FROM [dbo].[CLIENTES] CLI1
			GROUP BY CLI1.CLI_CPF_CNPJ, CLI1.CLI_NOME)
	

GO

ALTER TABLE COADSAT_HOMOL.dbo.SAT_SUSPECT
ADD CLI_ID int null;

GO
ALTER TABLE COADSAT_HOMOL.dbo.SAT_OPERADOR
ADD REP_ID int null;

GO

-- atualiza o nome das regiões de acordo com as da agenda antiga
UPDATE RG_FRAN
SET RG_FRAN.RG_DESCRICAO = RG_SET.DESCRICAO
FROM [COADSAT_HOMOL].[dbo].[SAT_REGIAO] RG_SET
INNER JOIN COADCORP_TEST.dbo.REGIAO RG_FRAN 
ON RG_SET.ID = RG_FRAN.RG_ID

GO

INSERT INTO COADCORP_TEST.dbo.REGIAO(RG_DESCRICAO)
SELECT 
	RG0.DESCRICAO
	FROM COADSAT_HOMOL.dbo.SAT_REGIAO RG0 WHERE
		DESCRICAO NOT IN (SELECT RG1.RG_DESCRICAO 
					FROM COADCORP_TEST.dbo.REGIAO RG1 
						WHERE RG0.DESCRICAO = RG1.RG_DESCRICAO)
GO
/*

GO
ALTER TABLE COADCORP_TEST.[dbo].[NOTIFICACOES]
ADD [REP_QUE_ENCAMINHOU] INT NULL
  
GO*/

SET IDENTITY_INSERT COADCORP_TEST.[dbo].[TIPO_PRIORIDADE_ATENDIMENTO] ON
INSERT COADCORP_TEST.[dbo].[TIPO_PRIORIDADE_ATENDIMENTO] ([TP_PRI_ID], [TP_PRI_DESCRICAO]) VALUES (1, N'Rodizio')
INSERT COADCORP_TEST.[dbo].[TIPO_PRIORIDADE_ATENDIMENTO] ([TP_PRI_ID], [TP_PRI_DESCRICAO]) VALUES (2, N'Transferencia')
INSERT COADCORP_TEST.[dbo].[TIPO_PRIORIDADE_ATENDIMENTO] ([TP_PRI_ID], [TP_PRI_DESCRICAO]) VALUES (3, N'Cadastrado Por Operadora')

SET IDENTITY_INSERT [dbo].[TIPO_PRIORIDADE_ATENDIMENTO] OFF
GO


ALTER TABLE COADCORP_TEST.[dbo].[FILA_CADASTRO]
ADD [RG_ID] [int] NULL


ALTER TABLE COADCORP_TEST.[dbo].[FILA_CADASTRO]  WITH CHECK ADD  CONSTRAINT [FK_FILA_CADASTRO_REGIAO] FOREIGN KEY([RG_ID])
REFERENCES COADCORP_TEST.[dbo].[REGIAO] ([RG_ID])
GO

ALTER TABLE COADCORP_TEST.[dbo].[FILA_CADASTRO] CHECK CONSTRAINT [FK_FILA_CADASTRO_REGIAO]
GO
	

ALTER TABLE COADCORP_TEST.[dbo].[CARTEIRA]
ADD [DATA_EXCLUSAO] DATETIME NULL
  
GO

ALTER TABLE COADCORP_TEST.dbo.ASSINATURA_EMAIL
ALTER COLUMN AEM_EMAIL [VARCHAR](100)

GO

ALTER TABLE COADCORP_TEST.dbo.ASSINATURA_TELEFONE
ALTER COLUMN ATE_TELEFONE [VARCHAR](20)

GO

ALTER TABLE COADCORP_TEST.[dbo].[ASSINATURA_TELEFONE]
ADD ATE_CONTATO [VARCHAR](70)

GO
SET IDENTITY_INSERT COADCORP_TEST.[dbo].[ACAO_ATENDIMENTO] ON
  
  INSERT INTO COADCORP_TEST.[dbo].[ACAO_ATENDIMENTO]([ACA_ID], ACA_DESCRICAO, ACA_IMP_ETIQUETA)
  VALUES (9, N'Reencarteiramento', 0);
  
  
  INSERT INTO COADCORP_TEST.[dbo].[ACAO_ATENDIMENTO]([ACA_ID], ACA_DESCRICAO, ACA_IMP_ETIQUETA)
  VALUES (10, N'Adição de região', 0);
  
  
  INSERT INTO COADCORP_TEST.[dbo].[ACAO_ATENDIMENTO]([ACA_ID], ACA_DESCRICAO, ACA_IMP_ETIQUETA)
  VALUES (11, N'Encaminhamento', 0);

  
  
  
SET IDENTITY_INSERT COADCORP_TEST.[dbo].[ACAO_ATENDIMENTO] OFF
GO

ALTER TABLE [COADCORP_TEST].[dbo].[HISTORICO_ATENDIMENTO]
ADD CLI_ID INT NULL

GO 
ALTER TABLE COADCORP_TEST.[dbo].[HISTORICO_ATENDIMENTO]  WITH CHECK ADD  CONSTRAINT [FK_HISTORICO_ATENDIMENTO_CLIENTE] FOREIGN KEY([CLI_ID])
REFERENCES COADCORP_TEST.[dbo].[CLIENTES] ([CLI_ID])
GO

ALTER TABLE COADCORP_TEST.[dbo].[HISTORICO_ATENDIMENTO] CHECK CONSTRAINT [FK_HISTORICO_ATENDIMENTO_CLIENTE]
GO


SET IDENTITY_INSERT [COADCORP_TEST].[dbo].[TIPO_ATENDIMENTO] ON
INSERT [COADCORP_TEST].[dbo].[TIPO_ATENDIMENTO] ([TIP_ATEND_ID], [TIP_ATEND_DESCRICAO])
VALUES(6, 'Outros');
SET IDENTITY_INSERT [COADCORP_TEST].[dbo].[TIPO_ATENDIMENTO] OFF
/*
-- Força a atualização no campo 'DATA ULTIMO HISTORICO' com a data da ultima ocorencia de histórico de um cliente
UPDATE cli
SET 
	cli.DATA_ULTIMO_HISTORICO = data
	FROM COADCORP_TEST.dbo.CLIENTES cli INNER JOIN
		(
			SELECT 
			CLI_ID,
			MAX(data) as data
			FROM
				(
				SELECT
					cli.CLI_ID as CLI_ID,
					his.HAT_DATA_HIST as data
				FROM COADCORP_TEST.dbo.HISTORICO_ATENDIMENTO his 
					INNER JOIN COADCORP_TEST.dbo.ASSINATURA ass 
						on his.ASN_NUM_ASSINATURA = ass.ASN_NUM_ASSINATURA
					INNER JOIN COADCORP_TEST.dbo.CLIENTES cli 
						on ass.CLI_ID = cli.CLI_ID
				WHERE his.UEN_ID = 1 AND
					  ass.UEN_ID = 1 AND
					  cli.DATA_EXCLUSAO is null
				UNION
				SELECT 
					cli.CLI_ID CLI_ID,
					his.HAT_DATA_HIST
				FROM COADCORP_TEST.dbo.HISTORICO_ATENDIMENTO his 
					INNER JOIN COADCORP_TEST.dbo.AGENDAMENTO age
						on his.AGE_ID = age.AGE_ID
					INNER JOIN COADCORP_TEST.dbo.CLIENTES cli 
						on age.CLI_ID = cli.CLI_ID
				WHERE his.UEN_ID = 1 AND
					  cli.DATA_EXCLUSAO is null
				)
		AS RESULT1
		GROUP BY RESULT1.CLI_ID) AS Filter1
	ON cli.CLI_ID = Filter1.CLI_ID
	
GO
*/

ALTER TABLE COADCORP_TEST.[dbo].[PRIORIDADE_ATENDIMENTO]
ADD REP_ID_DEMANDANTE [INT] NULL
GO

ALTER TABLE COADCORP_TEST.[dbo].CLIENTES
ALTER COLUMN CLI_NOME VARCHAR(100) NULL

GO
ALTER TABLE COADCORP_TEST.[dbo].CLIENTES
ALTER COLUMN CLI_A_C VARCHAR(90) NULL

GO
ALTER TABLE COADCORP_TEST.dbo.REPRESENTANTE
ADD REP_GERENTE BIT NULL
GO


SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_REPRESENTANTE
BEGIN TRY

---------- Inserindo os representantes operacionais-----------------------------------------------------
INSERT INTO 
COADCORP_TEST.dbo.REPRESENTANTE 
	   ([REP_NOME]
	   ,[RG_ID]
      ,[REGIAO_UF]
      ,[AREA_ID]
      ,[REP_ATIVO]
      ,[REP_VARIAS_CARTEIRAS]
      ,[UEN_ID]
      ,[CODIGO_ANTIGO]
      ,[REP_OPER_ID]      
	  ,[CAR_ID]
      ,[REGIAO_ID_ANTIGO])
SELECT 
	 OP.SlpName AS REP_NOME,
	 (SELECT TOP 1 CORP_RG.RG_ID FROM COADCORP_TEST.dbo.REGIAO CORP_RG WHERE rg.DESCRICAO = CORP_RG.RG_DESCRICAO) AS RG_ID,
	 (SELECT TOP 1 substring(CORP_RG.RG_DESCRICAO,1,2) FROM COADCORP_TEST.dbo.REGIAO CORP_RG WHERE rg.DESCRICAO = CORP_RG.RG_DESCRICAO) AS REGIAO_UF,
	1 AS AREA_ID,
	1 AS REP_ATIVO,
	1 AS REP_VARIAS_CARTEIRAS,
	1 AS UEN_ID,
	OP.SlpCode as CODIGO_ANTIGO,
	OP.SlpCode as REP_OPER_ID,
	'0000000' AS CARTEIRA,
	OP.REGIAO_ID
FROM COADSAT_HOMOL.dbo.SAT_OPERADOR OP 
		LEFT JOIN COADSAT_HOMOL.dbo.SAT_REGIAO rg
			ON OP.REGIAO_ID = rg.ID
WHERE NOT EXISTS (
	SELECT 1 FROM COADCORP_TEST.dbo.REPRESENTANTE REP
		WHERE OP.SlpName = REP.REP_NOME AND UEN_ID = 1
)
AND U_ASISTEMAS = '1000000000'

  

  ---------------------- IMPORTA O REPRESENTANTE DO BRUNO ---------------------------------
INSERT INTO 
COADCORP_TEST.dbo.REPRESENTANTE 
	   ([REP_NOME]
	   ,[RG_ID]
      ,[REGIAO_UF]
      ,[AREA_ID]
      ,[REP_ATIVO]
      ,[REP_VARIAS_CARTEIRAS]
      ,[UEN_ID]
      ,[CODIGO_ANTIGO]
      ,[REP_OPER_ID]      
	  ,[CAR_ID]
      ,[REGIAO_ID_ANTIGO]
      , REP_GERENTE)
SELECT 
	 OP.SlpName AS REP_NOME,
	 (SELECT TOP 1 CORP_RG.RG_ID FROM COADCORP_TEST.dbo.REGIAO CORP_RG WHERE rg.DESCRICAO = CORP_RG.RG_DESCRICAO) AS RG_ID,
	 (SELECT TOP 1 substring(CORP_RG.RG_DESCRICAO,1,2) FROM COADCORP_TEST.dbo.REGIAO CORP_RG WHERE rg.DESCRICAO = CORP_RG.RG_DESCRICAO) AS REGIAO_UF,
	1 AS AREA_ID,
	1 AS REP_ATIVO,
	1 AS REP_VARIAS_CARTEIRAS,
	1 AS UEN_ID,
	OP.SlpCode as CODIGO_ANTIGO,
	OP.SlpCode as REP_OPER_ID,
	'0000000' AS CARTEIRA,
	OP.REGIAO_ID,
	1 AS REP_GERENTE
FROM COADSAT_HOMOL.dbo.SAT_OPERADOR OP 
		LEFT JOIN COADSAT_HOMOL.dbo.SAT_REGIAO rg
			ON OP.REGIAO_ID = rg.ID
WHERE NOT EXISTS (
	SELECT 1 FROM COADCORP_TEST.dbo.REPRESENTANTE REP
		WHERE OP.SlpName = REP.REP_NOME 
)
AND SlpCode = 1
--------------------------------------- Atribui o Id dos representantes criados ao operador para manter corelação

  
	  COMMIT TRANSACTION TX_REPRESENTANTE
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_REPRESENTANTE
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH
GO

UPDATE OP 
SET OP.REP_ID = REP.REP_ID
  FROM [COADCORP_TEST].[dbo].[REPRESENTANTE] REP
  INNER JOIN COADSAT_HOMOL.dbo.SAT_OPERADOR OP ON REP.CODIGO_ANTIGO = OP.SlpCode

GO


--------- CRIA AS CARTERIAS DOS REPRESENTANTES IMPORTADOS
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_CARTEIRA
BEGIN TRY

INSERT INTO COADCORP_TEST.dbo.CARTEIRA (
	CAR_ID,
	REGIAO_ID,
	SEQ_REG,
	AREA_ID,
	REGIAO_UF,
	RG_ID,
	CAR_VARIOS_REPRESENTANTES,
	UEN_ID,
	REP_REF
)
SELECT 
	((select TOP 1 seq from COADCORP_TEST.dbo.TAB_SEQ tb WHERE tb.TABELA = 'CARTEIRA')) + 
	ROW_NUMBER() OVER(ORDER BY REP.REP_NOME) AS CAR_ID
	,REP.REGIAO_UF AS REGIAO_ID
	,01 AS SEQ_REG
	,1 AS AREA_ID
	,REP.REGIAO_UF AS REGIAO_UF
	,REP.RG_ID AS RG_ID
	,0 AS CAR_VARIOS_REPRESENTANTES
	,1 AS UEN_ID  
	,OP.REP_ID AS REP_REF

FROM [COADCORP_TEST].[dbo].[REPRESENTANTE] REP INNER JOIN 
[COADSAT_HOMOL].[dbo].[SAT_OPERADOR] OP ON REP.REP_ID = OP.REP_ID

UPDATE [COADCORP_TEST].dbo.TAB_SEQ 
SET SEQ = (select 
	(SELECT SEQ FROM [COADCORP_TEST].dbo.TAB_SEQ WHERE TABELA = 'CARTEIRA')
	 + COUNT(*)
				FROM [COADCORP_TEST].[dbo].[REPRESENTANTE] REP INNER JOIN 
					[COADSAT_HOMOL].[dbo].[SAT_OPERADOR] OP ON REP.REP_ID = OP.REP_ID)
WHERE TABELA = 'CARTEIRA';



  COMMIT TRANSACTION TX_CARTEIRA
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_CARTEIRA
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH
GO

-- Cria a associação entre a carteira e a representante ----------------------

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_CARTEIRA_REPRESENTANTE
BEGIN TRY

INSERT INTO COADCORP_TEST.dbo.CARTEIRA_REPRESENTANTE (CAR_ID, REP_ID, DATA_ASSOCIACAO)
SELECT
	CAR_ID, 
	REP_REF,
	GETDATE()
FROM [COADCORP_TEST].dbo.CARTEIRA CAR
WHERE CAR.REP_REF IS NOT NULL
AND NOT EXISTS (
	SELECT 1 FROM COADCORP_TEST.dbo.CARTEIRA_REPRESENTANTE CAR_REP
	WHERE CAR_REP.CAR_ID = CAR.CAR_ID AND CAR_REP.REP_ID = REP_REF
)
 COMMIT TRANSACTION TX_CARTEIRA_REPRESENTANTE
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_CARTEIRA_REPRESENTANTE
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH

GO

ALTER TABLE COADCORP_TEST.dbo.CLIENTES
ADD CLI_FLAG_VALIDO BIT NULL


GO

ALTER TABLE COADSAT_HOMOL.dbo.SAT_SUSPECT
ADD FLAG_VALIDO BIT NULL

GO

--------------------------------------------------------- Indica quais os suspects devem ser pesquisados por flag --------------


SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_CLIENTES_VALIDOS
BEGIN TRY

UPDATE  
	COADSAT_HOMOL.dbo.SAT_SUSPECT
	SET FLAG_VALIDO = 1
	 WHERE 
	 Cardcode IN (
	 
		SELECT MAX(CARDCODE)
		FROM 
		COADSAT_HOMOL.dbo.SAT_SUSPECT SUS2
		GROUP BY SUS2.U_TAXID, SUS2.CardName
	)
	
	COMMIT TRANSACTION TX_CLIENTES_VALIDOS
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_CLIENTES_VALIDOS
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH
GO
	
	
	---------------------------Continuar 31/03/2016-----------------
--------------------------------------------------------- INSERE OS CLIENTES QUE AINDA NÃO EXISTEM
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_CLIENTES
BEGIN TRY


	INSERT INTO COADCORP_TEST.dbo.CLIENTES 
	(	CLI_NOME, 
		CLI_A_C, 
		CLI_CPF_CNPJ,
		CLA_CLI_ID,
		DATA_CADASTRO,
		TIPO_CLI_ID)
	SELECT
			CardName AS CLI_NOME,
			CntctPrsn AS CONTATO,
			U_TAXID CLI_CPF_CNPJ,
			(CASE 
				WHEN CardType = 'S' THEN 1
				WHEN CardType = 'P' THEN 2
				WHEN CardType = 'C' THEN 3 
			END) AS CLA_CLI_ID,
			CreateDate AS CLI_DATA_INCLUSAO,
			2 AS TIPO_CLI_ID
		FROM
		COADSAT_HOMOL.dbo.SAT_SUSPECT_VW SUS 
		WHERE
	   NOT EXISTS
		(SELECT 1
			FROM
				COADCORP_TEST.dbo.CLIENTES_VW CLI 
			WHERE (SUS.CardName = CLI.CLI_NOME) AND 
				((SUS.U_TAXID IS NULL AND CLI.CLI_CPF_CNPJ IS NULL) OR 
				 (SUS.U_TAXID = CLI.CLI_CPF_CNPJ)
				 OR SUS.U_TAXID IS NULL AND CLI.CLI_CPF_CNPJ IS NOT NULL)
				 
		)
		ORDER BY CLI_NOME
		
	COMMIT TRANSACTION TX_CLIENTES
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_CLIENTES
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH
GO

UPDATE SUS 
SET SUS.CLI_ID = CLI.CLI_ID
FROM
	COADSAT_HOMOL.dbo.SAT_SUSPECT SUS 
	INNER JOIN COADCORP_TEST.dbo.CLIENTES_VW CLI 
		ON (SUS.CardName = CLI.CLI_NOME) AND 
			((SUS.U_TAXID IS NULL AND CLI.CLI_CPF_CNPJ IS NULL) OR 
			 (SUS.U_TAXID = CLI.CLI_CPF_CNPJ)
			 OR SUS.U_TAXID IS NULL AND CLI.CLI_CPF_CNPJ IS NOT NULL)
	WHERE SUS.CardCode = (
				 	SELECT  MAX(SUS2.CardCode) FROM COADSAT_HOMOL.dbo.SAT_SUSPECT SUS2
					WHERE SUS.CardName = SUS2.CardName
					AND (SUS.U_TAXID = SUS2.U_TAXID)
				 )
				AND SUS.CLI_ID IS NULL

GO
ALTER TABLE COADCORP_TEST.[dbo].[CARTEIRA_CLIENTE] 
ADD [ASN_NUM_ASSINATURA] [VARCHAR](8)

GO 
ALTER TABLE COADCORP_TEST.[dbo].[CARTEIRA_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CARTEIRA_CLIENTE_ASSINATURA] FOREIGN KEY([ASN_NUM_ASSINATURA])
REFERENCES COADCORP_TEST.[dbo].[ASSINATURA] ([ASN_NUM_ASSINATURA])
GO

ALTER TABLE COADCORP_TEST.[dbo].[CARTEIRA_CLIENTE] CHECK CONSTRAINT [FK_CARTEIRA_CLIENTE_ASSINATURA]
GO
-------------------------------------- Insere na tabela carteira clientes clientes da franquia que já está cadastrado por meio da assinatura
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_CARTEIRA_CLIENTE
BEGIN TRY

INSERT INTO COADCORP_TEST.dbo.CARTEIRA_CLIENTE(CAR_ID, CLI_ID, DATA_ASSOCIACAO)
SELECT DISTINCT
	car_ass.CAR_ID,
	ASS.CLI_ID,
	GETDATE()
FROM COADCORP_TEST.dbo.ASSINATURA ASS
	INNER JOIN COADCORP_TEST.dbo.CARTEIRA_ASSINATURA car_ass
		ON ASS.ASN_NUM_ASSINATURA = car_ass.ASN_NUM_ASSINATURA
	
WHERE 
	ASS.UEN_ID = 1
	AND 
	NOT EXISTS
	(
		SELECT 1 FROM COADCORP_TEST.dbo.CARTEIRA_CLIENTE CAR_CLI
		WHERE 
			CAR_CLI.CLI_ID = ASS.CLI_ID AND
			CAR_CLI.CAR_ID = car_ass.CAR_ID
	)

COMMIT TRANSACTION TX_CARTEIRA_CLIENTE
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_CARTEIRA_CLIENTE
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH

------------------------------ realoca o email  -----
UPDATE 
 ASS_EMAIL
 SET CLI_ID = ASS.CLI_ID
FROM
	COADCORP_TEST.dbo.ASSINATURA_EMAIL ASS_EMAIL
	INNER JOIN COADCORP_TEST.dbo.ASSINATURA ASS
		ON ASS_EMAIL.ASN_NUM_ASSINATURA = ASS.ASN_NUM_ASSINATURA
WHERE ASS.UEN_ID = 1
AND ASS_EMAIL.CLI_ID IS NULL

GO

UPDATE 
 ASS_TELEFONE
 SET CLI_ID = ASS.CLI_ID
FROM
	COADCORP_TEST.dbo.ASSINATURA_TELEFONE ASS_TELEFONE
	INNER JOIN COADCORP_TEST.dbo.ASSINATURA ASS
		ON ASS_TELEFONE.ASN_NUM_ASSINATURA = ASS.ASN_NUM_ASSINATURA
WHERE ASS.UEN_ID = 1
AND ASS_TELEFONE.CLI_ID IS NULL

GO
ALTER TABLE COADCORP_TEST.dbo.ASSINATURA_TELEFONE
ALTER COLUMN ASN_NUM_ASSINATURA VARCHAR(8) NULL;

GO

ALTER TABLE COADCORP_TEST.dbo.ASSINATURA_EMAIL
ALTER COLUMN ASN_NUM_ASSINATURA VARCHAR(8) NULL;

GO

-------------------------------------------------------------- Importação de email -------------------------------------
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_EMAIL
BEGIN TRY
	
		-- Importa o email do cliente da agenda velha a agenda nova por meio da primeira assinatura de franquia encontrado
		INSERT INTO COADCORP_TEST.dbo.ASSINATURA_EMAIL (AEM_EMAIL, CLI_ID)
		SELECT
			SUS.E_Mail,
			CLI.CLI_ID AS CLI_ID 
		 FROM
			[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS INNER JOIN 
			[COADCORP_TEST].[dbo].[CLIENTES] CLI ON CLI.CLI_ID = SUS.CLI_ID
		WHERE 
			SUS.CLI_ID IS NOT NULL AND
			SUS.E_Mail IS NOT NULL AND
			SUS.E_Mail <> '' AND
			SUS.E_Mail <> '(null)'
		AND NOT EXISTS 
		(	
			SELECT 
			1 
			FROM [COADCORP_TEST].[dbo].[ASSINATURA_EMAIL] ASS_EMAIL
			WHERE ASS_EMAIL.CLI_ID = CLI.CLI_ID 
			AND LTRIM(RTRIM(SUS.E_Mail)) = LTRIM(RTRIM(ASS_EMAIL.AEM_EMAIL))
			
		 )AND SUS.CardCode =
		 (SELECT MAX(CAST(SUS1.CardCode AS INT))  FROM
					[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS1
					WHERE SUS1.CLI_ID = CLI.CLI_ID		
				) 
			
	COMMIT TRANSACTION TX_EMAIL
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_EMAIL
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;

END CATCH


	USE [COADCORP_TEST]
GO
/****** Object:  UserDefinedFunction [dbo].[LIMPA_TELEFONE]    Script Date: 03/22/2016 12:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[LIMPA_TELEFONE] 
(
	-- Add the parameters for the function here
	@VALOR VARCHAR(255),
	@CAMPO VARCHAR(20)
)
RETURNS VARCHAR(255)
AS
BEGIN
	
	DECLARE @string varchar(255), @char char(1);
	SET @string = @VALOR;
	
	SET @string = replace(@string,'(','');
	SET @string = replace(@string,')','');
	SET @string = replace(@string,' ','');
	SET @string = replace(@string,'	','');	
	
	SET @char = substring(@string,1,1); -- verifico se o primeiro valor é zero e o removo
	
	if(@char = '0')
	begin
		set @string = substring(@string,2, len(@string));
	end	
	
	if(len(@string) > 8)
	BEGIN
		if(@CAMPO = 'DDD')
		BEGIN 
			SET @string = substring(@string, 1, 2)
		END
		if(@CAMPO = 'TELEFONE')
		BEGIN 
			SET @string = substring(@string,3 , len(@string))
		END
				
	 END
	 ELSE
	 BEGIN
		if(@CAMPO = 'DDD')
		BEGIN 
			SET @string = null
		END		
	 END
	-- Return the result of the function
	RETURN @string;

END

-------------------------------------------------------------- Importação de telefone -------------------------------------
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_TELEFONE
BEGIN TRY
	
-- Importa o celular do cliente da agenda velha a agenda nova por meio da primeira assinatura de franquia encontrado
INSERT INTO [COADCORP_TEST].dbo.ASSINATURA_TELEFONE (ATE_TELEFONE, ATE_DDD ,CLI_ID, TIPO_TEL_ID)
SELECT

		COADCORP_TEST.dbo.LIMPA_TELEFONE(SUS.Phone1, 'TELEFONE') AS TELEFONE,
		COADCORP_TEST.dbo.LIMPA_TELEFONE(SUS.Phone1, 'DDD') AS DDD,
		CLI.CLI_ID,
		4 AS TIPO_TELEFONE		
	 FROM
		[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS INNER JOIN 
		[COADCORP_TEST].[dbo].[CLIENTES] CLI ON CLI.CLI_ID = SUS.CLI_ID
	WHERE 
		SUS.CLI_ID IS NOT NULL AND
		SUS.Phone1 IS NOT NULL AND
		SUS.Phone1 <> '' AND
		SUS.Phone1 <> '( )            ' AND
	    SUS.Phone1 <> '(null)         '
	AND
	NOT EXISTS (
	   	SELECT 
			1 
		FROM [COADCORP_TEST].[dbo].[ASSINATURA_TELEFONE] ASS_TELEFONE
		WHERE ASS_TELEFONE.CLI_ID = CLI.CLI_ID AND 
		COADCORP_TEST.dbo.LIMPA_TELEFONE(SUS.Phone1, 'TELEFONE') = ASS_TELEFONE.ATE_TELEFONE AND
		(
			(COADCORP_TEST.dbo.LIMPA_TELEFONE(SUS.Phone1, 'DDD') IS NULL AND ASS_TELEFONE.ATE_DDD IS NULL) OR
			(COADCORP_TEST.dbo.LIMPA_TELEFONE(SUS.Phone1, 'DDD') = ASS_TELEFONE.ATE_DDD)
		)
		
	)
			
COMMIT TRANSACTION TX_TELEFONE
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_TELEFONE
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;

END CATCH


-------------------------------------------------------------- Importação de endereço -------------------------------------
BEGIN TRANSACTION TX_END
BEGIN TRY	
	
	INSERT INTO [COADCORP_TEST].[dbo].[CLIENTES_ENDERECO](END_UF, MUN_ID, END_MUNICIPIO, END_BAIRRO, END_LOGRADOURO, END_CEP, CLI_ID, END_TIPO)
	SELECT DISTINCT
			SUS.State1 AS END_UF
			,(	SELECT TOP 1 MUN.MUN_ID
				FROM [COADCORP_TEST].[dbo].[MUNICIPIO] MUN 
				WHERE MUN.MUN_DESCRICAO collate sql_latin1_general_cp1251_ci_as = SUS.City collate sql_latin1_general_cp1251_ci_as
			) AS MUN_ID		
			,(	SELECT TOP 1 MUN.MUN_DESCRICAO
				FROM [COADCORP_TEST].[dbo].[MUNICIPIO] MUN 
				WHERE MUN.MUN_DESCRICAO collate sql_latin1_general_cp1251_ci_as = SUS.City collate sql_latin1_general_cp1251_ci_as
			) AS END_MUNICIPIO
		  ,SUS.[Block] AS [BAIRRO]
		  ,SUS.[Address] AS [END_LOGRADOURO]
		  ,SUS.[ZipCode] AS [CEP]
		  ,CLI.CLI_ID
		  ,1 AS END_TIPO
	FROM
		[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS INNER JOIN 
		[COADCORP_TEST].[dbo].[CLIENTES] CLI ON CLI.CLI_ID = SUS.CLI_ID
	WHERE NOT EXISTS (
		SELECT 1 FROM
			[COADCORP_TEST].[dbo].[CLIENTES_ENDERECO] CLI_END
			WHERE CLI_END.CLI_ID = CLI.CLI_ID
			
		) AND SUS.State1 IS NOT NULL
	AND SUS.CardCode = (
	SELECT MAX(CAST(SUS1.CardCode AS INT))  FROM
		[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS1
		WHERE SUS1.CLI_ID = CLI.CLI_ID		
	) 
	AND LEN(SUS.State1) <= 2
	ORDER BY CLI_ID
COMMIT TRANSACTION TX_END
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_END
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;

END CATCH
-------------------------------------------------------------- Importação de histórico -------------------------------------
/****** Script do comando SelectTopNRows de SSMS  ******/
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_HIST
BEGIN TRY

	INSERT [COADCORP_TEST].[dbo].[HISTORICO_ATENDIMENTO] 
		(CLI_ID, 
		ACA_ID, HAT_DATA_HIST, 
		HAT_DATA_RESOLUCAO, 
		TIP_ATEND_ID, 
		USU_LOGIN, 
		HAT_IMP_ETIQUETA, 
		HAT_DESCRICAO, 
		UEN_ID)
	SELECT CLI.[CLI_ID] AS CLI_ID
		  ,12 AS ACA_ID
		  ,[CntctDate] AS [HAT_DATA_HIST]
		  ,[CntctDate] AS [HAT_DATA_RESOLUCAO] 
		  ,6 AS TIP_ATEND_ID
		  , 'COADSYS' AS USU_LOGIN
		  , 0 AS [HAT_IMP_ETIQUETA]
		  ,HIST.[Notes] AS [HAT_DESCRICAO] 
		  , 1 AS UEN_ID
	  FROM  [COADSAT_HOMOL].[dbo].[SAT_SUSPATIVID] HIST INNER JOIN  
  			[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS ON HIST.CardCode = SUS.CardCode INNER JOIN 
			[COADCORP_TEST].[dbo].[CLIENTES] CLI ON CLI.CLI_ID = SUS.CLI_ID
	  WHERE NOT EXISTS (
		
		SELECT 1 
		FROM [COADCORP_TEST].[dbo].[HISTORICO_ATENDIMENTO] HIS_ATEN
		WHERE	
				HIS_ATEN.HAT_DATA_HIST = HIST.CntctDate AND 
				HIS_ATEN.HAT_DESCRICAO LIKE HIST.Notes
	  )  
	  
	COMMIT TRANSACTION TX_HIST

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_HIST
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH

-------------------------------------------------------------- Encarteirar o cliente -------------------------------------

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_CARTEIRAMENTO
BEGIN TRY

	INSERT INTO 
		COADCORP_TEST.dbo.CARTEIRA_CLIENTE(CLI_ID, CAR_ID)
	SELECT DISTINCT
		CLI.CLI_ID,
		CART02.CAR_ID
		FROM COADSAT_HOMOL.dbo.SAT_SUSPECT SUS
			INNER JOIN COADCORP_TEST.dbo.CLIENTES_VW CLI ON SUS.CLI_ID = CLI.CLI_ID		
			INNER JOIN COADSAT_HOMOL.dbo.SAT_CARTEIRAMENTO CART ON SUS.CardCode = CART.CARDCODE
			INNER JOIN COADSAT_HOMOL.dbo.SAT_OPERADOR OP ON CART.SLPCODE = OP.SlpCode
			INNER JOIN COADCORP_TEST.dbo.REPRESENTANTE REP ON REP.REP_ID = OP.REP_ID
			INNER JOIN COADCORP_TEST.dbo.CARTEIRA_REPRESENTANTE CAR_REP ON REP.REP_ID = CAR_REP.REP_ID
			INNER JOIN COADCORP_TEST.dbo.CARTEIRA CART02 ON CART02.CAR_ID = CAR_REP.CAR_ID
	WHERE 
		CART.[STATUS] = 'A' 
		AND 
		CAR_REP.CAR_ID = (
			
			SELECT MIN(CART02_SUB.CAR_ID) FROM COADCORP_TEST.dbo.CARTEIRA_REPRESENTANTE CAR_REP_SUB INNER JOIN 
			COADCORP_TEST.dbo.CARTEIRA CART02_SUB ON CART02_SUB.CAR_ID = CAR_REP_SUB.CAR_ID
			WHERE CAR_REP_SUB.REP_ID = REP.REP_ID AND CART02_SUB.UEN_ID = 1
		)
	AND CART02.UEN_ID = 1
	AND NOT EXISTS (SELECT 1 FROM COADCORP_TEST.dbo.CARTEIRA_CLIENTE CCLI WHERE CCLI.CAR_ID = CART02.CAR_ID AND CCLI.CLI_ID = CLI.CLI_ID)

	COMMIT TRANSACTION TX_CARTEIRAMENTO

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_CARTEIRAMENTO
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH

------------------------------ IMPORTAÇÃO DE PRIORIDADES DE ATENDIMENTO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_PRIORIDADE
BEGIN TRY

	INSERT INTO COADCORP_TEST.dbo.PRIORIDADE_ATENDIMENTO 
		(PRI_DATA,
		PRI_NOTA, 
		REP_ID, 
		CLI_ID, 
		TP_PRI_ID, 
		REP_ID_DEMANDANTE)
	SELECT 
		  [PRI_DATA]
		  , PRI_NOTA
		  ,REP_ID
		  ,CLI_ID
		  ,[TP_PRI_ID]
		 , [REP_ID_DEMANDANTE]
		  
	FROM
	(SELECT 
		  [DATA_PRIORIDADE] AS [PRI_DATA]
		  ,COMENTARIO AS PRI_NOTA
		  ,REP.REP_ID
		  ,CLI.CLI_ID
		  ,(
			CASE 
				WHEN (ORIGEM = 'R') THEN 1 
				WHEN (ORIGEM = 'T') THEN 2 
				WHEN (ORIGEM = 'V') THEN 3
				WHEN (ORIGEM = 'E') THEN 4			
			END) AS [TP_PRI_ID]
		 , (SELECT TOP 1 REP_ID
				FROM COADCORP_TEST.dbo.REPRESENTANTE REP1 
				WHERE REP1.REP_NOME = PRI.DEMANDANTE) AS [REP_ID_DEMANDANTE]
		  
		  FROM [COADSAT_HOMOL].[dbo].[SAT_PRIORIDADE] PRI INNER JOIN 
			[COADSAT_HOMOL].[dbo].[SAT_SUSPECT] SUS ON PRI.CARDCODE = SUS.CardCode
			LEFT JOIN COADCORP_TEST.dbo.CLIENTES_VW CLI ON SUS.CLI_ID = CLI.CLI_ID
			LEFT JOIN [COADSAT_HOMOL].[dbo].[SAT_OPERADOR] OP ON OP.SlpCode = PRI.SLPCODE
			LEFT JOIN COADCORP_TEST.dbo.REPRESENTANTE REP ON REP.REP_ID = OP.REP_ID
	  WHERE STATUS = 'A'
	  AND YEAR([DATA_PRIORIDADE]) = YEAR(GETDATE()))
	  AS T WHERE
	  NOT EXISTS (
		SELECT 1 FROM COADCORP_TEST.dbo.PRIORIDADE_ATENDIMENTO PRI_ATE
		WHERE PRI_ATE.PRI_DATA = T.[PRI_DATA] AND PRI_ATE.PRI_NOTA LIKE T.PRI_NOTA
		AND PRI_ATE.CLI_ID =  T.CLI_ID AND PRI_ATE.REP_ID = T.REP_ID
	  )
	  
	  COMMIT TRANSACTION TX_PRIORIDADE
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_PRIORIDADE
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH


------------------------------ AUMENTANDO O TAMANHO DO CAMPO AGE_DESCRICAO
ALTER TABLE COADCORP_TEST.dbo.AGENDAMENTO
ALTER COLUMN AGE_DESCRICAO NVARCHAR(100);

------------------------------ IMPORTAÇÃO DE AGENDAMENTOS ----------------------------

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_AGENDAMENTO
BEGIN TRY

	INSERT INTO COADCORP_TEST.dbo.AGENDAMENTO(
		AGE_DESCRICAO
		,AGE_DATA_AGENDAMENTO
		,CLI_ID
		,CAR_ID
		,REP_ID)
	SELECT
		AGE_DESCRICAO
		,AGE_DATE_AGENDAMENTO
		,CLI_ID
		,CAR_ID
		,REP_ID
	FROM
			(SELECT
			'Agendamento de "' + [CardName] + '" .' AS AGE_DESCRICAO
				  ,SUS.ToDate AS AGE_DATE_AGENDAMENTO
				  ,CLI.CLI_ID
				  ,CART02.CAR_ID
				  ,REP.REP_ID
			FROM COADSAT_HOMOL.dbo.SAT_SUSPECT SUS
						INNER JOIN COADCORP_TEST.dbo.CLIENTES_VW CLI ON SUS.CLI_ID = CLI.CLI_ID		
						INNER JOIN COADSAT_HOMOL.dbo.SAT_CARTEIRAMENTO CART ON SUS.CardCode = CART.CARDCODE
						INNER JOIN COADSAT_HOMOL.dbo.SAT_OPERADOR OP ON CART.SLPCODE = OP.SlpCode
						INNER JOIN COADCORP_TEST.dbo.REPRESENTANTE REP ON REP.REP_ID = OP.REP_ID
						INNER JOIN COADCORP_TEST.dbo.CARTEIRA_REPRESENTANTE CAR_REP ON REP.REP_ID = CAR_REP.REP_ID
						INNER JOIN COADCORP_TEST.dbo.CARTEIRA CART02 ON CART02.CAR_ID = CAR_REP.CAR_ID
				WHERE 
					CART.[STATUS] = 'A' 
					AND 
					CAR_REP.CAR_ID = (
						
						SELECT MIN(CART02_SUB.CAR_ID) FROM COADCORP_TEST.dbo.CARTEIRA_REPRESENTANTE CAR_REP_SUB INNER JOIN 
						COADCORP_TEST.dbo.CARTEIRA CART02_SUB ON CART02_SUB.CAR_ID = CAR_REP_SUB.CAR_ID
						WHERE CAR_REP_SUB.REP_ID = REP.REP_ID AND CART02_SUB.UEN_ID = 1
					)
				AND CART02.UEN_ID = 1
			  AND SUS.ToDate >= GETDATE()) AS T
	  WHERE
		NOT EXISTS 
	  (SELECT 1 FROM
			COADCORP_TEST.dbo.AGENDAMENTO AGE 
			WHERE AGE.AGE_DESCRICAO LIKE T.AGE_DESCRICAO
			AND AGE.CAR_ID = T.CAR_ID
			AND AGE.CLI_ID = T.CLI_ID
			AND AGE.REP_ID = T.REP_ID
			AND AGE.AGE_DATA_AGENDAMENTO = T.AGE_DATE_AGENDAMENTO		
	  )
	  
	  
	  COMMIT TRANSACTION TX_AGENDAMENTO
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_AGENDAMENTO
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH


----------- INFORMAÇÕES DE MARKETING ------------------------------------------


SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_INFORMACAO_MARKETING
BEGIN TRY
		INSERT INTO [COADCORP_TEST].[dbo].INFO_MARKETING (MKT_CLI_ID)
		SELECT CLI.CLI_ID 
		FROM
				[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS INNER JOIN 
				[COADCORP_TEST].[dbo].[CLIENTES] CLI ON CLI.CLI_ID = SUS.CLI_ID
			WHERE NOT EXISTS (
				SELECT 1 FROM
						[COADCORP_TEST].[dbo].INFO_MARKETING INFO
						WHERE INFO.MKT_CLI_ID = CLI.CLI_ID
				) 
			AND SUS.CardCode = (
			SELECT MAX(CAST(SUS1.CardCode AS INT))  FROM
				[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS1
				WHERE SUS1.CLI_ID = CLI.CLI_ID		
			) 
	
		  COMMIT TRANSACTION TX_INFORMACAO_MARKETING
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_INFORMACAO_MARKETING
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH

------------------------------ PRODUTO DE INTERESSE --------------------------------------------------

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_CMP_INF_MKT
BEGIN TRY
		INSERT INTO [COADCORP_TEST].dbo.PRODUTO_COMPOSICAO_INFO_MARKETING (MKT_CLI_ID, CMP_ID, DATA_ASSOCIACAO) 
		SELECT DISTINCT
				CLI_ID
				,CMP_ID
				, GETDATE()
			 FROM
		(SELECT
			PROD.[ItemCode]
			,[ItemName]
			,[FrgnName]      
			,PROD2.[CardCode]
			,(		SELECT TOP 1 SUS2.CLI_ID 
					FROM [COADSAT_HOMOL].dbo.SAT_SUSPECT SUS2
					WHERE SUS2.CardCode = PROD2.CardCode) 
			AS CLI_ID
			,(		SELECT TOP 1 CMP.CMP_ID 
					FROM [COADCORP_TEST].dbo.PRODUTO_COMPOSICAO CMP 
					WHERE CMP.CMP_PRO_INTERESSE = 1 AND CMP.CMP_DESCRICAO =  ItemName collate SQL_Latin1_General_CP1_CI_AS
			)	
			AS CMP_ID
			
		  FROM [COADSAT_HOMOL].[dbo].[SAT_VW_PRODUTOS] PROD INNER JOIN 
		  [COADSAT_HOMOL].[dbo].[SAT_PRODUTOINTERESSE] PROD2 ON PROD.ItemCode = PROD2.ITEMCODE 
		  WHERE EXISTS (
			  SELECT 1 FROM
				[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS INNER JOIN 
					[COADCORP_TEST].[dbo].[CLIENTES] CLI ON CLI.CLI_ID = SUS.CLI_ID
				WHERE SUS.CardCode = (
				SELECT MAX(CAST(SUS1.CardCode AS INT))  FROM
					[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS1
					WHERE SUS1.CLI_ID = CLI.CLI_ID		
				) 
				AND PROD2.CardCode = SUS.CardCode
				)
		)AS T
		WHERE NOT EXISTS (

			SELECT 1 FROM [COADCORP_TEST].[dbo].INFO_MARKETING INF_MKT INNER JOIN 
			[COADCORP_TEST].[dbo].PRODUTO_COMPOSICAO_INFO_MARKETING CMP_INFO_MKT ON INF_MKT.MKT_CLI_ID = CMP_INFO_MKT.MKT_CLI_ID
			WHERE CMP_INFO_MKT.CMP_ID = T.CMP_ID AND T.CLI_ID = CMP_INFO_MKT.MKT_CLI_ID
		)

		  COMMIT TRANSACTION TX_CMP_INF_MKT
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_CMP_INF_MKT
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH

----------------------------------------------------- AREA INFORMAÇÃO DE MARKETING ------------------------------------
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_AREA_INF_MKT
BEGIN TRY
		INSERT INTO [COADCORP_TEST].dbo.[AREA_INFO_MARKETING](MKT_CLI_ID, AREA_ID, DATA_ASSOCIACAO)
		SELECT DISTINCT 
			CLI_ID
			,AREA_ID  
			,GETDATE()
		 FROM
		(SELECT 
			SUS.CardCode
			,SUS.CardName
			,CLI.CLI_ID
			,ARE.GroupName
			,(SELECT ARE2.AREA_ID FROM [COADCORP_TEST].dbo.[AREAS] ARE2 WHERE ARE2.AREA_NOME = ARE.GroupName collate SQL_Latin1_General_CP1_CI_AS) AS AREA_ID
		  FROM
		  [COADSAT_HOMOL].dbo.SAT_SUSPECT SUS INNER JOIN 
					[COADCORP_TEST].[dbo].[CLIENTES] CLI ON CLI.CLI_ID = SUS.CLI_ID
					INNER JOIN 
					(			
						SELECT 
						   [UEN]
						  ,[VDPROD]
						  ,[VDAREA]
						  ,[ATIVO]
						  ,[GroupCode]
						  ,[GroupName]
						  ,[UserSign]
						  ,[Filler]
					  FROM [COADSAT_HOMOL].[dbo].[SAT_TABINTERESSE] TABINTE
					  INNER JOIN [COADSAT_HOMOL].[dbo].[SAT_VW_SEGMENTACAO] SEG ON TABINTE.VDAREA = SEG.GroupCode  
					) 
					AS ARE ON (
						((SUS.QryGroup1 = 'S' AND ARE.VDAREA = 1) OR
						(SUS.QryGroup2 = 'S' AND ARE.VDAREA = 2) OR
						(SUS.QryGroup3 = 'S' AND ARE.VDAREA = 3) OR
						(SUS.QryGroup4 = 'S' AND ARE.VDAREA = 4) OR
						(SUS.QryGroup5 = 'S' AND ARE.VDAREA = 5) OR
						(SUS.QryGroup6 = 'S' AND ARE.VDAREA = 6))
						
					)
				WHERE SUS.CardCode = (
				SELECT MAX(CAST(SUS1.CardCode AS INT))  FROM
					[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS1
					WHERE SUS1.CLI_ID = CLI.CLI_ID		
				) 
			AND 
			(
				SUS.QryGroup1 = 'S' OR
				SUS.QryGroup2 = 'S' OR
				SUS.QryGroup3 = 'S' OR
				SUS.QryGroup4 = 'S' OR
				SUS.QryGroup5 = 'S' OR
				SUS.QryGroup6 = 'S'		
			)) as T	
		  WHERE NOT EXISTS (
				SELECT 1 FROM 
				[COADCORP_TEST].[dbo].INFO_MARKETING INF_MKT INNER JOIN 
				[COADCORP_TEST].[dbo].[AREA_INFO_MARKETING] AREA_INF ON INF_MKT.MKT_CLI_ID = INF_MKT.MKT_CLI_ID
				WHERE AREA_INF.AREA_ID = T.AREA_ID AND
				AREA_INF.MKT_CLI_ID = CLI_ID			
		  )
		  

		  COMMIT TRANSACTION TX_AREA_INF_MKT
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_AREA_INF_MKT
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH


----------------------------------------------------- ORIGEM CADASTRO ------------------------------------
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION TX_ORIGEM_CADASTRO
BEGIN TRY
	
	UPDATE INF_MKT 
	SET O_CAD_ID = T.O_CAD_ID
	FROM 
	(SELECT 
		CLI.CLI_ID
		,(SELECT TOP 1 [OR].O_CAD_ID FROM [COADCORP_TEST].[dbo].[ORIGEM_CADASTRO] [OR] WHERE [OR].O_CAD_DESCRICAO collate SQL_Latin1_General_CP1_CI_AS = FNT_MKT.Name collate SQL_Latin1_General_CP1_CI_AS) AS O_CAD_ID
		FROM
		[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS 
			INNER JOIN 	[COADCORP_TEST].[dbo].[CLIENTES] CLI ON CLI.CLI_ID = SUS.CLI_ID
			INNER JOIN  [COADSAT_HOMOL].[dbo].[SAT_VW_FONTEMKT] FNT_MKT ON FNT_MKT.Code collate SQL_Latin1_General_CP1_CI_AS = SUS.Indicator
		WHERE SUS.CardCode = (
		SELECT MAX(CAST(SUS1.CardCode AS INT))  FROM
			[COADSAT_HOMOL].dbo.SAT_SUSPECT SUS1
			WHERE SUS1.CLI_ID = CLI.CLI_ID		
		) 
		AND SUS.Indicator IS NOT NULL) AS T INNER JOIN
		[COADCORP_TEST].[dbo].[INFO_MARKETING] INF_MKT ON INF_MKT.MKT_CLI_ID = CLI_ID
		WHERE NOT EXISTS 
		(
			SELECT 
				1 
			FROM 
				[COADCORP_TEST].[dbo].INFO_MARKETING INF_MKT
			WHERE 
				INF_MKT.MKT_CLI_ID = T.CLI_ID AND
				INF_MKT.O_CAD_ID = 	T.O_CAD_ID	
		)				

		  COMMIT TRANSACTION TX_ORIGEM_CADASTRO
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION TX_ORIGEM_CADASTRO
	SELECT
	 ERROR_NUMBER() AS ErrorNumber
    ,ERROR_SEVERITY() AS ErrorSeverity
    ,ERROR_STATE() AS ErrorState
    ,ERROR_PROCEDURE() AS ErrorProcedure
    ,ERROR_LINE() AS ErrorLine
    ,ERROR_MESSAGE() AS ErrorMessage;
END CATCH