GO

UPDATE IM
SET IMPORTADO = 1
FROM dbo.IMPORTACAO_SUSPECTS IM INNER JOIN
 dbo.SAT_SUSPECT SUS ON SUS.CardName = IM.NOME AND 
	SUS.U_TAXID = IM.CNPJ 
	WHERE
IM.IMPORTADO = 0

GO

UPDATE dbo.SAT_SUSPECT 
SET IMPORTADO = 1
WHERE IMPORTADO = 0

GO

DELETE FROM 
	dbo.IMPORTACAO_SUSPECTS 
WHERE ID NOT IN(

	SELECT 
	MAX(ID)
	FROM dbo.IMPORTACAO_SUSPECTS IM
	WHERE IM.IMPORTADO = 0
	GROUP BY NOME, CNPJ
)

AND IMPORTADO = 0

GO
BEGIN TRANSACTION TX1 

INSERT INTO dbo.SAT_SUSPECT(
	
	CardCode,
	DocEntry,
	CardFName,
	CardName,
	CntctPrsn,
	Phone1,
	Fax,
	Cellular,
	E_Mail,
	U_TAXID,
	Block,
	City,
	State1,
	CardType,
	PARA_REGIAO,
	CreateDate)
SELECT 
	(SELECT AutoKey
			FROM [COADSAT].[dbo].[SAT_TABSEQUENCES]
			WHERE ObjectCode = 90000001) + (ROW_NUMBER() OVER(ORDER BY IM.NOME)) AS [CardCode],
			(SELECT AutoKey
			FROM [COADSAT].[dbo].[SAT_TABSEQUENCES]
			WHERE ObjectCode = 90000001) + (ROW_NUMBER() OVER(ORDER BY IM.NOME)) AS [DocEntry],
	IM.ASSINATURA AS CardFName,
	IM.NOME AS CardName,
	IM.CONTATO AS CntctPrsn,
	IM.TELEFONE AS Phone1,
	IM.FAX AS Fax,
	IM.CELULAR AS Cellular,
	IM.EMAIL AS E_Mail,
	IM.CNPJ AS U_TAXID,
	IM.BAIRRO AS Block,
	IM.CIDADE AS City,
	IM.UF AS State1,
	IM.TIPOSUSPECT AS CardType,
	IM.PARA_REGIAO AS PARA_REGIAO,
	GETDATE() AS CreateDate
FROM dbo.IMPORTACAO_SUSPECTS IM
WHERE NOT EXISTS (
	SELECT 1 FROM dbo.SAT_SUSPECT SUS WHERE SUS.CardName = IM.NOME AND 
	(SUS.U_TAXID = IM.CNPJ OR IM.TIPOSUSPECT = 'S')
) AND
IMPORTADO = 0


UPDATE [COADSAT].[dbo].[SAT_TABSEQUENCES]
SET AutoKey = 
(SELECT 
	(SELECT AutoKey
			FROM [COADSAT].[dbo].[SAT_TABSEQUENCES]
			WHERE ObjectCode = 90000001) + COUNT(*) AS SEQ
FROM dbo.IMPORTACAO_SUSPECTS IM
WHERE NOT EXISTS (
	SELECT 1 FROM dbo.SAT_SUSPECT SUS WHERE SUS.CardName = IM.NOME AND 
	(SUS.U_TAXID = IM.CNPJ OR IM.TIPOSUSPECT = 'S')
) AND
IMPORTADO = 0)
WHERE ObjectCode = 90000001

UPDATE SUS
SET IMPORTADO = 0
FROM dbo.SAT_SUSPECT SUS INNER JOIN dbo.IMPORTACAO_SUSPECTS IM ON 
	SUS.CardName = IM.NOME AND 
	(SUS.U_TAXID = IM.CNPJ OR IM.TIPOSUSPECT = 'S')	
WHERE IM.IMPORTADO = 0

COMMIT TRANSACTION TX1

GO
SELECT COUNT(*) FROM 
dbo.SAT_SUSPECT 
WHERE IMPORTADO = 0
GO
SELECT COUNT(*) FROM 
dbo.IMPORTACAO_SUSPECTS 
WHERE IMPORTADO = 0
GO

INSERT INTO dbo.SAT_CARTEIRAMENTO ([UEN], [CARDCODE], [SLPCODE], [DT_INICIO], [STATUS])
SELECT
	'03' AS UEN,
	CARDCODE,
	38 AS SLPCODE,
	GETDATE() AS DT_INICIO,
	'A' AS [STATUS]
FROM dbo.SAT_SUSPECT
WHERE IMPORTADO = 0

/*
UPDATE 
	SUS 
SET SUS.CreateDate = GETDATE()
FROM SAT_SUSPECT SUS WHERE 
IMPORTADO = 0 AND CreateDate IS NULL
*/

