/****** Script do comando SelectTopNRows de SSMS  ******/
UPDATE 
	PAR
SET 
	PAR_VLR_PAGO = PAR_VLR_PARCELA,
	PAR_DATA_PAGTO = GETDATE()
FROM 
	COADCORP.dbo.PARCELAS PAR INNER JOIN 
	COADCORP.dbo.ITEM_PEDIDO IPE ON PAR.IPE_ID = IPE.IPE_ID

WHERE
 IPE.PST_ID IN (7, 3) AND PAR.PAR_VLR_PAGO IS NULL
 AND PAR.TPG_ID = 9


INSERT INTO COADCORP.dbo.PARCELA_LIQUIDACAO(
PAR_NUM_PARCELA, 
PLI_TIPO_DOC, 
PLI_NUMERO, 
PLI_DATA,
PLI_VALOR,
PLI_DATA_BAIXA,
PLI_ORIGEM_PGTO,
PLI_IDENT_DOCTO,
PLI_DATA_BORDERO)


SELECT 
	PAR_NUM_PARCELA,
	'CR',
	PAR_NUM_PARCELA,
	GETDATE(),
	PAR_VLR_PAGO,
	GETDATE(),
	1,
	PAR_NUM_PARCELA,
	GETDATE()
FROM
COADCORP.dbo.PARCELAS PAR
WHERE PAR.IPE_ID IS NOT NULL AND NOT EXISTS (

	SELECT 1 
	FROM 
		COADCORP.dbo.PARCELA_LIQUIDACAO LIQ
	WHERE
	LIQ.PAR_NUM_PARCELA = PAR.PAR_NUM_PARCELA
	AND PAR.PAR_VLR_PAGO IS NOT NULL 
)

GO

SELECT 
	par.PAR_NUM_PARCELA,
	parLeg.CONTRATO + 
	parLeg.LETRA + 
	parLeg.CD ,
	REPLACE(par.PAR_VLR_PARCELA, '.', ',')

	
UPDATE 
	parLeg
SET
	parLeg.VLR_PAGO = REPLACE(par.PAR_VLR_PARCELA, '.', ','),
	parLeg.DT_PAGTO = '20/07/2017' 
FROM 
	COADCORP.dbo.PARCELAS par INNER JOIN 
	corporativo2.dbo.Parcelas parLeg ON par.PAR_COD_LEGADO = parLeg.CONTRATO + parLeg.LETRA + parLeg.CD

WHERE PAR.PAR_VLR_PAGO IS NOT NULL AND parLeg.VLR_PAGO is null
GO


 SELECT 
	VLR_PARCELA,
	DT_PAGTO
 FROM 
	corporativo2.dbo.Parcelas

GO

/**
* Marca parcelas que deveriam estar pagas, mas não estão.
*/

UPDATE 
	PAR1
SET 
	PAR1.PAR_VLR_PAGO = PAR1.PAR_VLR_PARCELA,
	PAR1.PAR_DATA_PAGTO = GETDATE()
/*
SELECT 
	PAR1.PAR_NUM_PARCELA,
	PAR1.PAR_VLR_PARCELA,
	PAR1.PAR_VLR_PAGO,
	PAR1.PAR_DATA_PAGTO,
	PE_PAG.TPG_ID,
	PE_PAG.PGT_ID,
	PE_PAG.PGT_VLR_PARCELA,
	IPE.* */
FROM
	COADCORP.dbo.ITEM_PEDIDO IPE INNER JOIN
	COADCORP.dbo.PARCELAS PAR1 ON IPE.IPE_ID = PAR1.IPE_ID INNER JOIN
	COADCORP.dbo.ITEM_PEDIDO_PEDIDO_PAGAMENTO ITM_PED_PAG ON ITM_PED_PAG.IPE_ID = IPE.IPE_ID INNER JOIN
	COADCORP.dbo.PEDIDO_PAGAMENTO PE_PAG ON PE_PAG.PGT_ID = ITM_PED_PAG.PGT_ID
WHERE 
	(IPE.PST_ID = 3 OR
	IPE.PST_ID = 7) AND
	PAR1.DATA_EXCLUSAO IS NULL AND 
	PAR1.PAR_VLR_PARCELA IS NOT NULL AND
	PE_PAG.PGT_PAGO = 1 AND
	NOT EXISTS (	
					SELECT 
						1 
					FROM 
						COADCORP.dbo.PARCELAS PAR
					WHERE 
						PAR.IPE_ID = IPE.IPE_ID AND
						PAR.PAR_VLR_PAGO IS NOT NULL AND
						PAR.PAR_DATA_PAGTO IS NOT NULL AND
						PAR.DATA_EXCLUSAO IS NULL
				)
	AND	 
	(PE_PAG.TPG_ID IN (8, 9) OR 
		 (PE_PAG.TPG_ID NOT IN (8, 9) AND
		 PAR1.PAR_NUM_PARCELA = (
		
			SELECT 
				TOP 1
				SUB_PAR.PAR_NUM_PARCELA
			FROM 
				COADCORP.dbo.PARCELAS SUB_PAR
			WHERE 
				SUB_PAR.IPE_ID = IPE.IPE_ID
			ORDER BY 
				SUB_PAR.PAR_SEQ_PARCELA ASC,
				SUB_PAR.PAR_NUM_PARCELA ASC))
	)

	GO



/* ATUALIZA PARCELA LEGADO PELO CÓDIGO LEGADO */
UPDATE parLeg
SET 
	VLR_PAGO = REPLACE(PAR.PAR_VLR_PAGO, '.', ','),
	DT_PAGTO = CONVERT(VARCHAR(15), PAR.PAR_DATA_PAGTO, 103)
	
/**
SELECT TOP 1000
	PAR.PAR_NUM_PARCELA,
	PAR.PAR_VLR_PARCELA,
	PAR.PAR_VLR_PAGO,
	PAR.PAR_DATA_PAGTO,
	parLeg.VLR_PARCELA,
	parLeg.VLR_PAGO */
FROM
	COADCORP.dbo.PARCELAS PAR INNER JOIN
	corporativo2.dbo.Parcelas parLeg ON
	parLeg.CONTRATO + parLeg.LETRA + parLeg.CD = PAR.PAR_COD_LEGADO
WHERE
PAR.IPE_ID IS NOT NULL AND
	PAR.DATA_EXCLUSAO IS NULL AND 
	PAR.PAR_VLR_PARCELA IS NOT NULL AND
	PAR.PAR_VLR_PAGO IS NOT NULL AND
	PAR.PAR_DATA_PAGTO IS NOT NULL AND
	(parLeg.VLR_PAGO IS NULL OR
	parLeg.DT_PAGTO IS NULL)
GO
SELECT * FROM corporativo2.dbo.Parcelas
WHERE DT_PAGTO = '18/07/2017'

GO

/* INSERIR LIQUIDAÇÃO */


INSERT INTO COADCORP.dbo.PARCELA_LIQUIDACAO(
PAR_NUM_PARCELA, 
PLI_TIPO_DOC, 
PLI_NUMERO, 
PLI_DATA,
PLI_VALOR,
PLI_DATA_BAIXA,
PLI_ORIGEM_PGTO,
PLI_IDENT_DOCTO,
PLI_DATA_BORDERO)


SELECT 
	PAR.PAR_NUM_PARCELA,
	(CASE (TPG_ID) WHEN 9 THEN 'BL' ELSE 'CR'END),
	PAR.PAR_NUM_PARCELA,
	GETDATE(),
	PAR.PAR_VLR_PAGO,
	GETDATE(),
	1,
	PAR.PAR_NUM_PARCELA,
	GETDATE() 
FROM
	COADCORP.dbo.ITEM_PEDIDO IPE INNER JOIN
	COADCORP.dbo.PARCELAS PAR ON IPE.IPE_ID = PAR.IPE_ID 

WHERE 
(IPE.PST_ID = 3 OR
	IPE.PST_ID = 7) AND
	PAR.DATA_EXCLUSAO IS NULL AND 
	PAR.PAR_VLR_PARCELA IS NOT NULL AND
	PAR.PAR_VLR_PAGO IS NOT NULL AND
	PAR.PAR_DATA_PAGTO IS NOT NULL
AND NOT EXISTS 
(
	SELECT 
		1 
	FROM 
		COADCORP.dbo.PARCELA_LIQUIDACAO PAR_LIQ
	WHERE 
		PAR_LIQ.PAR_NUM_PARCELA = PAR.PAR_NUM_PARCELA
)
/** INSERIR LIQUIDAÇÃO LEGADO **/ --000001

GO


UPDATE parLeg
SET 
	VLR_PAGO = REPLACE(PAR.PAR_VLR_PAGO, '.', ','),
	DT_PAGTO = CONVERT(VARCHAR(15), PAR.PAR_DATA_PAGTO, 103)
/* ATUALIZA LIQUIDAÇÃO LEGADO PELO CÓDIGO DA PARCELA*/
/*SELECT TOP 1000
	PAR.PAR_NUM_PARCELA,
	PAR.PAR_VLR_PARCELA,
	PAR.PAR_VLR_PAGO,
	PAR.PAR_DATA_PAGTO,
	parLeg.VLR_PARCELA,
	parLeg.VLR_PAGO--,
	--IPE.* */
FROM
	COADCORP.dbo.PARCELAS PAR INNER JOIN
	corporativo2.dbo.Parcelas parLeg ON
	parLeg.CONTRATO + parLeg.LETRA + parLeg.CD = PAR.PAR_NUM_PARCELA
WHERE
PAR.IPE_ID IS NOT NULL AND
	PAR.DATA_EXCLUSAO IS NULL AND 
	PAR.PAR_VLR_PARCELA IS NOT NULL AND
	PAR.PAR_VLR_PAGO IS NOT NULL AND
	PAR.PAR_DATA_PAGTO IS NOT NULL AND
	(parLeg.VLR_PAGO IS NULL OR
	parLeg.DT_PAGTO IS NULL)
	GO


select * FROM corporativo2.dbo.liquidacao

GO

INSERT INTO corporativo2.dbo.liquidacao 
									(CONTRATO, 
									LETRA, 
									CD, 
									TIPO_DOC, 
									NUMERO, 
									BANCO, 
									DATA, 
									VALOR, 
									DATA_DA_BAIXA, 
									ORIGEM_PGTO, 
									IDENT_DOCTO, 
									DT_BORDERO)
SELECT 
	SUBSTRING(T.COD_PARCELA, 1, 6) AS CONTRATO,
	SUBSTRING(T.COD_PARCELA, 7, 1) AS LETRA,
	SUBSTRING(T.COD_PARCELA, 8, 1) AS CD,
	T.PLI_TIPO_DOC AS TIPO_DOC,
	T.PAR_NUM_PARCELA AS NUMERO,
	T.BAN_ID AS BANCO,
	CONVERT(VARCHAR(15), PLI_DATA, 103) AS DATA,
	T.PLI_VALOR,
	CONVERT(VARCHAR(15), PLI_DATA_BAIXA, 103) AS DATA_DA_BAIXA,
	T.PLI_ORIGEM_PGTO AS ORIGEM_PGTO,
	T.PLI_IDENT_DOCTO AS IDENT_DOCTO,
	CONVERT(VARCHAR(15), PLI_DATA_BORDERO, 103) AS DT_BORDERO
FROM 
(
SELECT
	(CASE WHEN PAR.PAR_COD_LEGADO IS NOT NULL THEN PAR.PAR_COD_LEGADO ELSE PAR.PAR_NUM_PARCELA END) AS COD_PARCELA,
	PAR_LIQ.*,
	IPE.PST_ID
FROM 
	COADCORP.dbo.PARCELA_LIQUIDACAO PAR_LIQ INNER JOIN 
	COADCORP.dbo.PARCELAS PAR ON PAR_LIQ.PAR_NUM_PARCELA = PAR.PAR_NUM_PARCELA INNER JOIN
	COADCORP.dbo.ITEM_PEDIDO IPE ON IPE.IPE_ID = PAR.IPE_ID
	)
AS T
WHERE 
	T.PST_ID = 3 AND
NOT EXISTS (

	SELECT 
		1 
	FROM 
		corporativo2.dbo.liquidacao liq
	WHERE
		SUBSTRING(T.COD_PARCELA, 1, 6) = liq.CONTRATO AND
	SUBSTRING(T.COD_PARCELA, 7, 1)  = liq.LETRA AND
	SUBSTRING(T.COD_PARCELA, 8, 1) =  liq.CD) 
ORDER BY COD_PARCELA
GO

select * from corporativo2.dbo.Parcelas
where DT_PAGTO = '28/07/2017'

GO

SELECT * FROM COADCORP.dbo.PARCELAS
WHERE TPG_ID = 8 AND PAR_DATA_ALOC IS NOT NULL

UPDATE 
	PAR
SET 
	PAR.PAR_VLR_PAGO = PAR.PAR_VLR_PARCELA,
	PAR.PAR_DATA_PAGTO = GETDATE()
/**
select 
	ITM.IPE_ID,
	ITM.PED_CRM_ID,
	ITM.PST_ID,
	PAR.PAR_VLR_PARCELA,
	PAR.TPG_ID,
	PAR.CTR_NUM_CONTRATO,
	PAR.PAR_VLR_PAGO 
from 
COADCORP.dbo.PARCELAS PAR 
	INNER JOIN 
COADCORP.dbo.ITEM_PEDIDO ITM ON PAR.IPE_ID = ITM.IPE_ID
WHERE PAR.DATA_EXCLUSAO IS NULL AND PAR.TPG_ID = 8 AND
ITM.PST_ID IN (3, 7) AND PAR_VLR_PAGO IS NULL