
UPDATE 
	PAR1
SET 
	PAR1.PAR_VLR_PAGO = PAR1.PAR_VLR_PARCELA,
	PAR1.PAR_DATA_PAGTO = GETDATE()
/*
SELECT 
	PAR1.PAR_NUM_PARCELA,
	PAR1.PAR_VLR_PARCELA,
	PAR1.PAR_VLR_PAGO,
	PAR1.PAR_DATA_PAGTO,
	PAR1.PGT_ID,
	PAR1.PAR_SEQ_PARCELA,
	IPE.* */
FROM
	COADCORP.dbo.ITEM_PEDIDO IPE INNER JOIN
	COADCORP.dbo.PARCELAS PAR1 ON IPE.IPE_ID = PAR1.IPE_ID
WHERE 
	PAR1.DATA_EXCLUSAO IS NULL AND 
	PAR1.PAR_VLR_PARCELA IS NOT NULL AND
	PAR1.PAR_VLR_PAGO IS NULL AND
	PAR1.PAR_DATA_PAGTO IS NULL AND
	IPE.IPE_ID = 1393
	GO




/* ATUALIZA PARCELA LEGADO PELO CÓDIGO LEGADO */
UPDATE parLeg
SET 
	VLR_PAGO = REPLACE(PAR.PAR_VLR_PAGO, '.', ','),
	DT_PAGTO = CONVERT(VARCHAR(15), PAR.PAR_DATA_PAGTO, 103)
	
/**
SELECT TOP 1000
	PAR.PAR_NUM_PARCELA,
	PAR.PAR_VLR_PARCELA,
	PAR.PAR_VLR_PAGO,
	PAR.PAR_DATA_PAGTO,
	parLeg.VLR_PARCELA,
	parLeg.VLR_PAGO */
FROM
	COADCORP.dbo.PARCELAS PAR INNER JOIN
	corporativo2.dbo.Parcelas parLeg ON
	(PAR.PAR_COD_LEGADO IS NOT NULL AND 
	parLeg.CONTRATO + parLeg.LETRA + parLeg.CD = PAR.PAR_COD_LEGADO) OR
	(PAR.PAR_COD_LEGADO IS NULL AND 
	parLeg.CONTRATO + parLeg.LETRA + parLeg.CD = PAR.PAR_NUM_PARCELA)
	WHERE
	PAR.IPE_ID IS NOT NULL AND
	PAR.DATA_EXCLUSAO IS NULL AND 
	PAR.PAR_VLR_PARCELA IS NOT NULL AND
	PAR.PAR_VLR_PAGO IS NOT NULL AND
	PAR.PAR_DATA_PAGTO IS NOT NULL AND
	(parLeg.VLR_PAGO IS NULL OR
	parLeg.DT_PAGTO IS NULL) AND
	PAR.IPE_ID = 1393
GO


/* INSERIR LIQUIDAÇÃO */


INSERT INTO COADCORP.dbo.PARCELA_LIQUIDACAO(
PAR_NUM_PARCELA, 
PLI_TIPO_DOC, 
PLI_NUMERO, 
PLI_DATA,
PLI_VALOR,
PLI_DATA_BAIXA,
PLI_ORIGEM_PGTO,
PLI_IDENT_DOCTO,
PLI_DATA_BORDERO)


SELECT 
	PAR.PAR_NUM_PARCELA,
	'CH',
	PAR.PAR_NUM_PARCELA,
	GETDATE(),
	PAR.PAR_VLR_PAGO,
	GETDATE(),
	1,
	PAR.PAR_NUM_PARCELA,
	GETDATE() 
FROM
	COADCORP.dbo.ITEM_PEDIDO IPE INNER JOIN
	COADCORP.dbo.PARCELAS PAR ON IPE.IPE_ID = PAR.IPE_ID 

WHERE 
(IPE.PST_ID = 3 OR
	IPE.PST_ID = 7) AND
	PAR.DATA_EXCLUSAO IS NULL AND 
	PAR.PAR_VLR_PARCELA IS NOT NULL AND
	PAR.PAR_VLR_PAGO IS NOT NULL AND
	PAR.PAR_DATA_PAGTO IS NOT NULL AND
	PAR.IPE_ID = 1393
AND NOT EXISTS 
(
	SELECT 
		1 
	FROM 
		COADCORP.dbo.PARCELA_LIQUIDACAO PAR_LIQ
	WHERE 
		PAR_LIQ.PAR_NUM_PARCELA = PAR.PAR_NUM_PARCELA
)

GO

/** Liquidação legado*/
INSERT INTO corporativo2.dbo.liquidacao 
									(CONTRATO, 
									LETRA, 
									CD, 
									TIPO_DOC, 
									NUMERO, 
									BANCO, 
									DATA, 
									VALOR, 
									DATA_DA_BAIXA, 
									ORIGEM_PGTO, 
									IDENT_DOCTO, 
									DT_BORDERO)
SELECT 
	SUBSTRING(T.COD_PARCELA, 1, 6) AS CONTRATO,
	SUBSTRING(T.COD_PARCELA, 7, 1) AS LETRA,
	SUBSTRING(T.COD_PARCELA, 8, 1) AS CD,
	T.PLI_TIPO_DOC AS TIPO_DOC,
	T.PAR_NUM_PARCELA AS NUMERO,
	T.BAN_ID AS BANCO,
	CONVERT(VARCHAR(15), PLI_DATA, 103) AS DATA,
	T.PLI_VALOR,
	CONVERT(VARCHAR(15), PLI_DATA_BAIXA, 103) AS DATA_DA_BAIXA,
	T.PLI_ORIGEM_PGTO AS ORIGEM_PGTO,
	T.PLI_IDENT_DOCTO AS IDENT_DOCTO,
	CONVERT(VARCHAR(15), PLI_DATA_BORDERO, 103) AS DT_BORDERO
FROM 
(
SELECT
	(CASE WHEN PAR.PAR_COD_LEGADO IS NOT NULL THEN PAR.PAR_COD_LEGADO ELSE PAR.PAR_NUM_PARCELA END) AS COD_PARCELA,
	PAR_LIQ.*,
	IPE.PST_ID
FROM 
	COADCORP.dbo.PARCELA_LIQUIDACAO PAR_LIQ INNER JOIN 
	COADCORP.dbo.PARCELAS PAR ON PAR_LIQ.PAR_NUM_PARCELA = PAR.PAR_NUM_PARCELA INNER JOIN
	COADCORP.dbo.ITEM_PEDIDO IPE ON IPE.IPE_ID = PAR.IPE_ID
	)
AS T
WHERE 
	T.PST_ID = 3 AND
NOT EXISTS (

	SELECT 
		1 
	FROM 
		corporativo2.dbo.liquidacao liq
	WHERE
		SUBSTRING(T.COD_PARCELA, 1, 6) = liq.CONTRATO AND
	SUBSTRING(T.COD_PARCELA, 7, 1)  = liq.LETRA AND
	SUBSTRING(T.COD_PARCELA, 8, 1) =  liq.CD) 
ORDER BY COD_PARCELA
GO