
 UPDATE 
CON
SET CON.CMP_ID = T.CMP_ID
FROM
dbo.CONTRATOS CON 
INNER JOIN (
  SELECT CMP.CMP_ID, ASN_NUM_ASSINATURA 
  FROM dbo.PRODUTO_COMPOSICAO_ITEM CMI INNER JOIN
		dbo.PRODUTO_COMPOSICAO CMP ON CMI.CMP_ID = CMP.CMP_ID
		INNER JOIN dbo.ASSINATURA ASS ON ASS.PRO_ID = CMI.PRO_ID
		WHERE 
		CMP.DATA_EXCLUSAO IS NULL AND 
		CMI.CMI_GERA_ASSINATURA_LEGADO = 1 AND
		CMP.CMP_ID = 
		(
			SELECT MIN(CMP_ID) 
			FROM dbo.PRODUTO_COMPOSICAO_ITEM CMI2
			WHERE CMI2.PRO_ID = CMI.PRO_ID AND CMI2.CMI_GERA_ASSINATURA_LEGADO = 1
			GROUP BY PRO_ID
		)

		) AS T ON CON.ASN_NUM_ASSINATURA = t.ASN_NUM_ASSINATURA
		WHERE CON.CMP_ID IS NULL
		
GO

/****** Script do comando SelectTopNRows de SSMS  ******/
SELECT TOP 1000 [PPI_ID]
      ,[PRT_ID]
      ,[PPI_VALOR_UNITARIO]
      ,[PPI_QTD]
      ,[PPI_TOTAL]
      ,PRI.[CMP_ID]
      ,PRI.[PRO_ID]
      ,[PPI_DESCONTO]
      ,[CMP_ID_1]
      ,[TPG_ID]
      ,[PPI_QTD_PARCELAS]
      ,[PPI_VALOR_ENTRADA]
      ,[PPI_VALOR_PARCELA]
      ,[PPI_DATA_VENCIMENTO]
      ,[DATA_EXCLUSAO]
      ,[PST_ID]
      ,[COD_LEGADO]
      ,[PAR_OBSERVACOES]
      ,[PPI_ACESSOS_CONCEDIDOS]
      ,[PPI_DATA_VENCIMENTO_SEG_PARCELA]
      ,PRI.[ASN_NUM_ASSINATURA]
      ,[PPI_QTD_CONSULTA]
	  ,ASN_SEN.

 -- UPDATE ASN_SEN
  --SET ASN_ATIVO = 0
  FROM [COADCORP].[dbo].[PROPOSTA_ITEM] PRI
	INNER JOIN COADCORP.dbo.ASSINATURA ASS 
		ON  PRI.ASN_NUM_ASSINATURA = ASS.ASN_NUM_ASSINATURA
	INNER JOIN COADCORP.dbo.ASSINATURA_SENHA ASN_SEN 
		ON ASS.ASN_NUM_ASSINATURA = ASN_SEN.ASN_NUM_ASSINATURA
	WHERE ASN_SEN.ASN_ATIVO = 1
	

UPDATE 
T 
SET 
	StatusProposta = 1
FROM		
(
SELECT 
PRT.PST_ID as StatusProposta,
PPI.PST_ID as StatusPropostaItem,
ppi.ASN_NUM_ASSINATURA as Assinatura,
ASN_SE.ASN_SENHA,
ASN_SE.ASN_ATIVO
	FROM [COADCORP].[dbo].[PARCELA_LIQUIDACAO] PAR_LIQ
	INNER JOIN [COADCORP].[dbo].[PARCELAS] PAR 
	ON PAR.PAR_NUM_PARCELA = PAR_LIQ.PAR_NUM_PARCELA
	INNER JOIN [COADCORP].dbo.PROPOSTA_ITEM PPI ON PAR.PPI_ID = PPI.PPI_ID
	INNER JOIN [COADCORP].dbo.PROPOSTA PRT ON PPI.PRT_ID = PRT.PRT_ID
	INNER JOIN [COADCORP].dbo.ASSINATURA_SENHA ASN_SE ON PPI.ASN_NUM_ASSINATURA = ASN_SE.ASN_NUM_ASSINATURA  
	WHERE PAR_LIQ.PLI_DATA_BAIXA >= '2017-07-04 00:00:00.000' AND
	(PAR.PAR_VLR_PAGO IS NULL OR PAR_DATA_PAGTO IS NULL))
	T		

GO

UPDATE 
T 
SET 
	StatusPropostaItem = 1
FROM		
(
SELECT 
PRT.PST_ID as StatusProposta,
PPI.PST_ID as StatusPropostaItem,
ppi.ASN_NUM_ASSINATURA as Assinatura,
ASN_SE.ASN_SENHA,
ASN_SE.ASN_ATIVO
	FROM [COADCORP].[dbo].[PARCELA_LIQUIDACAO] PAR_LIQ
	INNER JOIN [COADCORP].[dbo].[PARCELAS] PAR 
	ON PAR.PAR_NUM_PARCELA = PAR_LIQ.PAR_NUM_PARCELA
	INNER JOIN [COADCORP].dbo.PROPOSTA_ITEM PPI ON PAR.PPI_ID = PPI.PPI_ID
	INNER JOIN [COADCORP].dbo.PROPOSTA PRT ON PPI.PRT_ID = PRT.PRT_ID
	INNER JOIN [COADCORP].dbo.ASSINATURA_SENHA ASN_SE ON PPI.ASN_NUM_ASSINATURA = ASN_SE.ASN_NUM_ASSINATURA  
	WHERE PAR_LIQ.PLI_DATA_BAIXA >= '2017-07-04 00:00:00.000' AND
	(PAR.PAR_VLR_PAGO IS NULL OR PAR_DATA_PAGTO IS NULL))
	T
			
GO

UPDATE 
T 
SET 
	ASN_ATIVO = 0
FROM		
(
SELECT 
PRT.PST_ID as StatusProposta,
PPI.PST_ID as StatusPropostaItem,
ppi.ASN_NUM_ASSINATURA as Assinatura,
ASN_SE.ASN_SENHA,
ASN_SE.ASN_ATIVO
	FROM [COADCORP].[dbo].[PARCELA_LIQUIDACAO] PAR_LIQ
	INNER JOIN [COADCORP].[dbo].[PARCELAS] PAR 
	ON PAR.PAR_NUM_PARCELA = PAR_LIQ.PAR_NUM_PARCELA
	INNER JOIN [COADCORP].dbo.PROPOSTA_ITEM PPI ON PAR.PPI_ID = PPI.PPI_ID
	INNER JOIN [COADCORP].dbo.PROPOSTA PRT ON PPI.PRT_ID = PRT.PRT_ID
	INNER JOIN [COADCORP].dbo.ASSINATURA_SENHA ASN_SE ON PPI.ASN_NUM_ASSINATURA = ASN_SE.ASN_NUM_ASSINATURA  
	WHERE PAR_LIQ.PLI_DATA_BAIXA >= '2017-07-04 00:00:00.000' AND
	(PAR.PAR_VLR_PAGO IS NULL OR PAR_DATA_PAGTO IS NULL))
	T

GO


  INSERT INTO [COADCORP].[dbo].[HISTORICO_PEDIDO]
  (HIP_DESCRICAO, HIP_DATA, PST_ID, IPE_ID, REP_ID, USU_LOGIN, PPI_ID)
SELECT
  'Essa proposta foi estornada direto pelo banco. A baixa estava incorreta, por isso, esta proposta foi indevidamente baixada.',
  GETDATE(), 1, NULL, 1, 'dasilva', PPI.PPI_ID
 	FROM [COADCORP].[dbo].[PARCELA_LIQUIDACAO] PAR_LIQ
	INNER JOIN [COADCORP].[dbo].[PARCELAS] PAR 
	ON PAR.PAR_NUM_PARCELA = PAR_LIQ.PAR_NUM_PARCELA
	INNER JOIN [COADCORP].dbo.PROPOSTA_ITEM PPI ON PAR.PPI_ID = PPI.PPI_ID
	INNER JOIN [COADCORP].dbo.PROPOSTA PRT ON PPI.PRT_ID = PRT.PRT_ID
	INNER JOIN [COADCORP].dbo.ASSINATURA_SENHA ASN_SE ON PPI.ASN_NUM_ASSINATURA = ASN_SE.ASN_NUM_ASSINATURA  
	WHERE PAR_LIQ.PLI_DATA_BAIXA >= '2017-07-04 00:00:00.000' AND
	(PAR.PAR_VLR_PAGO IS NULL OR PAR_DATA_PAGTO IS NULL)
GO


  UPDATE COADCORP_HOMOL.dbo.PROPOSTA
  SET PRT_DATA_FATURAMENTO_AGENDADA = '2017-06-30 00:00:00.000'
  WHERE PRT_DATA_FATURAMENTO_AGENDADA IS NULL

  
  DELETE FROM dbo.PARCELA_LIQUIDACAO
  WHERE PAR_NUM_PARCELA IN
  (SELECT 
  PAR_LIQ.PAR_NUM_PARCELA
  FROM dbo.PARCELAS PAR
  INNER JOIN dbo.PARCELA_LIQUIDACAO PAR_LIQ ON PAR.PAR_NUM_PARCELA = PAR_LIQ.PAR_NUM_PARCELA
  WHERE 
	PAR_LIQ.PLI_DATA_BAIXA = '2017-07-04 00:00:00.000' AND 
	(PAR_VLR_PAGO IS NULL OR PAR_DATA_PAGTO IS NULL))

GO

UPDATE 
	corporativo2.dbo.Parcelas
SET VLR_PAGO = VLR_PARCELA
WHERE DT_PAGTO IS NOT NULL
AND VLR_PAGO IS NULL
AND SUBSTRING(DT_ALOC,7,4) = 2017

GO

UPDATE CART 
SET 
LOGRAD = SUBSTRING([END].END_LOGRADOURO, 1, 50),
NUMERO = [END].END_NUMERO,
TIPO_COMPL = [END].TIPO_COMP_ID,
COMPL = [END].END_COMPLEMENTO,
BAIRRO = [END].END_BAIRRO,
CEP = [END].END_CEP,
UF = [END].END_UF,
IDENTIFICACAO = 'P',
MUNIC = MUN.MUN_DESCRICAO
 FROM corporativo2.dbo.cart_coad  CART INNER JOIN
COADCORP.dbo.CLIENTES_ENDERECO [END] ON CART.CLI_ID = [END].CLI_ID LEFT JOIN
COADCORP.dbo.MUNICIPIO MUN ON [END].MUN_ID = MUN.MUN_ID

WHERE LOGRAD IS NULL AND [END].END_LOGRADOURO IS NOT NULL

GO
SELECT * FROM corporativo2.dbo.CONTRATOS
WHERE CONTRATO = 498229	 



INSERT INTO [COADCORP].[dbo].[PARCELA_LIQUIDACAO]
(PAR_NUM_PARCELA, PLI_TIPO_DOC, PLI_NUMERO, PLI_DATA, PLI_VALOR, PLI_DATA_BAIXA, PLI_ORIGEM_PGTO, PLI_IDENT_DOCTO, PLI_DATA_BORDERO)

SELECT PAR_NUM_PARCELA,
'BL',
PAR_NUM_PARCELA,
GETDATE(),
PAR_VLR_PAGO,
GETDATE(),
3,
PAR_NUM_PARCELA,
GETDATE()
FROM COADCORP.dbo.PARCELAS
WHERE IPE_ID = 554


SELECT * FROM COADCORP.dbo.PARCELAS
WHERE IPE_ID = 554

UPDATE COADCORP.dbo.PARCELAS
SET 
	PAR_VLR_PAGO = PAR_VLR_PARCELA,
	PAR_DATA_PAGTO = GETDATE()
WHERE IPE_ID = 554



SELECT top 10 * FROM corporativo2.dbo.liquidacao

INSERT INTO corporativo2.dbo.liquidacao (CONTRATO, LETRA, CD, TIPO_DOC, NUMERO , DATA, DATA_DA_BAIXA, DT_BORDERO,
VALOR, ORIGEM_PGTO)

SELECT SUBSTRING(PAR_NUM_PARCELA,1,6),
SUBSTRING(PAR_NUM_PARCELA,7,1) LETRA,
SUBSTRING(PAR_NUM_PARCELA,8,1) CD,
'BL' TIPO_DOC,
PAR_NUM_PARCELA,
	CAST(DAY(PLI_DATA_BAIXA) AS VARCHAR(2)) + '/' + CAST(MONTH(PLI_DATA_BAIXA) AS VARCHAR(2)) + '/' + CAST(YEAR(PLI_DATA_BAIXA) AS VARCHAR(4))
DATA_BAIXA
,
	CAST(DAY(PLI_DATA_BAIXA) AS VARCHAR(2)) + '/' + CAST(MONTH(PLI_DATA_BAIXA) AS VARCHAR(2)) + '/' + CAST(YEAR(PLI_DATA_BAIXA) AS VARCHAR(4))
DATA_DATA,
CAST(DAY(PLI_DATA_BAIXA) AS VARCHAR(2)) + '/' + CAST(MONTH(PLI_DATA_BAIXA) AS VARCHAR(2)) + '/' + CAST(YEAR(PLI_DATA_BAIXA) AS VARCHAR(4))
AS DATA_BORDERO,
PLI_VALOR,
PLI_ORIGEM_PGTO
 FROM COADCORP.dbo.PARCELA_LIQUIDACAO
WHERE PAR_NUM_PARCELA IN (

	SELECT PAR_NUM_PARCELA
	FROM COADCORP.dbo.PARCELAS
WHERE IPE_ID = 554

)


select * FROM dbo.Parcelas
WHERE CONTRATO = 498230
GO

UPDATE dbo.Parcelas
SET VLR_PAGO = VLR_PARCELA,
DT_PAGTO = CAST(DAY(GETDATE()) AS VARCHAR(2)) + '/' + CAST(MONTH(GETDATE()) AS VARCHAR(2)) + '/' + CAST(YEAR(GETDATE()) AS VARCHAR(4))
WHERE
	CONTRATO = 498230

GO
SELECT * FROM dbo.liquidacao
where CONTRATO = '498230'

UPDATE dbo.liquidacao
SET CONTRATO = '498230'
where CONTRATO = '498230'

GO


UPDATE EMP
SET EMP_ULTIMA_NFE = EMP_LEG.ultima_nfe
  FROM 
	[CORPORATIVO2].[dbo].[empresas] EMP_LEG INNER JOIN
	COADSYS.dbo.EMPRESA EMP ON EMP_LEG.id = EMP.EMP_ID 

GO

UPDATE COADSYS.dbo.EMPRESA 
SET EMP_ULTIMA_NFE = 0
WHERE NOT EXISTS
(
	SELECT 1 FROM CORPORATIVO2.dbo.empresas
	WHERE id = EMP_ID
)


SELECT CON.CTR_DATA_FATURAMENTO_EFETIVO , TPG.TPG_DESCRICAO, PAR.*  FROM 
	COADCORP.dbo.CONTRATOS CON INNER JOIN 
	COADCORP.dbo.PARCELAS PAR ON CON.CTR_NUM_CONTRATO = PAR.CTR_NUM_CONTRATO INNER JOIN
	COADCORP.dbo.TIPO_PAGAMENTO TPG ON PAR.TPG_ID = TPG.TPG_ID
WHERE CTR_DATA_FATURAMENTO_EFETIVO >= '2017-07-20'
AND PAR.PAR_PODE_ALOCAR <> 1 AND PAR.PAR_VLR_PAGO IS NULL AND PAR.TPG_ID = 7 AND PAR.REM_ID IS NULL	

UPDATE CART 
SET 
LOGRAD = SUBSTRING([END].END_LOGRADOURO, 1, 50),
NUMERO = [END].END_NUMERO,
TIPO_COMPL = [END].TIPO_COMP_ID,
COMPL = [END].END_COMPLEMENTO,
BAIRRO = [END].END_BAIRRO,
CEP = [END].END_CEP,
UF = [END].END_UF,
IDENTIFICACAO = 'P',
MUNIC = MUN.MUN_DESCRICAO
 
