/****** Script do comando SelectTopNRows de SSMS  ******/
DECLARE @ANO INT = 2016;
DECLARE @MES INT = 5;


SELECT 
	RG.RG_DESCRICAO, SUM(CON.CTR_VLR_CONTRATO) --SELECT * 
FROM
 [COADCORP].[dbo].[REGIAO] RG 	
	INNER JOIN
	[COADCORP].[dbo].[CARTEIRA] CAR
		ON RG.RG_ID = CAR.RG_ID  
	INNER JOIN [COADCORP].[dbo].[CARTEIRA_CLIENTE] CAR_CLI 
		ON CAR_CLI.CAR_ID = CAR.CAR_ID 
	INNER JOIN [COADCORP].[dbo].[CLIENTES] CLI 
		ON CAR_CLI.CLI_ID = CLI.CLI_ID 
	INNER JOIN [COADCORP].[dbo].[ASSINATURA] ASS
		ON CLI.CLI_ID = ASS.CLI_ID
	INNER JOIN [COADCORP].[dbo].[CONTRATOS] CON
		ON ASS.ASN_NUM_ASSINATURA = CON.ASN_NUM_ASSINATURA
WHERE 
	ASS.PRO_ID = 40 AND CAR.UEN_ID = 1 AND 
	(YEAR(CON.CTR_DATA_FAT) = @ANO AND MONTH(CON.CTR_DATA_FAT) = @MES)
GROUP BY RG.RG_DESCRICAO