/****** Script do comando SelectTopNRows de SSMS  ******/
SELECT TOP 1000 [TPD_ID]
      ,[TPD_DESCRICAO]
  FROM [COADCORP].[dbo].[TIPO_PEDIDO_CRM]



 DELETE FROM COADCORP.dbo.PARCELA_LIQUIDACAO 
 WHERE PAR_NUM_PARCELA IN ('498168B1')

 GO

 UPDATE COADCORP.dbo.PARCELAS
 SET 
	PAR_VLR_PAGO = NULL,
	PAR_DATA_PAGTO = NULL
 WHERE PAR_NUM_PARCELA IN ('498168B1')

 GO

 DELETE FROM corporativo2.dbo.liquidacao
WHERE CONTRATO + LETRA + CD IN ('498168B1')

GO
UPDATE corporativo2.dbo.Parcelas
SET 
	VLR_PAGO = NULL,
	DT_PAGTO = NULL
WHERE CONTRATO + LETRA + CD IN ('498168B1')
GO