
SELECT * FROM COADCORP.dbo.PARCELAS
WHERE PPI_ID in (79, 80, 81)

GO

UPDATE COADCORP.dbo.PARCELAS
SET PAR_VLR_PAGO = PAR_VLR_PARCELA,
PAR_DATA_PAGTO = GETDATE()
WHERE PAR_NUM_PARCELA IN ('00000148', '00000149', '00000150')

GO

INSERT INTO COADCORP.dbo.PARCELA_LIQUIDACAO
	(PAR_NUM_PARCELA, 
	PLI_DATA, 
	PLI_DATA_BAIXA, 
	PLI_DATA_BORDERO, 
	PLI_NUMERO,
	PLI_ORIGEM_PGTO,
	PLI_VALOR,
	PLI_TIPO_DOC)
SELECT 
	PAR_NUM_PARCELA, 
	GETDATE(), 
	GETDATE(), 
	GETDATE(), 
	PAR_NUM_PARCELA, 
	3, 
	PAR_VLR_PAGO, 
	'BL'
FROM COADCORP.dbo.PARCELAS
where PAR_NUM_PARCELA IN ('00000148', '00000149', '00000150')
  
  GO
  SELECT * FROM COADCORP.dbo.PARCELA_LIQUIDACAO 
  WHERE PAR_NUM_PARCELA IN ('00000148', '00000149', '00000150')
  GO