/****** Script do comando SelectTopNRows de SSMS  ******/
SELECT TOP 1000 [EMP_ID]
      ,[EMP_RAZAO_SOCIAL]
      ,[EMP_NOME_FANTASIA]
      ,[EMP_CNPJ]
      ,[EMP_IE]
      ,[EMP_IM]
      ,[EMP_SUFRAMA]
      ,[EMP_LOGRADOURO]
      ,[EMP_NUMERO]
      ,[EMP_COMPLEMENTO]
      ,[EMP_BAIRRO]
      ,[EMP_CEP]
      ,[EMP_TEL1]
      ,[EMP_TEL2]
      ,[EMP_TEL3]
      ,[EMP_EMAIL]
      ,[EMP_SITE]
      ,[EMP_ULTIMA_NFE]
      ,[EMP_CNR_AGCEDENTE]
      ,[EMP_AREA]
      ,[EMP_TIPO]
      ,[EMP_IE_ST]
      ,[CNT_ID]
      ,[IBGE_COD_COMPLETO]
      ,[CID_ID]
      ,[EMP_APARECE_PRE_PEDIDO]
      ,[EMP_GRP_COAD]
  FROM [COADSYS].[dbo].[EMPRESA]

  SELECT * FROM corporativo2.dbo.CONTRATOS
  WHERE CONTRATO = '498155'

  select * FROM COADCORP.dbo.PARCELAS
  where PAR_NUM_PARCELA = '00000492'

  select * from COADCORP.dbo.PROPOSTA_ITEM 
  where PPI_ID = 464

  
  select * FROM COADCORP.dbo.PARCELAS
  where PPI_ID = 488

  UPDATE COADCORP.dbo.PARCELAS
  set PPI_ID = null 
  WHERE PPI_ID = 488

  SELECT 
	PAR.PAR_NUM_PARCELA,
	PAR.IPE_ID,
	ITM.PPI_ID,
	PRO_ITM.PPI_ID
  FROM 
	COADCORP.dbo.PARCELAS PAR INNER JOIN 
	COADCORP.dbo.ITEM_PEDIDO ITM ON PAR.IPE_ID = ITM.IPE_ID INNER JOIN
	COADCORP.dbo.PROPOSTA_ITEM PRO_ITM ON ITM.PPI_ID = PRO_ITM.PPI_ID

	SELECT * FROM COADCORP.dbo.PARCELAS PAR INNER JOIN
	COADCORP.dbo.PROPOSTA_ITEM PR_ITM ON PAR_VLR_PARCELA = PR_ITM.PPI_VALOR_ENTRADA
	WHERE CTR_NUM_CONTRATO IS NULL AND PAR.PPI_ID IS NULL
	AND IPE_ID IS NULL AND PAR.DATA_EXCLUSAO IS NULL
		






	SELECT PAR.PAR_NUM_PARCELA, PAR.PAR_VLR_PARCELA,
	PRO_ITM.PPI_ID,
	PRO_ITM.PPI_VALOR_ENTRADA,
	PRO_ITM.PPI_VALOR_PARCELA ,
	PRO_ITM.PPI_DATA_VENCIMENTO,
	PAR.PAR_DATA_VENCTO
	FROM 
		COADCORP.dbo.PROPOSTA_ITEM PRO_ITM INNER JOIN COADCORP.dbo.PARCELAS PAR ON 
		(PRO_ITM.PPI_VALOR_ENTRADA IS NOT NULL AND PRO_ITM.PPI_VALOR_ENTRADA = PAR.PAR_VLR_PARCELA OR
		PRO_ITM.PPI_VALOR_PARCELA = PAR.PAR_VLR_PARCELA) AND PAR.PAR_DATA_VENCTO = PRO_ITM.PPI_DATA_VENCIMENTO
	WHERE NOT EXISTS (
		SELECT 1 FROM COADCORP.dbo.PARCELAS PAR
		WHERE PAR.PPI_ID = PRO_ITM.PPI_ID
	)
	AND PRO_ITM.TPG_ID IN (1, 7) AND (PPI_CORTESIA IS NULL OR PPI_CORTESIA = 0)

AND PST_ID = 1	
ORDER BY PRO_ITM.PPI_ID DESC


	
	SELECT * FROM COADCORP.dbo.PARCELAS PAR
	WHERE CTR_NUM_CONTRATO IS NULL AND 
	PAR.PPI_ID IS NULL AND IPE_ID IS NULL AND PAR.DATA_EXCLUSAO IS NULL
	AND PAR_VLR_PARCELA = 652.25

	UPDATE  COADCORP.dbo.PARCELAS 
	SET PPI_ID = 617
	WHERE PAR_NUM_PARCELA = '00000638'


	UPDATE PAR 
	SET PPI_ID = PRO_ITM.PPI_ID
	FROM 
		COADCORP.dbo.PROPOSTA_ITEM PRO_ITM INNER JOIN COADCORP.dbo.PARCELAS PAR ON 
		(PRO_ITM.PPI_VALOR_ENTRADA IS NOT NULL AND PRO_ITM.PPI_VALOR_ENTRADA = PAR.PAR_VLR_PARCELA OR
		PRO_ITM.PPI_VALOR_PARCELA = PAR.PAR_VLR_PARCELA) AND PAR.PAR_DATA_VENCTO = PRO_ITM.PPI_DATA_VENCIMENTO
	WHERE NOT EXISTS (
		SELECT 1 FROM COADCORP.dbo.PARCELAS PAR
		WHERE PAR.PPI_ID = PRO_ITM.PPI_ID
	)
	AND PRO_ITM.TPG_ID IN (1, 7) AND (PPI_CORTESIA IS NULL OR PPI_CORTESIA = 0)

AND PST_ID = 1	
ORDER BY PRO_ITM.PPI_ID DESC