<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://RJ-PRODNET-SRV:8844/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://RJ-PRODNET-SRV:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>COADSERVICE_PROD</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>APC\COADCORP</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="corporativo2Entities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.228.5.10;Initial Catalog=corporativo2;Persist Security Info=True;User ID=satelite;Password=C04dC0nsult0r14!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\corporativo2Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Repositorios.Contexto.Corporativo2.csdl|res://*/Repositorios.Contexto.Corporativo2.ssdl|res://*/Repositorios.Contexto.Corporativo2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=corporativo2;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="prospectadosEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.228.5.10;Initial Catalog=prospectados;Persist Security Info=True;User ID=satelite;Password=C04dC0nsult0r14!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\prospectadosEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Repositorios.Contexto.Base.Prospectados.csdl|res://*/Repositorios.Contexto.Base.Prospectados.ssdl|res://*/Repositorios.Contexto.Base.Prospectados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=prospectados;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="COADCORPEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.228.5.10;Initial Catalog=COADCORP;User ID=satelite;Password=C04dC0nsult0r14!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\COADCORPEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Repositorios.Contexto.COADCORP.csdl|res://*/Repositorios.Contexto.COADCORP.ssdl|res://*/Repositorios.Contexto.COADCORP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=COADCORP;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="COADSYSEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.228.5.10;Initial Catalog=COADSYS;User ID=satelite;Password=C04dC0nsult0r14!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\COADSYSEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Repositorios.Contexto.COADSYS.csdl|res://*/Repositorios.Contexto.COADSYS.ssdl|res://*/Repositorios.Contexto.COADSYS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=COADSYS;user id=satelite;password=C04dC0nsult0r14!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="COADGEDEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.228.5.10;Initial Catalog=COADGED;Persist Security Info=True;User ID=satelite;Password=C04dC0nsult0r14!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\COADGEDEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Repositorios.Contexto.COADGED.csdl|res://*/Repositorios.Contexto.COADGED.ssdl|res://*/Repositorios.Contexto.COADGED.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.10;initial catalog=COADGED;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COADCORPEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COADGEDEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COADSYSEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)corporativo2Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)prospectadosEntities-Web.config Connection String" />
  </ItemGroup>
</Project>