

.lista ul li a { display: block;
                 text-decoration: none;
                 color: #E2144A;
                 background: #fff;
                 padding: 5px;
                 border: 1px solid #ccc;
}

