<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="LogFileAppender" />
		<appender-ref ref="LogErrorFileAppender" />
	</root>
	<logger name="COADCORP.Config">
		<level value="DEBUG" />
		<appender-ref ref="LogSqlFileAppender" />"
	</logger>
	<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
		<threshold value="DEBUG" />
		<param name="File" value="logs\log-Coadcorp.txt" />
		<param name="AppendToFile" value="true" />
		<rollingStyle value="Size" />
		<encoding value="utf-8" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="COADCORP.Config" />
			<acceptOnMatch value="false" />
		</filter>
	</appender>
	<appender name="LogSqlFileAppender" type="log4net.Appender.RollingFileAppender">
		<threshold value="DEBUG" />
		<param name="File" value="logs\log-sql-coadcorp.txt" />
		<param name="AppendToFile" value="true" />
		<rollingStyle value="Size" />
		<encoding value="utf-8" />
		<maxSizeRollBackups value="3" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="COADCORP.Config" />
		</filter>
	</appender>
	<appender name="LogErrorFileAppender" type="log4net.Appender.RollingFileAppender">
		<threshold value="ERROR" />
		<param name="File" value="logs/error-coadcorp.txt" />
		<param name="AppendToFile" value="true" />
		<rollingStyle value="Size" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<encoding value="utf-8" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="2MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>
</log4net>
