<?xml version="1.0" encoding="utf-8"?>

<!-- Para obter mais informações sobre como usar a transformação do web.config, visite https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    No exemplo abaixo, a transformação de "SetAttributes" alterará o valor de 
    "connectionString" para usar "ReleaseSQLServer" somente quando o localizador "Match" 
    encontrar um atributo "name" que tem o valor de "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="COADSYSEntities" connectionString="metadata=res://*/Repositorios.Contexto.COADSYS.csdl|res://*/Repositorios.Contexto.COADSYS.ssdl|res://*/Repositorios.Contexto.COADSYS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.11;initial catalog=COADSYS;user id=satelite;password=C04dC0nsult0r14!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="COADCORPEntities" connectionString="metadata=res://*/Repositorios.Contexto.COADCORP.csdl|res://*/Repositorios.Contexto.COADCORP.ssdl|res://*/Repositorios.Contexto.COADCORP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.11;initial catalog=COADCORP;user id=SATELITE;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="COADGEDEntities" connectionString="metadata=res://*/Repositorios.Contexto.COADGED.csdl|res://*/Repositorios.Contexto.COADGED.ssdl|res://*/Repositorios.Contexto.COADGED.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.11;initial catalog=COADGED;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="corporativo2Entities" connectionString="metadata=res://*/Repositorios.Contexto.Corporativo2.csdl|res://*/Repositorios.Contexto.Corporativo2.ssdl|res://*/Repositorios.Contexto.Corporativo2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.11;initial catalog=corporativo2;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="prospectadosEntities" connectionString="metadata=res://*/Repositorios.Contexto.Base.Prospectados.csdl|res://*/Repositorios.Contexto.Base.Prospectados.ssdl|res://*/Repositorios.Contexto.Base.Prospectados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.11;initial catalog=prospectados;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="666000" />
    <add key="COADCORP.ADQUIRENTE" value="1" />
    <add key="COADCORP.AMBIENTE" value="HOMOL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COAD.RESOURCES.MINIFY.OFF" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COADCORP.SERVER.HOST-NAME" value="http://corphomol.coad.com.br:8080/" />
    <add key="COADCORP.TEST.MAIL" value="homologacao@coad.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COADCORP.TEST.MAIL.ATIVAR" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COADCORP.NFe.XML.UploadPath" value="Nfe" />
    <add key="COADCORP.NFse.DETALHE.URL" value="https://homologacao.notacarioca.rio.gov.br/nfse.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COADCORP.NFe.DANFE.URL" value="http://hom.nfe.fazenda.gov.br/portal/consultaRecaptcha.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="COADPAG.CHECKOUT.PATH" value="http://corp.coad.com.br:7800/Checkout/Pagamento/" />
    <!-- ALT: 21/07/2015 - EDITOR DE TEXTOS PARA EDIÇÃO DE MATÉRIAS DA REDAÇÃO -->
    <add key="RichTextEditorLicense" value="/richtexteditor/richtexteditor.lic" />
    <!--<add key="GatewayService.MerchantKey" value="85328786-8BA6-420F-9948-5352F5A183EB" />
    <add key="GatewayService.HostUri" value="https://sandbox.mundipaggone.com" />
    <add key="MundiPagg.MerchantKey" value="00000000-0000-0000-0000-000000000000" />-->
  </appSettings>
  <system.web>
    <!--
      
      No exemplo a seguir, a transformação "Replace" substituirá toda a 
      seção <customErrors> do arquivo web.config.
      Observe que como existe apenas uma seção customErrors sob o nó 
      <system.web>, não há necessidade de usar o atributo "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    >
    -->
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NfeDownloadNFSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="NfeAutorizacaoSoap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest"/>
          </security>
        </binding>
        <binding name="NfeRetAutorizacaoSoap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest"/>
          </security>
        </binding>
        <binding name="NfeRetAutorizacaoSoap1"/>
        <binding name="NfeInutilizacao2Soap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest"/>
          </security>
        </binding>
        <binding name="NfeInutilizacao2Soap1"/>
        <!--<binding name="RecepcaoEventoSoap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest"/>
          </security>
        </binding>-->
        <binding name="RecepcaoEventoSoap1"/>
        <binding name="NFeAutorizacao4Soap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest" />
          </security>
        </binding>
        <binding name="NFeAutorizacao4Soap1" />
        <binding name="NFeRetAutorizacao4Soap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest" />
          </security>
        </binding>
        <binding name="NFeRetAutorizacao4Soap1" />
        <binding name="NFeInutilizacao4Soap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest" />
          </security>
        </binding>
        <binding name="NFeInutilizacao4Soap1" />

        <binding name="NFeRecepcaoEvento4Soap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="Digest" />
          </security>
        </binding>
        <binding name="NFeRecepcaoEvento4Soap1" />
      <binding name="NfseSoap">
        <security mode="Transport">
          <transport clientCredentialType="Certificate" proxyCredentialType="Digest"></transport>
        </security>
      </binding>
      <binding name="NfseSoap1" />
      </basicHttpBinding>

      <customBinding>
        <binding name="NfeRecepcao2SoapBinding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
        <binding name="CadConsultaCadastro4Soap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport requireClientCertificate="true" proxyAuthenticationScheme="Digest"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfeAutorizacaoSoap" contract="NfeAutorizacao.NfeAutorizacaoSoap" name="NfeAutorizacaoSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfeRetAutorizacaoSoap" contract="NfeRetAutorizacao.NfeRetAutorizacaoSoap" name="NfeRetAutorizacaoSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfeInutilizacao2Soap" contract="NfeInutilizacao.NfeInutilizacao2Soap" name="NfeInutilizacao2Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <!--<endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx" binding="basicHttpBinding" bindingConfiguration="RecepcaoEventoSoap" contract="RecepcaoEvento.RecepcaoEventoSoap" name="RecepcaoEventoSoap"/>-->
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx"
               binding="basicHttpBinding" bindingConfiguration="NFeAutorizacao4Soap"
               contract="NFeAutorizacao4.NFeAutorizacao4Soap" name="NFeAutorizacao4Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="	https://nfe-homologacao.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao4.asmx"
          binding="basicHttpBinding" bindingConfiguration="NFeRetAutorizacao4Soap"
          contract="NFeRetAutorizacao4.NFeRetAutorizacao4Soap" name="NFeRetAutorizacao4Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx"
                binding="basicHttpBinding" bindingConfiguration="NFeInutilizacao4Soap"
                contract="NFeInutilizacao4.NFeInutilizacao4Soap" name="NFeInutilizacao4Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx"
                  binding="basicHttpBinding" bindingConfiguration="NFeRecepcaoEvento4Soap"
                  contract="NFeRecepcaoEvento4.NFeRecepcaoEvento4Soap" name="NFeRecepcaoEvento4Soap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="https://cad.svrs.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro4.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
               binding="customBinding" bindingConfiguration="CadConsultaCadastro4Soap12"
               contract="CadConsultaCadastro4.CadConsultaCadastro4Soap12"
               name="CadConsultaCadastro4Soap12" />
      <endpoint address="https://homologacao.notacarioca.rio.gov.br/WSNacional/nfse.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
                binding="basicHttpBinding" bindingConfiguration="NfseSoap"
                contract="Nfse.NfseSoap" name="NfseSoap" />
    </client>
  </system.serviceModel>
</configuration>