<form method="POST">  
        <!-- BILLING -->
        <fieldset class="margin-top-60">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="billing_firstname">First Name *</label>
              <input id="billing_firstname" name="billing[firstname]" type="text" class="form-control required" />
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="billing_lastname">Last Name *</label>
              <input id="billing_lastname" name="billing[lastname]" type="text" class="form-control required" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="billing_email">Email *</label>
              <input id="billing_email" name="billing[email]" type="text" class="form-control required" />
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="billing_company">Company</label>
              <input id="billing_company" name="billing[company]" type="text" class="form-control" />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <label for="billing_address1">Address *</label>
              <input id="billing_address1" name="billing[address][]" type="text" class="form-control required" placeholder="Address 1" />

              <input id="billing_address2" name="billing[address][]" type="text" class="form-control margin-top-10" placeholder="Address 2" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="billing_city">City *</label>
              <input id="billing_city" name="billing[city]" type="text" class="form-control required" />
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="billing_state">State/Province *</label>
              <select id="billing_state" name="billing[state]" class="form-control pointer required">
                <option value="">Select...</option>
                <option value="1">Alabama</option>
                <option value="2">Alaska</option>
                <option value="">..............</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="billing_zipcode">Zip/Postal Code *</label>
              <input id="billing_zipcode" name="billing[zipcode]" type="text" class="form-control required" />
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="billing_country">Country *</label>
              <select id="billing_country" name="billing[country]" class="form-control pointer required">
                <option value="">Select...</option>
                <option value="1">united States</option>
                <option value="2">united Kingdom</option>
                <option value="">..............</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="billing_phone">Phone *</label>
              <input id="billing_phone" name="billing[phone]" type="text" class="form-control required" />
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="billing_fax">Fax</label>
              <input id="billing_fax" name="billing[fax]" type="text" class="form-control" />
            </div>
          </div>

          <hr />

          <div class="row">

            <div class="col-lg-12 nomargin clearfix">
              <label class="checkbox pull-left"><!-- see assets/js/view/demo.shop.js - CHECKOUT section -->
                <input id="shipswitch" name="shipping[same_as_billing]" type="checkbox" value="1" checked="checked" />
                <i></i> <span class="weight-300">Ship to the same address</span>
              </label>
            </div>

          </div>

        </fieldset>
        <!-- /BILLING -->


        <!-- SHIPPING -->
        <fieldset id="shipping" class="margin-top-80 softhide">
          <h4>Shipping Address</h4>
          <hr />

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="shipping:firstname">First Name *</label>
              <input id="shipping:firstname" name="shipping[firstname]" type="text" class="form-control required" />
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="shipping:lastname">Last Name *</label>
              <input id="shipping:lastname" name="shipping[lastname]" type="text" class="form-control required" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="shipping:email">Email *</label>
              <input id="shipping:email" name="shipping[email]" type="text" class="form-control required" />
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="shipping:company">Company</label>
              <input id="shipping:company" name="shipping[company]" type="text" class="form-control" />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <label for="shipping:address1">Address *</label>
              <input id="shipping:address1" name="shipping[address][]" type="text" class="form-control required" placeholder="Address 1" />

              <input id="shipping:address2" name="shipping[address][]" type="text" class="form-control margin-top-10" placeholder="Address 2" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="shipping:city">City *</label>
              <input id="shipping:city" name="shipping[city]" type="text" class="form-control required" />
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="shipping:state">State/Province *</label>
              <select id="shipping:state" name="shipping[state]" class="form-control pointer required">
                <option value="">Select...</option>
                <option value="1">Alabama</option>
                <option value="2">Alaska</option>
                <option value="">..............</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="shipping:zipcode">Zip/Postal Code *</label>
              <input id="shipping:zipcode" name="shipping[zipcode]" type="text" class="form-control required" />
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="shipping:country">Country *</label>
              <select id="shipping:country" name="shipping[country]" class="form-control pointer required">
                <option value="">Select...</option>
                <option value="1">united States</option>
                <option value="2">united Kingdom</option>
                <option value="">..............</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="shipping:phone">Phone *</label>
              <input id="shipping:phone" name="shipping[phone]" type="text" class="form-control required" />
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="shipping:fax">Fax</label>
              <input id="shipping:fax" name="shipping[fax]" type="text" class="form-control" />
            </div>
          </div>

        </fieldset>
        <!-- /SHIPPING -->
        
</form>