@model  COAD.CORPORATIVO.Model.Dto.ProdutosDTO
@using Coad.GenericCrud.Extensions
@{
    ViewBag.Title = "Index";     
}

@section breadcrumbs {

    <ol class="breadcrumb breadcrumb-dashboard">
        <li>@Html.ActionLink("Home","index","Home")</li>
        <li class="active">Painel Representante</li>        
        
    </ol>
}

<style type="text/css">

    .body {
        background-color: #e8e8e8 !important;

    }
</style>

<script src="~/Scripts/negocio/controllers_plugins/info_cliente.js"></script>
@Scripts.Render("~/Scripts/negocio/representante_home.js")
<div>
    <div ng-controller="RepresentanteHomeController" class="padding content" ng-cloak data-ng-init="InitWithGerente()">
        <div app-message></div>  

        
        
        <div class="panel panel-corp">
          
                <div class="panel-body">                                                    
                        <div id="data-field"><input type="text" id="dataInicial" ng-model="data" app-date="filtro.data" class="form-control"/></div>
                </div>
         
        </div>    
        
         <div class="row" id="representantes">
            <div class="col-sm-3">
                <div class="panel panel-corp">
                          <!-- Default panel contents -->
      
                          <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> REPRESENTANTES</div>
          
                          <div class="panel-body">   
                    
                                        <div class="table-responsive">     
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>     
                                                            <th>
                                                                Representante
                                                            </th>
                                                            <th>#</th>                            
                                                        </tr>
                                                    </thead>    
                                                    <tr ng-repeat="item in representantes" ng-class="{info: item.REP_ID == representante.REP_ID}">                                    
                                                        <td>
                                                             {{item.REP_NOME}}   
                                                        </td>
                                                        <td>
                                                            <a href="javascript:void(0)" ng-click="escolherRepresentante(item)" title="Ver Dados">                                                                                                                        
                                                                <span class="glyphicon glyphicon-circle-arrow-down"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" ng-hide="representantes" class="text">
                                                            Não foi encontrado nenhum registro.
                                                        </td>
                                                    </tr>
                                                </table> 
                                        </div>          
                                  <div app-pagination="page" request-page="paginaReq" load-function="listarRepresentantes(paginaReq)"></div>          

                              </div>
         
                            </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-corp">
          
                    <div class="panel-body" style="padding-bottom: 21px">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <span class="glyphicon glyphicon-info-sign fa-2x"></span>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{qtdNotificacoes}}</div>
                                                <div>Notificações!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/Notificacoes/MostrarTudo" target="_new">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ver todos</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <i class="glyphicon glyphicon-flash fa-2x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{paginaPrioridades.numeroRegistros}}</div>
                                                <div>Prioridades</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#prioridades">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ver todos</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>  
                            
                             </div>
                        <div class="row">                     
                            <div class="col-lg-6 col-md-6">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <i class="glyphicon glyphicon-screenshot fa-2x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{pageAgendamentoAtrasado.numeroRegistros}}</div>
                                                <div>Agend. Atrasados</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#agendamentos-2">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ver todos</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                               <div class="col-lg-6 col-md-6">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <i class="glyphicon glyphicon-user fa-2x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{resumoQuantidadeTipoCliente.Total}}</div>
                                                <div>Clientes Da Carteira</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#agendamentos-2">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ver todos</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

               </div>
            </div>
             <div class="col-sm-3">
               <div class="row">
                   <div class="col-sm-12">
                       
                <div class="panel panel-corp">
                <div class="panel-heading"><span class="glyphicon glyphicon-dashboard"></span> QTD. DE CLIENTES</div>
      
                    <div class="panel-body">
                            <div class="table-responsive">     
                            <table class="table table-hover">
                                <thead>
                                    <tr>      
                                        <th>                                           
                                            Tipo de Cliente
                                        </th>
                                        <th>
                                            Quantidade
                                        </th>                                       
                                    </tr>
                                </thead>    
                              <tr ng-repeat="item in resumoQuantidadeTipoCliente.QuantidadeClassificacaoClienteDTO">
                                    <td>
                                        {{item.CLA_CLI_DESCRICAO}}
                                    </td>  
                                    <td>
                                        {{item.QUANTIDADE}}
                                    </td>                                  
                                    
                              </tr>
                             <tr>
                                 <td>Total:</td>
                                 <td>{{resumoQuantidadeTipoCliente.Total}}</td>
                             </tr>
                                <tr>
                                    <td colspan="5" ng-hide="resumoQuantidadeTipoCliente.QuantidadeClassificacaoClienteDTO" class="text">
                                        Não foi encontrado nenhum registro.
                                    </td>
                                </tr>
                            </table> 
                        </div>
                       </div>
                    </div>  
                   </div>
               </div>   
               <div class="row">
                   <div class="col-sm-12">
                       
                        <div class="panel panel-corp">
                            <div class="panel-heading"><span class="glyphicon glyphicon-dashboard"></span> REPRESENTANTE</div>
      
                            <div class="panel-body">
                                <form>
                                    <div class="form-group">
                                        <div class="text">
                                            <label>Nome:</label> {{representante.REP_NOME}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
         </div>
        
        @Html.Partial("Partials/_homeDashBoardPartial")
        @Html.Partial("Partials/_ModalClientePartial")
    </div>
</div>  