
/**
    Painels -------------------  
 */


.line {

    border-bottom: 1px solid grey;
}

#div-uen a {
    color: #fff;
    text-decoration:none;
}
    
#div-uen a:hover {
    text-decoration:none;
    background: none;
}

#div-uen.uen-expandida {
    
    min-width: 200px;
}

.no-border {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}
.bg-grey {
    background-color: #e8e8e8 !important;
}

#div-uen {

    position: absolute;
    right: -1px;
    min-width: 25px;
    z-index: 554;
    top: 51px;
    font-size: 16px;    
    transition:all linear 0.2s;
}

#tokens {
    position: fixed;
    right: 5%;
    z-index: 1041;
    top: 31px;
    font-size: 16px;
    transition: all linear 0.2s;
}

div.div-tokens {
    background-color: #fff;
}

.font-simulador {
    font-family: Arial;
    color: #666666;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
}

.bg-white {
}

.panel-corp {
    border-color: #ddd;
    border-bottom-width: 2px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.animate-repeat {
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  transition:all linear 0.5s;
}




.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all ease 0.2s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.animate-show-fast {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show-no-border {
  border: none;
  background: inherit;
}

.animate-show-fast.ng-hide-remove {
  transition: all linear 0.1s;
}

.animate-show-fast.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}


.animate-show-slow {
  line-height: 20px;
  opacity: 1;
  border: 1px solid black;
  background: white;
}

.animate-show-slow.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show-slow.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}


.animate-show-slow.ng-hide-add, .animate-show-slow.ng-hide-remove {
  transition: all ease 0.2s;
}

.panel-corp > .panel-heading {
    color: #999999;
    background-color: #fff;
    border-color: #ddd;
    font-size: 15px;
}


.animate-repeat-all {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat-all.ng-move,
.animate-repeat-all.ng-enter,
.animate-repeat-all.ng-leave {
  transition:all linear 0.2s;
}

.animate-repeat-all.ng-leave.ng-leave-active,
.animate-repeat-all.ng-move,
.animate-repeat-all.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat-all.ng-leave,
.animate-repeat-all.ng-move.ng-move-active,
.animate-repeat-all.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}
/*-----------------------*/


.table-bordered-primary > thead > tr > th, .table-bordered-primary > tbody > tr > th, .table-bordered-primary > tfoot > tr > th, .table-bordered-primary > thead > tr > td, .table-bordered-primary > tbody > tr > td, .table-bordered-primary > tfoot > tr > td {
    border: 1px solid #c8e9f9;
}
#data-field, #representante {
    max-width: 7em;
    margin: auto;
}

#regiao-filter {
    max-width: 7em;
    margin: auto;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.breadcrumb-dashboard, .white-bg {
    background-color: #fff !important;
}

label {
    color: grey;
}


.element-center {
    
    max-width: 28%;
    margin: auto;
}



.input-group-addon {
    font-size: 12px;
}

td, th, .text {
    color: grey;
    font-size: 12px;
}

.list-unstyled li{

    padding-bottom: 5px;
    padding-top: 5px;
}



.font-11 {

    font-size: 11px !important;
}

.font-12 {

    font-size: 12px !important;
}

.font-13 {

    font-size: 13px !important;
}

.font-14 {

    font-size: 14px !important;
}

.font-15 {

    font-size: 15px !important;
}

.font-16 {

    font-size: 16px !important;
}


.font-20 {

    font-size: 20px !important;
}

.font-22 {

    font-size: 22px !important;
}

.font-25 {

    font-size: 25px !important;
}

.font-30 {

    font-size: 30px !important;
}

td > a {
}

td > a:hover {
    text-decoration: none;
}

.limit-content, .content, div.body {
    padding: 0px;
}

div#breadcrumbs {
    padding-top: 13px;
}

ul.format-ul {
    list-style: none;
    padding: 0;
}

nav#pagination {
    max-height: 55px;
}

.table {
    margin-bottom: 5px;
}

.ajax-loader-select2 {
    
    position: absolute;
    top: 5px;
    right: 40px;
    z-index: 3;
}

.primary-blue {
    color: #2E6DA4 !important;
}

.table-head > thead {
    background-color: #eee;
}

.padding-button {
    padding-top: 24px;
}

.padding-button-pesquisar-filtro {
    padding-left: 12px;
}

.selectedLine {
    font-size: 12px;
    background-color: greenyellow;
    font-style: oblique;
}

.dropdown-menu-table {
    top: 70% !important;
    left: -154px !important;
}

tr.text td {
    font-size: 15px;
}

.selectedLineLIB {
    font-size: 12px;
    background-color: cyan;
    font-style: oblique;
}

.disabled-row {

    background-color: #f5f5f5;
}

.remove-link {
    position: relative;
    left: -16px;
    top: -3px;
}


.remove-link-filtro {
    position: relative;
    left: -13px;
    top: -3px;
}

.remove_link_lateral {
    position: relative;
    top: 21px;
    left: 226px;
    font-size: 22px;
    z-index: 10002;
}

.token-filtro{

    padding-left: 10px;
}

.label-right{

    width: 100%;
    text-align: left;
}

legend {
    color: grey;
    font-size: 15px;
}


    legend.text-primary {
        font-size: 15px;
        border: 0;
        border-bottom: 1px solid #337ab7;
    }

.button-sm {
    padding-top: 25px;
}

    .button-sm .btn-sm, .button-sm-grid {
        padding: 4px 10px;
    }

.button-sm-seach {
    padding: 4px 10px;
}

.message-error {
    font-size: 13px;
}

/*.alert {
    position: fixed;
    top: 54px;
    z-index: 1500;
    width: 60%;
    left: 20%;
}*/

.div-alert {
    position: fixed;
    top: 54px;
    z-index: 1500;
    width: 60%;
    left: 20%;
}

.alert-not-fixed {
    position: initial;
    top: initial;
    z-index: 1500;
    width: initial;
    left: initial;
}

.alert-validation-detals {
    position: fixed;
    top: 150px;
    z-index: 1500;
    width: 60%;
    left: 20%;
}

.submodal {
    z-index: 1050;
}

.grid-combobox {
    margin-right: 3px;
}

.grid-input, .grid-combobox {
    max-width: 120px;
}

.icone {
    font-size: 13px;
}

.padding-left-right {
    padding: 0px 10px 0px 10px;
}

.left-padding {
    padding-left: 15px;
}

.padding-3 {
    padding: 3px 3px 0px 3px;
}

.lista-sem-estilo {

    list-style : none;
}
.lista-limpa {

    margin-left: 0;
    padding-left: 0;
}

.limit-uf, .limit-div {
    max-height: 215px;
    overflow-y: auto;
}

.semi-opacity {

    opacity: 0.9;
}

.limit-div-2 {
    max-height: 200px;
    overflow-y: auto;
}

.limit-div-3 {
    max-height: 300px;
    overflow-y: auto;
}

.limit-div-4 {
    max-height: 400px;
    overflow-y: auto;
}

.limit-div-5 {
    max-height: 500px;
    overflow-y: auto;
}

.limit-div-6 {
    max-height: 600px;
    overflow-y: auto;
}

.limit-div-7 {
    max-height: 700px;
    overflow-y: auto;
}
.limit-modal-height {
    max-height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
}

.limit-modal-height-1 {
    max-height: 16em;
    overflow-y: auto;
    overflow-x: hidden;
}

.limit-modal-height-32em {
    max-height: 32em;
    overflow-y: auto;
    overflow-x: hidden;
}

.overflow {
    overflow-y: hidden;
    overflow-x: auto;
}

.overflow-y {
    overflow-y: auto;
}

.half-size-table {
    max-width: 50%;
}

.padding-top {
    padding-top: 15px;
}

.form-padding-top {
    padding-top: 25px;
}

td, th, .text {
    color: grey;
}

.carousel-control.left {
    background-image: none;
    
}


.carousel-control.right {
    background-image: none;
    
}

.carousel-control:focus, .carousel-control:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .0;
}

#button-menu {
    color: white;
}


/* Customização de stilos para popover (tooltip) */
.custom-title {
    margin: 0;
}

    .custom-title .glyphicon {
        vertical-align: top;
    }

/* Customização de stilos para collapse */
.coll {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.coll-xs,
.coll-group-xs > .coll {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.coll:after {
    font-family: "Glyphicons Halflings";
    content: "\e113";
}


.coll.collapsed:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
}

/*-----------------------------------------*/

.x_content canvas {
}

.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}

    .x_content h4 {
        font-size: 16px;
        font-weight: 500;
    }

.mail_list_column {
    border-left: 1px solid #DBDBDB;
}

.mail_view {
    border-left: 1px solid #DBDBDB;
}

.mail_list {
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 2px;
    display: inline-block;
}

    .mail_list .left {
        width: 5%;
        float: left;
        margin-right: 3%;
    }

    .mail_list .right {
        width: 90%;
        float: left;
    }

    .mail_list h3 {
        font-size: 15px;
        font-weight: bold;
        margin: 0px 0 6px;
    }

        .mail_list h3 small {
            float: right;
            color: #ADABAB;
            font-size: 11px;
            line-height: 20px;
        }

    .mail_list .badge {
        padding: 3px 6px;
        font-size: 8px;
        background: #BAB7B7;
    }

.mail_heading h4 {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 20px;
}

.attachment {
    margin-top: 30px;
}

    .attachment ul {
        width: 100%;
        list-style: none;
        padding-left: 0;
        display: inline-block;
        margin-bottom: 30px;
    }

        .attachment ul li {
            float: left;
            width: 150px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

            .attachment ul li img {
                height: 150px;
                border: 1px solid #ddd;
                padding: 5px;
                margin-bottom: 10px;
            }

            .attachment ul li span {
                float: right;
            }

    .attachment .file-name {
        float: left;
    }

    .attachment .links {
        width: 100%;
        display: inline-block;
    }

    .center {
        text-align: center;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

.label-purple {
    background-color: #673AB7;
}

.text-purple {
    color: #673AB7;
}
.select2-box {

    position: relative;
    top: 100%;
    /* left: 0; */
    width: 95%;
    float: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
}
.select2-ul {
    position: absolute;
    width: 100%;
    /*top: 95%;
    /* left: 0; 
    width: 100%;
    z-index: 1000;
    display: none;
    float: left; */
    max-height: 200px;
    z-index: 20000;
    overflow-y: auto;
    min-width: 160px;
    padding: 0;
    margin: -1px 0 0;
    font-size: 11px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0px 0px 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.select2-ul-relative {
    position: relative;
}

.select2-ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.select2-ul > li > a:hover,
.select2-ul > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
}
.select2-ul > .active > a,
.select2-ul > .active > a:hover,
.select2-ul > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.select2-ul > .disabled > a,
.select2-ul > .disabled > a:hover,
.select2-ul > .disabled > a:focus {
  color: #777;
}
.select2-ul > .disabled > a:hover,
.select2-ul > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.display {
    display: block;
}

.table tr td .label {
    
    font-size: 10px;
}

.padding-bottom {

    padding-bottom: 15px;
}

.padding-top-24 {

    padding-top: 24px;
}
 .switch {
    cursor: pointer;
    position: relative;
    padding-right: 10px;
    display: inline-block;
    margin-bottom: 5px;
    height: 26px;
}

 .switch > input {
    -webkit-appearance: none;
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    left: 0;
    top: 0;
}

 .draggable:hover {
    cursor: move;
}



.text-16 {

    font-size: 16px !important;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

.table-label {
    display:block;
    font-size: 90%;
}

.border-radius {

    border-radius: .25em;
}

.table-div {

    /*max-width: 200px;*/ 
    border: 1px #c3c3c3 solid; 
    width: 100%;
    /*margin: 10px; */
}

.table-div-body {
    max-height: 250px;
    overflow-y: auto;
    font-size: 11px;
}


.table-div-body a{

    font-size: 11px;
}

.line-jquery-connections {

    pointer-events:none;
}

.background-cinza {

    background-color: #e8e8e8 !important;
}

.div-filtro {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 250px;
    z-index: 1001;
}

.div-quebra{

    height: 25px;
}
/*form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}*/
@media only Screen and (max-width: 767px) {
    a, body {
        font-size: 10px;
    }

    td, th, .text {
        font-size: 10px;
    }

    #wrapper {
        padding-left: 0px;
    }

        #wrapper.toggled {
            padding-left: 0%;
        }

    #page-content-wrapper {
        width: 100%;
        padding: 2px;
    }


    .panel-heading {
        padding: 2px 2px;
    }

    .panel-body {
        padding: 2px;
    }


    .btn {
        font-size: 16px;
    }

    #button-menu {
        display: none;
    }

    .sidebar-nav > .sidebar-brand {
        height: 150px;
        font-size: 19px;
    }

    .no-mobile {
        display: none;
    }

    .collapse a {
        color: #9d9d9d;
        text-decoration: none;
        background-color: transparent;
    }

        .collapse a:hover {
            text-decoration: none;
            color: #fff;
            background-color: transparent;
        }

    .dropdown-menu {
        background-color: #fff !important;
    }

        .dropdown-menu a {
            font-size: 14px;
            color: #565252 !important;
        }

    .divider {
        background-color: #969393 !important;
    }

    button.navbar-toggle[aria-expanded="true"] {
        background-color: #5A5858 !important;
    }

    .logo-mobile, .logo-mobile:hover {
        position: relative;
        top: 15px;
        left: 30px;
        color: #fff;
        font-size: 19px;
    }

    div.navbar-collapse {
        padding-bottom: 15px;
    }

    .ajax-loader {
        position: fixed;
        top: 50%;
        left: 43%;
        z-index: 70000;
    }

    .img-principal {
        width: 100%;
    }

    .mail_list {
        margin-bottom: 5px;
        display: inline-block;
    }
}

@media Screen and (min-width: 768px) {

    .center-form {
        width: 375px;
        
    }
    .img-principal {
        width: 600px;
        height: 470px;
    }

    td, th, .text {
        font-size: 12px;
    }

    .form-control {
        height: 28px;
        font-size: 12px;
    }

    .form-control-filtro {
        height: 28px;
        font-size: 11px;
    }

    label {
        font-size: 13px;
        color: grey;
    }

    .label-filtro {
        font-size: 11px;
        color: grey;
    }
    .panel-heading {
        padding: 5px 15px;
    }


    .panel-corp > .panel-heading {
        padding: 10px 15px;
    }

    .btn {
        padding: 3px 12px;
    }

    #button-menu {
        padding: 5px 15px;
        font-size: 27px !important;
    }

    .mobile {
        display: none;
    }

    .no-mobile {
        display: block;
    }

    .dropdown-menu {
        z-index: 100000;
    }

    /** Copiado do site do boostrap -------------------------------*/
    .zero-clipboard {
        display: block;
    }

    .btn-clipboard {
        display: block;
        padding: 5px 8px;
        font-size: 12px;
        color: #767676;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #e1e1e8;
        border-radius: 0 4px 0 4px;
    }

    .edit-modal {
        width: 49px;
        position: absolute;
        right: 15px;
        z-index: 10;
    }   
    /** --------------------------------------------------------*/


}


a.clear-link {
    text-decoration:none;
    background-color: initial;
}

.crosshair {
    cursor: crosshair !important;
}

.pointer {
    cursor:pointer !important;
}


/* Css Smarty*/ 
/** 22. Forms
**************************************************************** **/
form div.row:last-child {
	margin-bottom:0;
}

form>select,
form>input,
form>textarea {
	margin-bottom:8px;
}
form .row {
    margin-bottom: 20px;
}


input.err,
input.error,
textarea.err,
textarea.error,
select.err,
select.error {
	border:#bf6464 2px dashed !important;
	background-color:#fdfbfb !important;

	-webkit-transition: all 0.2s ease-in;
	   -moz-transition: all 0.2s ease-in;
		 -o-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;
}


/*
	Form Validation
*/
form.validate label.error {
	position:absolute;
	background-color:#ff0000;
	color:#fff;
	left:0;
	z-index:10;
	bottom:-26px;
	left:36px;
	font-size:11px;
	font-weight:400;
	padding:3px;
	
	display:none !important;
}


/* 
	CUSTOM FILE UPLOAD 
	<input class="custom-file-upload" type="file" id="file" name="myfiles[]" multiple />
*/
.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.file-upload-wrapper {
	position: relative;
	margin-bottom: 5px;
}

.file-upload-input {
	width: 300px;
	font-size: 16px;
	padding: 11px 17px;

	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;

	float: left;
	/* IE 9 Fix */
}





/* FORM ELEMENTS */
.radio+.radio, 
.checkbox+.checkbox {
	margin-top:1px;
}
/**/
/* radios and checkboxes */
/**/
.radio,
.checkbox {
	display:inline-block;
	margin: 0 15px 3px 0;
	padding-left: 27px;
	font-size: 15px;
	line-height: 27px;
	color: #404040;
	cursor: pointer;
}
section.dark .radio,
section.dark .checkbox {
	color: #eee;
}
.radio input,
.checkbox input {
	position: absolute;
	/*left: -9999px;*/
}
.radio i,
.checkbox i {
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 19px;
	height: 19px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-color:rgba(0,0,0,0.3);
	background: rgba(255,255,255,0.3);
}
section.dark .radio i,
section.dark .checkbox i {
	border-color:rgba(255,255,255,0.3);
	background: transparent;
}
.radio i {
	-webkit-border-radius: 50% !important;
	   -moz-border-radius: 50% !important;
			border-radius: 50% !important;
}
.radio input + i:after,
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.radio input + i:after {
	content: '';
	top: 5px;
	left: 5px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.checkbox input + i:after {
	content: '\f00c';
	top: 0;
	left: 0px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.radio input:checked + i:after,
.checkbox input:checked + i:after {
	opacity: 1;
}
.inline-group {
	margin: 0 -30px -4px 0;
}
.inline-group:after {
	content: '';
	display: table;
	clear: both;
}
.inline-group .radio,
.inline-group .checkbox {
	float: left;
	margin-right: 30px;
}
.inline-group .radio:last-child,
.inline-group .checkbox:last-child {
	margin-bottom: 4px;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
	padding-top:0;
}

/**/
/* hover state */
/**/
.input:hover input,
.select:hover select,
.textarea:hover textarea,
.radio:hover i,
.checkbox:hover i,
.toggle:hover i {
	border-color: rgba(0,0,0,0.6);
}
section.dark .input:hover input,
section.dark .select:hover select,
section.dark .textarea:hover textarea,
section.dark .radio:hover i,
section.dark .checkbox:hover i,
section.dark .toggle:hover i {
	border-color: rgba(255,255,255,0.3);
}
.button:hover {
	opacity: 1;
}

/**/
/* focus state */
/**/
.input input:focus,
.select select:focus,
.textarea textarea:focus,
.radio input:focus + i,
.checkbox input:focus + i,
.toggle input:focus + i {
	border-color: rgba(0,0,0,0.6);
}
section.dark .input input:focus,
section.dark .select select:focus,
section.dark .textarea textarea:focus,
section.dark .radio input:focus + i,
section.dark .checkbox input:focus + i,
section.dark .toggle input:focus + i {
	border-color: rgba(255,255,255,0.7);
}


/**/
/* checked state */
/**/
.radio input + i:after {
	background-color:rgba(0,0,0,8);	
}
section.dark .radio input + i:after {
	background-color:rgba(255,255,255,8);	
}
.checkbox input + i:after {
	color: rgba(0,0,0,8);
}
section.dark .checkbox input + i:after {
	color: rgba(255,255,255,8);
}
.radio input:checked + i,
.checkbox input:checked + i,
.toggle input:checked + i {
	border-color:rgba(0,0,0,8);	
}
section.dark .radio input:checked + i,
section.dark .checkbox input:checked + i,
section.dark .toggle input:checked + i {
	border-color:rgba(255,255,255,8);	
}


section.dark select>option,
section.dark select>optgroup {
	background-color: #333;
}




/* @toggle switch elements 
-------------------------------------------------- */
.switch {
	cursor:pointer; 
	position: relative; 
	padding-right:10px;
    display: inline-block;
	margin-bottom:5px;
	height: 26px;
}

.switch > .switch-label {
	cursor:pointer;
    display: inline-block;
    position: relative;
    height: 25px;
	width: 58px;
	color: #fff;
    font-size: 10px;
    font-weight: bold;
	line-height: 20px;
    text-align: center;
    background: #B5C1C7;
    border: 2px solid #B5C1C7;
	text-transform: uppercase;
	font-family:Helvetica, Arial, sans-serif;

    -webkit-transition: 0.3s ease-out;
       -moz-transition: 0.3s ease-out;
		 -o-transition: 0.3s ease-out;
			transition: 0.3s ease-out;

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;	
}
.switch > .switch-label + span{ 
	display:inline-block; 
	padding-left:5px; 
	position:relative; top:-7px; 
}
.switch > .switch-label:before {
    content: attr(data-off);
    position: absolute;
    top: 1px;
    right: 3px;
    width: 33px;
}

.switch > .switch-label:after {
	content:"";	
    margin: 1px;
    width: 19px;
    height: 19px;
	display: block;
    background: #fff;
    -webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}

.switch > input {
	-webkit-appearance: none;
	position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
	left: 0;
	top: 0;
   
}

/* @toggle switch focus state 
-------------------------------------------------------------- */
.switch > input:focus { 
	outline: none; 
}
.switch > input:focus + .switch-label { 
	color: #fff; border-color: #a1a6a9; background:#a1a6a9; 
}
.switch > input:focus + .switch-label:after { 
	background: #fff; 
}

/* @toggle switch normal state 
--------------------------------------------------------------- */
.switch > input:checked + .switch-label {
    border-color: #333;
	background: #333; 
	padding-left: 33px;
	color: white;
}
	.switch.switch-success > input:checked + .switch-label {
		border-color:#4cae4c;
		background:#4cae4c;
	}
	.switch.switch-danger > input:checked + .switch-label {
		border-color:#d43f3a;
		background:#d43f3a;
	}
	.switch.switch-warning > input:checked + .switch-label {
		border-color:#eea236;
		background:#eea236;
	}
	.switch.switch-info > input:checked + .switch-label {
		border-color:#46b8da;
		background:#46b8da;
	}
	.switch.switch-default > input:checked + .switch-label {
		border-color:rgba(0,0,0,0.1);
		background:rgba(0,0,0,0.1);
	}
	.switch.switch-default > input:checked + .switch-label:before {
		color:#888;
	}

.switch > input:checked + .switch-label:before {
    content: attr(data-on);
    left: 1px;
	top:1px;
}

.switch > input:checked + .switch-label:after {
    margin: 1px;
    width: 19px;
    height: 19px;
    background: white;
}



/* @toggle switch normal state focus 
--------------------------------------------------------------------------------- */
.switch-round > .switch-label { 
	-webkit-border-radius: 13px;
	   -moz-border-radius: 13px;
		 -o-border-radius: 13px;
			border-radius: 13px; 
}
.switch-round > .switch-label + span{ 
	top:-2px; 
}	
.switch-round > .switch-label:before { 
	width: 33px; 
}
.switch-round > .switch-label:after {
    width: 19px;
	color:#B5C1C7;
	content: "\2022";
	font:20px/20px Times, Serif;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
}

.switch-round > input:checked + .switch-label { 
	padding-left: 33px; 
}
.switch-round > input:checked + .switch-label:after{ 
	color:#333; 
}





/* fancy upload
-------------------------------------------------------- */
.fancy-file-upload {
	position:relative;
	height:40px;
	overflow:hidden;
	display:block;
	margin-bottom:3px;
}
.fancy-file-upload>span.button {
	color:#fff;
	background-color:#333;
	position: absolute;
	top: 4px;
	right: 4px;
	top:4px;
	bottom:4px;
	line-height: 34px;
	padding: 0 16px;
	z-index: 10;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
			border-radius: 3px;
}
	.fancy-file-upload.fancy-file-primary>span.button {
		background-color:#333;
	}
	.fancy-file-upload.fancy-file-success>span.button {
		background-color:#4cae4c;
	}
	.fancy-file-upload.fancy-file-danger>span.button {
		background-color:#d43f3a;
	}
	.fancy-file-upload.fancy-file-warning>span.button {
		background-color:#eea236;
	}
	.fancy-file-upload.fancy-file-info>span.button {
		background-color:#46b8da;
	}
	.fancy-file-upload.fancy-file-default>span.button {
		color:#666;
		background-color:rgba(0,0,0,0.1);
	}

.fancy-file-upload>input[type=text] {
	background-color:transparent;
	padding-left: 36px;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
			border-radius: 3px;
}
.fancy-file-upload>input[type=file] {
	width: 100%;
	height: 100%;
	cursor: pointer;
	padding: 8px 10px;
	position: absolute;
	-moz-opacity: 0;
	opacity: 0;
	z-index: 11;
	bottom: 0;
	right: 0;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
			border-radius: 3px;
}
.fancy-file-upload>i {
	position:absolute;
	top: -1px;
	width: 42px;
	height: 42px;
	color: inherit;
	line-height: 42px;
	position: absolute;
	text-align: center;

    color:#888;

	z-index: 10;
}






/* fancy inputs / selects / textareas
-------------------------------------------------------- */
.fancy-form {
	position:relative;
	margin-bottom:3px;
}
.fancy-form .fancy-hint {
	padding:6px 10px;
	border-top:rgba(0,0,0,0.1) 1px solid;
	background-color:rgba(0,0,0,0.05);
	margin-top:-2px;
	border:#ddd 2px solid;
	border-top-width:1px;
	display:block;
	z-index:10;
}
	section.dark .fancy-form .fancy-hint { 
		border-color:#666;
		background-color:rgba(255,255,255,0.1);
	}
.fancy-form>i {
	position:absolute;
	top:50%; 
	left:15px;
	margin-top:-7px;
	z-index:10;
	width:14px; 
	height:14px;
	color:#888;
}
.fancy-form>textarea + i {
	top:0;
	margin-top:12px;
}
.fancy-form>textarea,
.fancy-form>input {
	padding-left:36px;
	margin:0;
}
.fancy-form.fancy-icon-inverse>i {
	right:15px;
	left:auto;
}
.fancy-form.fancy-icon-inverse>textarea,
.fancy-form.fancy-icon-inverse>input {
	padding-right:36px;
	padding-left:15px;
}


.fancy-form>select {
	display: block;
	padding: 9px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	text-indent: 0.01px;
	text-overflow: '';
	z-index: 10;
	margin: 0;
	cursor:pointer;
}
.fancy-form>.fancy-arrow,
.fancy-form>.fancy-arrow-double {
	position: absolute;
	top: 15px;
	right: 5px;
	left:auto;
	width: 24px;
	height: 24px;
	color: #B5C1C7;
	pointer-events: none;
	z-index: 16;
}
.fancy-form>.fancy-arrow:before,
.fancy-form>.fancy-arrow-double:after,
.fancy-form>.fancy-arrow-double:before {
	content: '';
	position: absolute;
	font: 12px monospace;
	font-style: normal;
	pointer-events: none;
	left: 6px;
}
.fancy-form>.fancy-arrow:before {
	content: '\25BC';
	bottom: 4px;
}
.fancy-form>.fancy-arrow-double:before {
	content: '\25BC';
	bottom: -1px;
}
.fancy-form>.fancy-arrow-double:after {
	content: '\25B2';
	top: -1px;
}

.fancy-form-select:before {
	position:absolute;
	content:' ';
	top: 2px;
	right: 2px;
	bottom: 2px;
	width: 37px;
	background: #F2F4FA;
	border-left: 1px solid rgba(0,0,0,0.08);
	
}

section.dark .fancy-form-select:before {
	background:#262626;
}


/* fancy tooltip
-------------------------------------------------------- */
.fancy-tooltip {
	position: absolute;
	z-index: 10;
	color: #fff;	
	background: #313131;
	left: -9999px;
	top:-100%;
	font-size: 11px;
	font-weight:normal;
	margin-top:20px;
	padding:10px;


    -webkit-opacity: 0;
     -khtml-opacity: 0;
       -moz-opacity: 0;
			opacity: 0;
    -ms-filter: alpha(opacity=0);
		filter: alpha(opacity=0);

	-webkit-transition: margin 0.6s, opacity 0.6s;
	   -moz-transition: margin 0.6s, opacity 0.6s;
		-ms-transition: margin 0.6s, opacity 0.6s;
		 -o-transition: margin 0.6s, opacity 0.6s;
			transition: margin 0.6s, opacity 0.6s;
}

.fancy-tooltip:after { 
	content: ''; 
	position: absolute; 

	top: 100%;
	left: 12px;
	border-top: 8px solid #313131;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.fancy-tooltip:hover .tooltip,
.fancy-tooltip:focus + .tooltip,
select.fancy-tooltip:focus ~ .tooltip { 
	opacity: 1; 
	z-index: 999; 
}

.fancy-form>select:focus + .fancy-tooltip,
.fancy-form>textarea:focus + .fancy-tooltip,
.fancy-form>input:focus + .fancy-tooltip {
	left:auto;
	top: -100%;
	margin-top:-8px;

    -webkit-opacity: 1;
     -khtml-opacity: 1;
       -moz-opacity: 1;
			opacity: 1;
    -ms-filter: alpha(opacity=100);
		filter: alpha(opacity=100);
}
.fancy-tooltip {
	padding:0;
}
input:focus + .fancy-tooltip {
	padding:10px;
}


/* @tooltip top left
----------------- */
.fancy-tooltip.top-left { top: -100%; left:0; right:auto; margin-bottom: 20px; }
.fancy-tooltip.top-left:after {
	left: 12px; right:auto;	
	border-top: 8px solid #313131;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}


/* @tooltip top right
----------------- */
.fancy-tooltip.top-right { top: -100%; left:auto; right:0; margin-bottom: 20px; }
.fancy-tooltip.top-right:after {
	right: 12px; left:auto;
	border-top: 8px solid #313131;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}





/* autosuggest [typehead]
-------------------------------------------------------- */
div.autosuggest pre {
	margin:0;
}
div.autosuggest .twitter-typeahead {
	display:block !important;
}
div.autosuggest .tt-menu {
	top: 38px !important;
	width: 100% !important;
	padding: 6px !important;
	background-color:#fff;
	border: #ccc 2px solid;
	border-top:0;
}
	section.dark div.autosuggest .tt-menu {
		border-color:#999;
		background-color:#333;
	}
div.autosuggest .tt-menu .tt-suggestion {
	cursor:pointer;
	padding:3px;
	border-bottom:rgba(0,0,0,0.05) 1px solid;
}
div.autosuggest .tt-menu .tt-suggestion:hover {
	background-color:rgba(0,0,0,0.03);
}
div.autosuggest .tt-menu .tt-suggestion:last-child {
	border:0;
}

div.autosuggest .tt-dataset {
	max-height: 200px;
	overflow-y: auto;
}




/* Form Stepper
-------------------------------------------------------- */
.stepper-wrap {
    position: relative;
    display:block;
    font: 11px Arial, sans-serif;
	margin-right:34px !important;
}

.stepper-wrap input {
	padding-right:20px;
	margin-right:10px;
}

.stepper-wrap .gui-input{
    -webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;	
}

.stepper-btn-wrap {
    position: absolute;
    top: 0;
    right: -34px;
    width: 39px;
    height: 100%;
    overflow: hidden;
	background: #F2F4FA;
    border: 2px solid #ddd;
    border-width:2px 2px 2px 1px;
	-webkit-background-clip: padding-box;        
    -moz-background-clip: padding;
	background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
	section.dark .stepper-btn-wrap {
		border-color:#666;
	}
.stepper-btn-wrap a {
    display: block;
    height: 50%;
    overflow: hidden;
    line-height: 100%;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	text-indent:-9999px;	
	background:#F2F4FA;
    cursor: default;
    color: #666;
}

.stepper-btn-wrap a:hover { 
	background:#F8FAFC;
}

.stepper-btn-up:before, 
.stepper-btn-dwn:before {
    content: '';
	border: 4px dashed; 
	pointer-events: none;
	border-color: #B5C1C7 rgba(255, 255, 255, 0);
    position: absolute;
	right:13px;
	z-index:1;
	height:0;  
	top:32%;
	width:0;
}


.stepper-btn-up:before { 
	border-bottom-style: solid; 
	border-top: none; 
} 

.stepper-btn-dwn:before { 
	margin-top: 10px; 
	border-top-style: solid; 
	border-bottom: none; 
}

/* UI SLIDER
------------------------------------------------------*/
.ui-slider .ui-slider-range, 
.progress > button[type="submit"]:hover, 
.progress > button[type="submit"], 
.progress-bar > .bar {
	background-size: 16px 16px;
	background-image: -webkit-linear-gradient(top left, 
	transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, 
	transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
	background-image: -moz-linear-gradient(top left, 
	transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, 
	transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
	background-image: -o-linear-gradient(top left, 
	transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, 
	transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
	background-image: linear-gradient(to bottom right, 
	transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, 
	transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
}
.slider-wrapper, 
.sliderv-wrapper { 
	background:#E2E8F1;
	position:relative;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
	section.dark .slider-wrapper, 
	section.dark .sliderv-wrapper { 
		background-color:#222;
	}
.ui-slider {
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.5em;
	height: 1.5em;
	cursor: default;
	background:#fff;
	text-decoration:none;
	border:3px solid #1ABC9C;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;	
	-ms-touch-action: none;
	touch-action: none;
	margin-top:-3px;
	outline:none;
}

.ui-slider .ui-slider-handle:before{
	content: '';
    width: 7px;
    height: 7px;
	position:absolute;
    background-color: #1ABC9C;
  	-webkit-border-radius: 10px;
	-moz-border-radius: 10px; 
	-o-border-radius: 10px; 
	border-radius: 10px;
	z-index: 2;	
	left:4px;
	top:4px;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	background-color: #1ABC9C;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;	
}

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range { filter: inherit; }
.ui-slider-horizontal { height: .5em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical, 
.sliderv-wrapper { width: .5em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.45em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
.slider-input{  color:#f6931f!important; border:0; background:none; }
.slider-group .sliderv-wrapper{ height:150px; float:left; margin:15px 15px;   }
.ui-slider .ui-state-active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

	/* @ui slider tooltip
	--------------------- */
	.slider-tip {
		display: block;
		position: absolute;
		text-align: center;
		font: 10pt Tahoma, Arial, sans-serif ;
		background: #34495E;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;	
		padding:10px;
		color: #fff;
	}

	.slider-wrapper .slider-tip{ top: -50px; left:-15px; }
	.slider-wrapper .slider-tip:after { 
		content: ''; 
		position: absolute; 
		top: 98%;
		left: 35%;
		border-top: 8px solid #34495E;
		border-right: 8px solid transparent;
		border-left: 8px solid transparent;	
	}

	.sliderv-wrapper .slider-tip{ left: 30px; top:-12px; }
	.sliderv-wrapper .slider-tip:after{ 
		content: ''; 
		position: absolute;
		top:30%;
		right: 98%;
		border-right: 8px solid #34495E;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;	
	}

	/* @ui slider themes
	--------------------- */
	.warning-slider .ui-slider .ui-slider-handle{ border-color:#ed9c28; }
	.warning-slider .ui-slider .ui-slider-handle:before,
	.warning-slider .ui-slider .ui-slider-range { background-color:#ed9c28;  }
	.danger-slider .ui-slider .ui-slider-handle{ border-color:#e74c3c; }
	.danger-slider .ui-slider .ui-slider-handle:before,
	.danger-slider .ui-slider .ui-slider-range { background-color:#e74c3c;  }
	.purple-slider .ui-slider .ui-slider-handle{ border-color:#9B59B6; }
	.purple-slider .ui-slider .ui-slider-handle:before,
	.purple-slider .ui-slider .ui-slider-range { background-color:#9B59B6;  }
	.info-slider .ui-slider .ui-slider-handle{ border-color:#3498db; }
	.info-slider .ui-slider .ui-slider-handle:before,
	.info-slider .ui-slider .ui-slider-range { background-color:#3498db;  }
	.black-slider .ui-slider .ui-slider-handle{ border-color:#34495e; }
	.black-slider .ui-slider .ui-slider-handle:before,
	.black-slider .ui-slider .ui-slider-range { background-color:#34495e;  }
	.success-slider .ui-slider .ui-slider-handle{ border-color:#2ecc71; }
	.success-slider .ui-slider .ui-slider-handle:before,
	.success-slider .ui-slider .ui-slider-range { background-color:#2ecc71;  }

	.yellow-slider .ui-slider .ui-slider-handle{ border-color:#ed9c28; }
	.yellow-slider .ui-slider .ui-slider-handle:before,
	.yellow-slider .ui-slider .ui-slider-range { background-color:#ed9c28;  }

	/* UI slider addons | labels + tooltips
	-------------------- */
	.ui-slider-horizontal.ui-slider-pips {  margin-bottom: 0.5em; }
	.ui-slider-pips .ui-slider-label,
	.ui-slider-pips .ui-slider-pip-hide { display: none; }
	.ui-slider-pips .ui-slider-pip-label .ui-slider-label { display: block; }
	.ui-slider-pips .ui-slider-pip { 
		width: 2em;
		height: 1em;
		line-height: 1em;
		position: absolute;
		font-size: 0.8em;
		color: #999;
		overflow: visible;
		text-align: center;
		top: 10px; 
		left: 20px;
		margin-left: -1em;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.ui-slider-pips .ui-slider-line {
		background: #999;
		width: 1px;
		height: 3px;
		position: absolute;
		left: 50%;
	}

	.ui-slider-pips .ui-slider-label {
		position: absolute;
		top: 5px;
		left: 50%;
		margin-left: -1em;
		width: 2em;
	}

	.ui-slider-pip:hover .ui-slider-label { color: black; font-weight: bold; }
	.ui-slider-vertical.ui-slider-pips { margin-bottom: 1em; margin-right: 10px; }
	.ui-slider-vertical.ui-slider-pips .ui-slider-pip {
		text-align: left;
		top: auto;
		left: 10px;
		margin-left: 0;
		margin-bottom: -0.5em;
	}

	.ui-slider-vertical.ui-slider-pips .ui-slider-line {
		width: 3px;
		height: 1px;
		position: absolute;
		top: 50%;
		left: 0;
	}

	.ui-slider-vertical.ui-slider-pips .ui-slider-label {
		top: 50%;
		left: 0.5em;
		margin-left: 0;
		margin-top: -0.5em;
		width: 2em;
	}


	/* UI slider tooltips 
	--------------------- */
	.ui-slider-float .ui-slider-handle:focus,
	.ui-slider-float .ui-slider-handle:focus .ui-slider-tip,
	.ui-slider-float .ui-slider-handle:focus .ui-slider-tip-label { outline: none; }
	.ui-slider-float .ui-slider-tip,
	.ui-slider-float .ui-slider-tip-label { 
		position: absolute;
		visibility: hidden;
		margin-top: -10px;
		display: block;
		width: auto;
		padding:5px 10px;
		margin-left: -50%;
		line-height: 20px;
		background:#000;
		border-radius: 3px;
		text-align: center;
		font-size: 11px;
		font-weight:bold;
		color:#fff;
		opacity:0;
		-webkit-transition-duration: 200ms, 200ms, 0;
		-moz-transition-duration: 200ms, 200ms, 0;
		-ms-transition-duration: 200ms, 200ms, 0;
		transition-duration: 200ms, 200ms, 0;
		-webkit-transition-property: opacity, top, visibility;
		-moz-transition-property: opacity, top, visibility;
		-ms-transition-property: opacity, top, visibility;
		transition-property: opacity, top, visibility;
		-webkit-transition-delay: 0, 0, 200ms;
		-moz-transition-delay: 0, 0, 200ms;
		-ms-transition-delay: 0, 0, 200ms;
		transition-delay: 0, 0, 200ms;
	}
	   
	.ui-slider-float .ui-slider-handle:hover .ui-slider-tip,
	.ui-slider-float .ui-slider-handle:focus .ui-slider-tip,
	.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label {
		opacity: 1;
		top: -30px;
		visibility: visible;
		-webkit-transition-delay:200ms, 200ms, 0;
		-moz-transition-delay:200ms, 200ms, 0;
		-ms-transition-delay:200ms, 200ms, 0;
		transition-delay:200ms, 200ms, 0;
	}

	.ui-slider-float .ui-slider-pip .ui-slider-tip-label { top: 42px; }
	.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label { top: 32px; font-weight: normal; }

	.ui-slider-float .ui-slider-tip:after, 
	.ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
		content: " ";
		width: 0;
		height: 0;
		border-top: 8px solid #000;
		border-right: 8px solid transparent;
		border-left: 8px solid transparent;
		position: absolute;
		bottom: -6px;
		left: 30%;
	}

	
	/* Dropzone File Upload */
	.dropzone {
		cursor:pointer !important;

		background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0.25,rgba(0,0,0,.03)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(0,0,0,.03)),color-stop(0.75,rgba(0,0,0,.03)),color-stop(0.75,transparent),to(transparent)) !important;
		background-image: -webkit-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent) !important;
		background-image: -moz-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent) !important;
		background-image: -ms-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent) !important;
		background-image: -o-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent) !important;
		background-image: linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent) !important;
		background-color: #FAFCFD !important;
		background-size: 16px 16px !important;

		-webkit-border-radius: 2px !important;
		   -moz-border-radius: 2px !important;
				border-radius: 2px !important;
	}
	@media only screen and (max-width: 768px) {
		.dropzone {
			min-height:200px !important;
		}
		.dropzone .dz-default.dz-message {
			width:100% !important;
			left:0 !important;
			top:44% !important;
			margin-top:0 !important;
			margin-left:0 !important;
			background-image:none !important;
		}
		.dropzone .dz-default.dz-message span {
			display:block !important;
			text-align:center;
			font-size:25px;
			font-weight:bold;
		}
	}
	@media only screen and (max-width: 482px) {
		.dropzone {
			min-height:100px !important;
		}
		.dropzone .dz-default.dz-message {
			top:40% !important;
		}
		.dropzone .dz-default.dz-message span {
			font-size:15px;
		}
	}
/**-------------------------------------------------------------------------------------------------------------------------------------------------*/


/** 35. Process Steps
*************************************************** **/
.process-wizard {padding: 0 0 10px 0;}
.process-wizard > .process-wizard-step {padding: 0; position: relative;}
.process-wizard > .process-wizard-step + .process-wizard-step {}
.process-wizard > .process-wizard-step .process-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.process-wizard > .process-wizard-step .process-wizard-info {color: #999; font-size: 14px;}
.process-wizard > .process-wizard-step > .process-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 47px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.process-wizard > .process-wizard-step > .process-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.process-wizard > .process-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.process-wizard > .process-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.process-wizard > .process-wizard-step.complete > .progress > .progress-bar {width:100%;}
.process-wizard > .process-wizard-step.active > .progress > .progress-bar {width:50%;}
.process-wizard > .process-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.process-wizard > .process-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.process-wizard > .process-wizard-step.disabled > .process-wizard-dot {background-color: #f5f5f5;}
.process-wizard > .process-wizard-step.disabled > .process-wizard-dot:after {opacity: 0;}
.process-wizard > .process-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.process-wizard > .process-wizard-step:last-child  > .progress {width: 50%;}
.process-wizard > .process-wizard-step.disabled a.process-wizard-dot{ pointer-events: none; }

/* default */
.process-wizard-default > .process-wizard-step > .process-wizard-dot,
.process-wizard-default > .process-wizard-step > .progress > .progress-bar {
	background:#ccc;
}
.process-wizard-default > .process-wizard-step > .process-wizard-dot:after {
	background-color:#666;
}

/* info */
.process-wizard-info > .process-wizard-step > .process-wizard-dot,
.process-wizard-info > .process-wizard-step > .progress > .progress-bar {
	background:#d9edf7;
}
.process-wizard-info > .process-wizard-step > .process-wizard-dot:after {
	background-color:#31708f;
}

/* warning */
.process-wizard-warning > .process-wizard-step > .process-wizard-dot,
.process-wizard-warning > .process-wizard-step > .progress > .progress-bar {
	background:#fbe8aa;
}
.process-wizard-warning > .process-wizard-step > .process-wizard-dot:after {
	background-color:#fbbd19;
}

/* success */
.process-wizard-success > .process-wizard-step > .process-wizard-dot,
.process-wizard-success > .process-wizard-step > .progress > .progress-bar {
	background:#d6e9c6;
}
.process-wizard-success > .process-wizard-step > .process-wizard-dot:after {
	background-color:#3c763d;
}

/* success */
.process-wizard-danger > .process-wizard-step > .process-wizard-dot,
.process-wizard-danger > .process-wizard-step > .progress > .progress-bar {
	background:#ebccd1;
}
.process-wizard-danger > .process-wizard-step > .process-wizard-dot:after {
	background-color:#a94442;
}


/* Tab Process Steps */
ul.process-steps,
ul.process-steps li {
	border:0 !important;
	text-align: center;
}
ul.process-steps li a {
	width:50px;
	height:50px;
	font-size:30px;
	line-height:30px;
	text-align: center;
	display:inline-block;
	color:#111;
	border:#666 1px solid !important;
	background-color:#fff;

	-webkit-border-radius: 50% !important;
	   -moz-border-radius: 50% !important;
			border-radius: 50% !important;
}

ul.process-steps li.active a,
ul.process-steps li.active:hover>a {
	color:#fff !important;
	background-color:#333;
}

ul.process-steps li:after, 
ul.process-steps li:before {
	content: '';
	position: absolute;
	top: 26px;
	left: 0;
	width: 50%;
	border-top: 1px dashed #DDD;
}
ul.process-steps li:first-child:before {
	display:none;
}
ul.process-steps li:last-child:after {
	display:none;
}
ul.process-steps li:after {
	left: auto;
	right: 0;
	margin: 0 -26px 0 0;
}
ul.process-steps li h1,
ul.process-steps li h2,
ul.process-steps li h3,
ul.process-steps li h4,
ul.process-steps li h5,
ul.process-steps li h6 {
	margin:20px 0 0 0;
}


ul.process-steps li>a>i {
	margin:0;
	padding:0;
	margin-left:-4px;
	margin-top:-1px;
	font-size:28px;
	line-height:28px;
}
ul.process-steps li>a>i.fa {
	font-size:30px;
	line-height:30px;
}

ul.process-steps.process-steps-square li a {
	-webkit-border-radius: 3px !important;
	   -moz-border-radius: 3px !important;
			border-radius: 3px !important;
}

@media only screen and (max-width: 768px) {
	ul.process-steps li:after, 
	ul.process-steps li:before  {
		display:none;
	}

	ul.process-steps li h1,
	ul.process-steps li h2,
	ul.process-steps li h3,
	ul.process-steps li h4,
	ul.process-steps li h5,
	ul.process-steps li h6 {
		margin:10px 0 30px 0;
	}

}

@media only screen and (max-width: 482px) {
	ul.process-steps li>a {
		display:inline-block !important;
	}
	ul.process-steps li h1,
	ul.process-steps li h2,
	ul.process-steps li h3,
	ul.process-steps li h4,
	ul.process-steps li h5,
	ul.process-steps li h6 {
		margin:3px 0;
		display:block;
	}
	ul.process-steps li {
		padding:10px 0;
	}
}


/*--------------------------------------*/

#notificacao-popup {

    z-index: 2000000;
    position: fixed;
    bottom: 3px;
    right: 10px;
    width: 300px;
}


/*
    Original version: http://www.bootply.com/128062
    
    This version adds support for IE 10+ and Firefox.
*/

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

.linha-desativada {
    background-color: lightgrey ;
}

tr.linha-desativada td {
    color: #fff;
}

.dropdown-menu-directive{

    font-size: 12px;
    width: 100px;
    position: absolute;
    top: 24px;
}

.btn-group-directive{

    display: block;
}

.dropdown-line{

    line-height: 74px;
}

.magin-left {
    margin-left: 15px;
}

.margin-left {
    margin-left: 15px;
}

.margin-right-sm {
    margin-right: 5px;
}

.btn-icon {
    padding: 4px 5px 0px 5px;   
}

div.alert-default {
    background-color: rgba(0,0,0,0.1);
}

div.alert-filtro {
    border-left-color: rgba(0,0,0,0.1);
    border-width: 1px;
    border-left-width: 5px;
    margin-bottom: 10px;
}

.padding-5 {

    padding: 5px;
}

.nowrap {

    white-space:nowrap;
}

.sort-icon {
    font-size: 15px;
}
.modal-fullscreen {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.notify-count {
    position: absolute;
    left: -5px;
    opacity: 0.5;
}

.popover-max {

    width: 100%;
    max-width: 600px;
}

.input-filtro-topo{

    width: 130px !important;
}

.panel-widget{

    min-height: 400px;
}

.break-word{

    word-break:break-all;
}