@{
    ViewBag.Title = "Sobre";
}

<form>
    <div class="row">
        <div class="col-lg-12" style="text-align: center; padding-top: 40px;">
            <iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="650" height="500" src="https://prezi.com/embed/tqd347mm7zd0/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWkRDVE93YVVDTVN5dWF2eDNlZVpKdm5vb1lHTkd2N2NYRVJuL05rSmFIc3l1YUF1QUxUYmorbjQreFU5ZVU9&amp;landing_sign=1Uw5pvxpFBYO_3S9QCxJnz5VYo9-Lfkd8UuXrvyg10o"></iframe>
        </div>
    </div>
</form>
