<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="COADCORP.ADQUIRENTE" value="1" />
    <add key="COADCORP.AMBIENTE" value="DEV" />
    <add key="COAD.RESOURCES.MINIFY.OFF" value="0" />
    <add key="COADCORP.SERVER.HOST-NAME" value="http://localhost:49480/" />
    <add key="COADCORP.TEST.MAIL" value="dasilva@coad.com.br" />
    <add key="COADCORP.TEST.MAIL.ATIVAR" value="true" />
    <add key="COADCORP.NFe.XML.UploadPath" value="Nfe" />
    <add key="COADRESTService.WEBAPI.PATH" value="https://localhost:44391/" />
    <add key="COADCORP.NFse.DETALHE.URL" value="https://homologacao.notacarioca.rio.gov.br/nfse.aspx" />
    <add key="COADCORP.NFe.DANFE.URL" value="http://hom.nfe.fazenda.gov.br/portal/consultaRecaptcha.aspx" />
    <add key="COADPAG.CHECKOUT.PATH" value="http://corp.coad.com.br:7800/Checkout/Pagamento/" />
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>