<div class="row">
    <div class="col-md-3 offset-md-1">
        <a class="btn btn-primary" href="#!/home" role="button">Voltar</a>
    </div>
</div>

<div ng-controller="AloquotasContribuicoesController">
    <div class="container">
        <div class="row justify-content-c">
            <div class="col-md-12 col-sm-12 col-12" style="background-color: #fbfbfb;">
                <iframe src="http://corp.coad.com.br/TabelaDinamica/Simulador/0562e769-6383-4f24-b6a6-48f77044659c" class="col-md-12 col-sm-12 col-12 embed-responsive embed-responsive-16by9" style="height: 2500px;" ></iframe>
            </div>
        </div>
    </div>
</div>