<div class="row">
    <div class="col-md-3 offset-md-1">
        <a class="btn btn-primary" href="#!/home" role="button">Voltar</a>
    </div>
</div>

<div ng-controller="EmpregadosController">
    <div class="container">
        <div class="row justify-content-c">
            <div class="col-md-12 col-sm-12 col-12" style="background-color: #fbfbfb;">
                <iframe src="http://corp.coad.com.br/TabelaDinamica/Simulador/57a0b08d-056c-43b1-a3d3-1fba1d0d2f87" class="col-md-12 col-sm-12 col-12 embed-responsive embed-responsive-16by9" style="height: 2500px;" ></iframe>
            </div>
        </div>
    </div>
</div>