<div ng-controller="HomeController">
    <section class="b-0 pt-0 pb-0" style="background-color: #fbfbfb;">
        <div class="container text-center">
            <div class="clearfix pt-80 pb-80">
                <h3 class="fs-12 text-dark">
                    Área especial de simuladores desenvolvida pensando em facilitar o seu dia a dia.
                    <br />
                    Escolha, abaixo, o assunto que deseja fazer a simulação.
                </h3>
                <div class="alert alert-mini alert-default mb-30">
                    <h3 class="fs-12 text-dark">
                        <i class="fa fa-warning" aria-hidden="true"></i>
                        Caso algumas das novas funcionalidades não estejam aparecendo,
                        <br />
                        exclua o cache do seu navegador ou pressione CTRL + F5.
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/PatronalEmpregadores">
                    <figure class="figure">
                        <img src="../Images/logo/temp/patronal-empregadores.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Contribuição Sindical em Atraso</h5>
                            <p class="text-center">Patronal / Empregadores</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/ProfissionaisLiberais">
                    <figure class="figure">
                        <img src="../Images/logo/temp/profissionais-liberais.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Contribuição Sindical em Atraso</h5>
                            <p class="text-center">Profissionais Liberais</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/EmpregadoresRurais">
                    <figure class="figure">
                        <img src="../Images/logo/temp/empregadores-rurais.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Contribuição Sindical em Atraso</h5>
                            <p class="text-center">Empregadores Rurais</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/Empregados">
                    <figure class="figure">
                        <img src="../Images/logo/temp/empregados.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Contribuição Sindical em Atraso</h5>
                            <p class="text-center">Empregados</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/ContribuicaoRecolher">
                    <figure class="figure">
                        <img src="../Images/logo/temp/contribuicao-a-recolher.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Contribuição Sindical Patronal</h5>
                            <p class="text-center">Calcule o valor da contribuição a recolher</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/AliquotasContribuicoes">
                    <figure class="figure">
                        <img src="../Images/logo/temp/aliquota-contribuicoes.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">CPP/FPAS</h5>
                            <p class="text-center">Alíquotas das contribuições: Patronal Previdenciária, para Terceiros e RAT</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/CronogramaEsocial">
                    <figure class="figure">
                        <img src="../Images/logo/temp/cronograma-esocial.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Cronograma e-Social</h5>
                            <p class="text-center">Cronograma detalhado do e-Social</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/QuantidadeMaximaEstagiario">
                    <figure class="figure">
                        <img src="../Images/logo/temp/quantidade-maxima-estagiarios.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Estagiário</h5>
                            <p class="text-center">Calcule a quantidade máxima de estagiários permitidos na sua empresa</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/AliquotaAcordoCnae">
                    <figure class="figure">
                        <img src="../Images/logo/temp/aliq-acordo-cnae.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">RAT - Alíquotas</h5>
                            <p class="text-center">Identifique a alíquota de acordo com a sua CNAE</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/RetencaoPrevidenciaria">
                    <figure class="figure">
                        <img src="../Images/logo/temp/retencao-previdenciaria.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">RETENÇÃO DO INSS</h5>
                            <p class="text-center">Identifique os serviços sujeitos à retenção de Contribuição Previdenciária</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/SalarioAprendiz">
                    <figure class="figure">
                        <img src="../Images/logo/temp/salario-aprendiz.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Salário do Aprendiz</h5>
                            <p class="text-center">Calcule o valor do salário do aprendiz</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/SalarioFamilia">
                    <figure class="figure">
                        <img src="../Images/logo/temp/salario-familia.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">Salário-Família</h5>
                            <p class="text-center">Calcule o valor do Salário-Família</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
                <a href="#!/SeguroDesemprego">
                    <figure class="figure">
                        <img src="../Images/logo/temp/seguro-desemprego.png" class="figure-img img-fluid img-thumbnail" alt="...">
                        <figcaption class="figure-caption">
                            <h5 class="text-center">RETENÇÃO DO INSS</h5>
                            <p class="text-center">Identifique os serviços sujeitos à retenção de Contribuição Previdenciária</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
            </div>
            <div class="offset-md-3 col-md-2 col-sm-4 col-4" style="background-color: #fbfbfb;">
            </div>
        </div>
    </div>
</div>