<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="COADSYSEntities" connectionString="metadata=res://*/Repositorios.Contexto.COADSYS.csdl|res://*/Repositorios.Contexto.COADSYS.ssdl|res://*/Repositorios.Contexto.COADSYS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.58;initial catalog=COADSYS;user id=satelite;password=C04dC0nsult0r14!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COADCORPEntities" connectionString="metadata=res://*/Repositorios.Contexto.COADCORP.csdl|res://*/Repositorios.Contexto.COADCORP.ssdl|res://*/Repositorios.Contexto.COADCORP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.58;initial catalog=COADCORP;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COADGEDEntities" connectionString="metadata=res://*/Repositorios.Contexto.COADGED.csdl|res://*/Repositorios.Contexto.COADGED.ssdl|res://*/Repositorios.Contexto.COADGED.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.58;initial catalog=COADGED;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="prospectadosEntities" connectionString="metadata=res://*/Repositorios.Contexto.Base.Prospectados.csdl|res://*/Repositorios.Contexto.Base.Prospectados.ssdl|res://*/Repositorios.Contexto.Base.Prospectados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.228.5.58;initial catalog=prospectados;persist security info=True;user id=satelite;password=C04dC0nsult0r14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="666000" />
    <add key="COADCORP.ADQUIRENTE" value="1" />
    <add key="COADCORP.AMBIENTE" value="HOMOL" />
    <add key="COADCORP.SERVER.HOST-NAME" value="http://localhost:49480/" />
    <add key="COADCORP.TEST.MAIL" value="dasilva@coad.com.br" />
    <add key="COADCORP.TEST.MAIL.ATIVAR" value="true" />
    <add key="COADCORP.NFe.XML.UploadPath" value="Nfe" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NReco.PdfGenerator" publicKeyToken="231663d50a41b451" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.15.0" newVersion="1.1.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers></entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICoadService" />
        <binding name="BasicHttpBinding_ICoadService1" />
        <binding name="BasicHttpBinding_ICoadService2" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_ICoadService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_ICoadService1">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_ICoadService2">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:48701/CoadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoadService" contract="ServiceReference1.ICoadService" name="BasicHttpBinding_ICoadService" />
      <endpoint address="http://localhost:48701/CoadService.svc/mex" binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ICoadService" contract="ServiceReference1.ICoadService" name="MetadataExchangeHttpBinding_ICoadService" />
      <endpoint address="http://localhost:48701/CoadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoadService1" contract="ServiceReference.ICoadService" name="BasicHttpBinding_ICoadService1" />
      <endpoint address="http://localhost:48701/CoadService.svc/mex" binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ICoadService1" contract="ServiceReference.ICoadService" name="MetadataExchangeHttpBinding_ICoadService1" />
      <endpoint address="http://localhost:48701/CoadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoadService2" contract="ServiceReference1.ICoadService" name="BasicHttpBinding_ICoadService2" />
      <endpoint address="http://localhost:48701/CoadService.svc/mex" binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ICoadService2" contract="ServiceReference1.ICoadService" name="MetadataExchangeHttpBinding_ICoadService2" />
    </client>
  </system.serviceModel>
</configuration>